.ld_dataset { font-size: 11px; }
.edited_ld_dataset {
	border: 1px solid #999999;
	padding: 5px;
	font-size: 11px;
}
.fx_panel {
    display: none; position: absolute; z-index : 88;
	background-color: #f9f9f9; border: 1px solid #aaa; box-shadow: 2px 2px 3px #ccc ;
}
.fx_button_div { text-align: center; }
.fx_nowrap { white-space: nowrap; }
.fx_button { background-color: #f9f9f9; cursor: pointer; }
.fx_button:hover { background-color: #d7d7d7; }
.fx_button_div button { padding: 0 10px; margin: 5px 5px 0; }
.fx_modal_cover {
	position : absolute;
	z-index : 50;
	display: none;
	opacity: .6;
	background-color: white;
	height: 100%;
	width: 100%;
	top: 0;
}
.fx_wrapper { position: relative; }
.context-menu-item { padding: .2em .4em .2em .6em !important; }

/**********************************************
      Icons size and color
**********************************************/

.edited_ld_dataset .fa-bars { font-size: 16px; }
.edited_ld_dataset .fa-trash-o { font-size: 15px; }
.fx_constant_panel .fa-trash-o { font-size: 13px; }
.edited_ld_dataset .fa-check { font-size: 14px; }
.edited_ld_dataset .fa-cog { font-size: 16px; }
 .fx_add_col { font-size: 14px; }
 .edited_ld_dataset .fa, .edited_ld_dataset .far, .edited_ld_dataset .fas { color: #555; }

 /************************************************************
                      CSS du tableau
 *************************************************************/
 .fx_table_wrapper { overflow: auto; }
 .fx_table {
	border-collapse :collapse;
	margin-right: 5px;
	display: inline-block;
 }
 .fx_table td, .fx_table th { user-select: none; }
 .fx_table td { border: solid 1px #ccc; }
 .fx_table th { border-bottom: solid 1px #ccc; }
 .fx_col_header_txt { font-style: italic; color: #6c6c6c; }
 .fx_cell {
	 min-width: 35px;
	 background-color: white;
 }
.fx_si_row .fx_row_title:hover ~ td , .fx_default_row .fx_row_title:hover ~ td { background-color: #eee; }

/* title row */
.fx_table thead th {
	position: sticky;
	top: 1px;
	outline: 1px solid #b1baae;
	background-color: #f9f9f9;
	text-align: center;
}
 .fx_main_menu {
	 padding: 2px 5px 1px;
	 font-style: italic;
	 border-left: 1px solid #ccc;
 }
 .fx_header_name { padding: 2px 4px; }

/* first column */
.fx_row_title {
	text-align: right;
	color: #555;
	padding: 0 4px;
	min-width: 8px;
	background-color: #f9f9f9;
	white-space: nowrap;
}

/* formula row */
.fx_formula_row { display: none; }
.fx_formula_row .fx_row_title { background-color: #d4e1ca; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.fx_formula_row .fx_cell { padding-top: 2px; }
.fx_formula_cell {
	font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	max-width: 100px;
}
 .fx_editable_formula_cell:hover { border: solid 1px #91c56e; }
 .fx_formula_row .fx_no_formula { background-color: #f9f9f9; }

/* stat indicators row */
.fx_si_row .fx_row_title { background-color: #CCE0E6; }
.fx_si_row .fx_cell { background-color: #E5EFF2; }

 /* cell values */
 /* classes on td */
 .fx_calc { background-color: #f6fbf1; }
 /* classes on div */
 .fx_cell_val, .fx_si_cell_val, .fx_formula_cell {
	 box-sizing: border-box;
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
 }
 .fx_cell_val, .fx_formula_cell {
	 border: solid 1px white;
	 padding: 1px;
 }
 .fx_cell_val, .fx_si_cell_val { text-align: right; }
 .fx_calc .fx_cell_val { border-color: #f6fbf1; }
 .edited_ld_dataset .fx_cell_val, .edited_ld_dataset .fx_formula_cell, .fx_si_cell_val { padding: 2px; }
 .fx_text .fx_cell_val {
	 text-align: left;
	 max-width: 120px;
 }
 .fx_text .fx_edited_cell {
	 max-width: none;
 }
 .fx_ignored .fx_cell_val {
	 border: solid 1px orange;
	 color: #654905;
 }
 .fx_editable_cell { outline: none; }
 .fx_editable_cell:hover { border: solid 1px #bbb; }
 .fx_selected_cell {
	border: solid 1px #777 !important;
	max-width: 350px;
	outline: none;
	caret-color: transparent;
 }
 .fx_ignored > .fx_selected_cell { border: solid 1px orange !important; }
 .fx_formula_row .fx_selected_cell { border: solid 1px #64894a; }
 .fx_ignored > .fx_edited_cell { border-width: 2px !important;; }
 .fx_edited_cell {
	border: solid 2px #2c50ff !important;
	background-color: #ffffff;
	cursor: text;
	caret-color: black;
 }
.fx_text .fx_selected_cell { padding-left: 2px; }
.fx_ignored_cb {
	display: none;
	float: left;
	margin: 2px 1px;
}
.fx_error {
	border: solid 1px red !important;
}

/* copy paste */
 .fx_highlighted_col, .fx_highlighted_row > td:first-of-type { background-color: #fffcc2 !important; }
 .fx_highlighted_cell { background-color: #fffcc2; }

/* boutons d'ajout de ligne et colonne */
.fx_show_rows td, .fx_add_row td, .fx_add_col { text-align: center; }
 .fx_show_rows, .fx_add_row { line-height: 20px; }
.fx_add_row td { font-size: 11px; color: #555; }
.fx_add_col { width: 20px ; min-width: 20px !important ; }
.fx_num_rows_added {
	width: 20px;
	text-align: center;
	font-size: 10px;
	color: #666;
	margin: 1px;
}

/* panneau des constantes */
.fx_constant_panel { outline: none; padding: 5px 5px 10px 5px; }
.fx_constant_panel table{ border-collapse: collapse; margin: 0 7px; }
.fx_constant_panel tr { height: 18px ; }
.fx_constant_panel td { padding: 3px ; border: 1px solid #999; }
.fx_constant_panel th { padding: 3px ; }
.fx_constant_panel td, .fx_constant_panel div { text-align: center ; }
.fx_constant_panel_del { border: 0 !important; padding-left: 6px !important; padding-right: 0 !important; font-size: 13px; }
 .fx_constant_panel .fx_button_div { padding-top: 8px; }
 .fx_constant_editable { background-color: white; }
 .fx_constant_panel_del i { cursor: pointer; }

/* panel import */
.fx_import_panel { padding: 12px 10px 2px 10px; }
.fx_import_title, .fx_export_title { font-size: 12px; padding-bottom: 12px; font-weight: bold; }
.fx_import_div, .fx_export_div { padding-bottom: 10px; }
.fx_import_panel select, .fx_export_panel select { padding: 2px; }
.fx_import_panel input, .fx_import_panel .fx_import_panel_csv_options_title { cursor: pointer; }
.fx_import_alerts { color: red; }  
.fx_import_alerts i { color: black; }
.fx_import_panel div.fx_import_panel_csv, div.fx_export_panel_csv { margin: 2px 0 2px 30px; }
.fx_import_panel .bold { font-weight: bold; }
.fx_import_panel_csv_options_title .toggle-section { font-size: 13px; }

 /* export panel */
 .fx_export_panel { padding: 10px; }

 /* Fit-settings panel */
.fx_settings_panel {
	padding: 10px;
	max-width: 450px;
}
.fx_settings_panel .fx_setting_label {
	font-weight: bold;
	margin-bottom: 5px;
}
.fx_settings_panel .fx_setting_auto_adjust {
	margin-top: 10px;
}
.fx_settings_panel .fx_setting_option { margin: 0 0 5px 10px; }
.fx_settings_panel .fx_setting_label_help {
	margin-left: 5px;
	font-size: 130%;
}

 /* Menus du tableau */
ul.context-menu-list { font-size: 12px; }
.context-menu-submenu {padding-right: 1.4em !important; }
.fx_menu_mark { display: none; float: right; }
/* le bouton qui permet d'ouvrir un menu prend un fond gris tant que le menu est ouvert */
.context-menu-active { background-color : #f9f9f9 !important ; }
.fx_col_prop_panel { display : none; padding: 8px; outline: none; min-width: 265px;}
.fx_col_prop_panel p {
	text-align: center;
	font-weight: bold ;
	padding: 2px 0 4px;
}
.fx_col_prop_panel label { margin-right: 2px; }
.fx_col_prop_panel div { margin-top: 7px ; }
.fx_col_prop_panel input { border: solid 1px #9d9d9d; padding: 3px ;}
.fx_col_name { width : 180px ; }
.fx_col_unit { width: 40px; }
.fx_col_unit_span { margin-left: 10px ; }
.fx_col_code { width: 85px; }
.fx_col_prop_panel input[type='radio'] { margin-left: 7px; margin-right:5px; }
.fx_col_prop_div_formula { position: relative; }
.fx_col_formula {
	box-sizing: border-box;
	width: 100%; min-width: 200px; height: 30px; min-height: 30px;
	border: 1px solid #9d9d9d; padding: 3px; margin-top: 2px;
	font-size: 11px;
	font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
 .fx_nb_digits input { width: 25px; }


/************************************************************
                     CSS du Graph 
  ************************************************************/
.fx_graph{ background-color: #f9f9f9; border: 1px  solid #aaa; page-break-inside: avoid; margin-top: 5px;}

.fx_end_graph { display: none;}

/* panneau des propriétés du graphique */  
.fx_histogram_prop_panel { display: none; }
.fx_graph_prop_panel, .fx_histogram_prop_panel { padding: 8px; outline: none; }
.fx_graph_name { padding: 3px; width: 100%; box-sizing: border-box; }
.fx_graph_prop_panel table, .fx_histogram_prop_panel table { margin: 10px 0 10px 5px; }
.fx_axis_bound { width: 50px ; padding: 2px ; margin-bottom: 5px; }
.fx_global_options_bins_number { width: 28px; padding: 2px; }
.fx_axis_label { width: 185px ; padding: 2px ; margin-bottom: 5px; }
.fx_graph_prop_panel table input[type="checkbox"], .fx_histogram_prop_panel table input[type="checkbox"] { width: inherit; }
.fx_graph_prop_panel select, .fx_histogram_prop_panel select { margin: 2px; padding: 2px; min-width: 60px; }
.fx_plot_axis_choice { min-width: unset !important; margin-left: 4px !important; }
.fx_plot_axis { display: none; }
.fx_delete_plot, .fx_remove_axis_y2 { margin-left: 5px; cursor: pointer; font-size: 13px; }
.fx_add_plot i { font-size: 16px; cursor: pointer; }
.fx_graph_prop_axis { border-spacing: 2px 0; }
.fx_graph_prop_axis td, .fx_graph_prop_plot td { text-align: center; }
.fx_add_axis_y2 i { font-size: 16px; cursor: pointer; }
 .fx_axis_y2, .fx_plot_axis, .fx_show_y2_axis .fx_add_axis_y2 { display: none; }
 .fx_show_y2_axis .fx_plot_axis { display: block; }
 .fx_show_y2_axis .fx_axis_y2 { display: contents; }
 td.fx_btn_title { text-align: left; }
 .fx_btn_title span { color: #555; cursor: pointer; }

	 /* titre du graphique */
.fx_graph_title {
	padding : 4px ; border-bottom: 1px  solid #aaa; text-align: center ; font-size:13px ; font-weight: bold;
	min-height: 15px;
}
.fx_graph_title div { padding: 0 20px; }
.fx_graph_title_txt { cursor: pointer; }
.fx_btn_graph_prop, .fx_btn_graph_delete, .fx_btn_graph_up { width : 15px ; cursor: pointer; padding: 0 !important ; margin: 0 2px ;}
.fx_btn_graph_prop { float: left ; }
.fx_btn_graph_delete, .fx_btn_graph_up { float: right ; }

	 /* fonctions paramétrées */
.fx_graph_pfunc {
	border-top: solid #aaa 1px ;
	display: table;
	width: 100%;
	padding: 1px 0;
	min-height: 18px;
	position: relative; /* in order to position the formula help panel */
}
.fx_pfunc_div_interval input, .fx_pfunc_param_val, .fx_pfunc_param_increment {
	box-sizing: unset;
}
.fx_graph_pfunc > div { vertical-align: top; }
.fx_graph_pfunc_not_edit > div { padding-top: 3px; }
.fx_pfunc_div_col_pick, .fx_fit_div_col_pick {
	padding: 3px 0 0 2px;
	text-align: center;
	width: 20px;
	display: table-cell;
}
 .fx_fit_div_col_pick i { font-size: 13px !important; padding-top: 2px; }
.fx_pfunc_div_menu, .fx_pfunc_div_menu_histogram {
	font-weight: bold;
	padding: 3px;
	width: 5px;
	display: table-cell;
	white-space: nowrap;
}
.fx_pfunc_div_formula {
	overflow-wrap: anywhere;
	font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	display: table-cell;
	padding: 1px 0;
}
.fx_pfunc_div_formula_description { font-family: arial, verdana, sans-serif; }
.fx_pfunc_input {
	padding: 1px 10px 1px 3px;
	box-sizing: border-box;
	min-height: 21px;
	height: 21px;
	width: 100%;
	min-width: 180px;
	font-size: 12px;
	word-break: break-all;
	border: solid gray 1px; /* for FF */
	/* for chrome */
	display: block;
	overflow-y: hidden;
}
.fx_pfunc_div_param {
	font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	display: table-cell;
	padding-left: 18px;
}
.fx_pfunc_div_param_edit {
	display: flex;
	flex-wrap: wrap;
	padding-left: 10px;
}
.fx_pfunc_param { display: flex; margin: 1px 0 1px 10px;}
.fx_pfunc_param_name { margin: 3px 2px 0 0; text-align: right; cursor: pointer; }
 .fx_pfunc_param_name:hover { outline: gray solid 1px; background-color: lightgray; }
.fx_pfunc_param_val { border: solid 1px #aaa; border-right-width: 0; background-color: #fff; padding: 3px; height: 12px; min-width: 20px;}
.fx_pfunc_param_val.readonly { border: 1px solid transparent; background-color: transparent; margin: auto; padding: 0; }
.fx_pfunc_param_val br { display: none ; }
.fx_pfunc_param_uncertainty { margin: auto 5px; height: 12px; }
.fx_pfunc_param_increment { border: solid 1px #aaa; height: 8px; text-align: center; }
.fx_pfunc_param_increment i { position: relative; font-size: 12px; }
.fx_pfunc_div_param_edit .increment_incr i { top: -2px; }
.fx_pfunc_div_param_edit .increment_decr i { top: -3px; }
.fx_pfunc_div_interval {
	 white-space: nowrap;
	 padding-left: 25px;
	 display: table-cell;
	 width: 20px;
 }
 .fx_pfunc_div_interval input {
	 border: solid 1px #aaa ;
	 max-width: 30px;
	 font-family: arial, verdana, sans-serif;
	 text-align: center;
	 padding: 3px 0;
	 height: 12px;
	 margin-top: 1px;
	 font-size: 11px;
 }
.fx_pfunc_div_dist {
	text-align: right;
	padding: 4px 0 0 18px;
	display: table-cell;
}
.fx_pfunc_div_delete, .fx_pfunc_div_auto_fit {
	padding: 4px 5px 3px 5px;
	display: table-cell;
	text-align: center;
	width: 20px;
	cursor: pointer;
}  
.fx_pfunc_div_auto_fit {
	padding-left: 0;
}
.fx_graph_pfunc i { font-size: 14px; margin: 0 2px; vertical-align: top; }
.fx_distance {
	margin: 0 4px;
	white-space: nowrap;
	display: inline-block;
}
 .fx_pfunc_div_delete i { font-size: 13px; margin-top: 1px; }

/* flot */
.fx_graph_flot {
	height: /*100px;*/ 450px;
	margin: 7px 5px 8px 10px;
}
.fx_yaxisLabel { position: absolute; top: 10px; left: -75px; width: 70px; overflow: hidden; background-color: rgba(255, 255, 255, 0.6); }
.fx_xaxisLabel { position: absolute; bottom: -15px; right: 10px; background-color: rgba(255, 255, 255, 0.6); }
.fx_xaxisLabel div { display: inline; margin-left: 10px; }

 /********* help panel for formulas **************/
 .fx_math_formula_help { padding: 8px; margin-top: 0 !important; width: 520px; background-color: #f6fbf1; }
 .fx_math_formula_help div { padding: 3px 0; margin-top: 0 !important; line-height: 15px; }
 .fx_math_formula_help span {
	 padding: 2px 4px; margin-left: 8px; border-radius: 3px;  border: 1px solid #f9f9f9;
	 font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	 cursor: pointer;
 }
 .fx_math_formula_help span:hover { padding: 2px 4px; margin-left: 8px; border: 1px solid #aaa; background-color: #fff}
 .fx_formula_top_right { float: right; font-size: 18px; }
 .fx_col_for_formulas { line-height: 14px; }
 .fx_math_formula_help2 { position: absolute; top: 50%; left: 50%; font-size: 12px; width: 710px; }
 .fx_math_formula_help2_title { font-weight: bold; padding: 4px; cursor: move; background-color: #f4f4f4; }
 .fx_math_formula_help2_close { cursor: pointer; padding: 0 5px; }
 .fx_math_formula_help2_content { margin: 8px; }
 .fx_math_formula_help2_content p { margin: 8px 0; }
 .fx_math_formula_help2_content li { margin: 4px 0; }

/********* color picker **************/
.fx_color_picker {
	padding: 1px;
}
 .fx_color_picker i {
	cursor: pointer;
	padding: 0 1px;
	border: 1px solid #f9f9f9;
	font-size: 16px;
}
 .fx_color_picker i:hover { border: 1px solid #aaa; }
 .fx_color_picker_btn { cursor: pointer; }
 .fx_color_picker_btn i { font-size: 16px; cursor: pointer;}

