/* Styles des balises *******************************************************************************************
/  this should be removed !
*/

* { margin: 0; padding: 0; }
legend { padding: 0 3px; }

body { background-color: var(--lnb-white-color); }
::-moz-placeholder { font-style:italic; }

/* texts edited with TinyMCE */
.tinyMCE-text p { margin-top: 0.5em; margin-bottom: 0.9em; }
.tinyMCE-text ul, .tinyMCE-text ol{ margin-top: 0.3em; margin-bottom: 0.5em; padding-left: 2.5rem; }
.tinyMCE-text table { border-collapse: collapse; }
.tinyMCE-text td { padding: 1px 3px; }
.tinyMCE-text h1 { font-size: 2em; margin-top: 0.9em; margin-bottom: 0.6em; font-weight: bold; }
.tinyMCE-text h2 { font-size: 1.5em; margin-top: 1em; margin-bottom: 0.67em; font-weight: bold; }
.tinyMCE-text h3 { font-size: 1.2em; margin-top: 1em; margin-bottom: 0.67em; font-weight: bold; }
.tinyMCE-text h4 { margin-top: 1em; margin-bottom: 1em; font-weight: bold; }
.tinyMCE-text h5 { font-size: 0.83em; margin-top: 1.5em; margin-bottom: 1.2em; font-weight: bold; }
.tinyMCE-text h6 { font-size: 0.7em; margin-top: 2em; margin-bottom: 1.5em; font-weight: bold; }

/* Styles des classes (.) **************************************************************************************** */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.lnb-link { color: var(--lnb-charcoal-grey-color); cursor: pointer; }
.lnb-link:hover { color: var(--lnb-black-color); }
.lnb-btn { color: var(--lnb-strong-grey-color); cursor: pointer; }
.lnb-btn:hover { scale: 1.15; }
.lnb-hoverable:hover { background-color: var(--lnb-light-grey-color); }

.lb_btn, #maincontent p>a.lb_btn { background-color: var(--lnb-blue-color); padding:0 10px 0 10px ; border: 0; border-radius: 3px ; height: 22px; text-align: center; color: white; font-size: 10pt; vertical-align:baseline ; cursor: pointer; display: inline-block; }
.lb_btn:hover { background-color: var(--lnb-charcoal-grey-color) }
.lb_btn[disabled] { background: #999; color: #eee; cursor: default; }
.btn_pointer { cursor: pointer; }

.team-name { font-weight: 500; }
.user_in_team { color: var(--lnb-charcoal-grey-color); }
.connected_user { color: var(--lnb-blue-color); }
.hidden { display: none; }

/************************************************************************************
*										LOGO										*
*************************************************************************************/
#lb_logo {
	padding: 15px 0 25px;
}
#lb_logo a {
	text-decoration: none;
}
#lb_logo img {
	max-width: 75vw;
	max-height: 14vh;
}

/************************************************************************************
*								Fenetre de dialogue								*
*************************************************************************************/

/*dialog div */
.lb_dialog_box { position: absolute; padding: 15px 20px 10px ; background-color: #ededed; font-size: 13px; border: 1px solid #b8b9a8; z-index: 500; display: none;}
.lb_dialog_box h2 { text-align: center; cursor: move; font-size: 120%; color: var(--lnb-blue-color); font-weight: bold; padding: 0; }
.lb_dialog_box select, .lb_dialog_box input { margin: 0 0 5px 3px; }
.lb_dialog_box input, .lb_dialog_box select { padding: 2px 5px;}
.lb_dialog_box input:not([type='button']) { width: 180px; }
.lb_dialog_box label { display:inline-block; text-align: right; width: 140px; }
.lb_dialog_box .auth-choice label { text-align: left; width: auto; padding-bottom: 15px; }
.lb_dialog_box fieldset { margin: 20px 0; padding: 15px 5px 5px; }
.lb_dialog_box fieldset legend { margin-left: 10px; }
.lb_dialog_box p { text-align: center; padding: 5px 0 12px; }
.lb_dialog_box .lb_btn { margin: 0; }
#lb_modal_cover { position : absolute; z-index : 250; display: none; background-color: white; opacity: 0.4; }

#lb_account_dialbox .fa, #lb_account_dialbox .far { margin-left: 4px; }

/*********************  Menubar ********************************/

#lb_second_menu { display:none; position: fixed; padding: 5px 7px 5px 5px; font-size:13px; z-index: 300;}
#lb_second_menu:hover { display: block; }
.lb_second_menu_item { width: 100%; padding: 4px 2px 4px 0; display: inline-block; white-space: nowrap; cursor: pointer; color: black; text-decoration: none; }
.lb_second_menu_item:hover { background-color: #fff; }
.lb_second_menu_icon { display: inline-block; width: 24px; text-align: center; color: #666; font-size: 16px; }
.lb_second_menu_icon img { vertical-align: middle; }
.lb_second_menu_text { padding-left: 3px; }


/* alerts */

@media print {
	#page-alerts > * {
		display: none;
	}
}

#page-alerts {
	z-index: 202; /* must be > 200 : report menu */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
@keyframes blink {
   50% { border-color: #000000; } 
}
.alert {
    padding: .9rem 1.4rem;
    margin-bottom: 1rem;
    border-bottom: thin solid transparent;
	line-height: 1.4em;
	border-radius: var(--lnb-light-border-radius);
}
.alert .alert-close {
	float: right;
	margin-left: 20px;
	cursor: pointer;
}
.alert-maintenance, .alert-danger, .alert-warning {
	color: var(--lnb-strong-orange-color);
	border: solid 1px var(--lnb-orange-color);
}
.alert-maintenance, .alert-danger {
	background-color: var(--lnb-orange-color-20);
}
.alert-warning {
	background-color: #FFFDEF;
}
.alert-danger {
	border-width: 2px;
	animation: blink 1.0s step-end 10 alternate;
}
.alert-info {
	color: var(--lnb-strong-blue-color);
    background-color: var(--lnb-blue-color-20);
    border: solid 1px var(--lnb-blue-color);
}
.alert-success {
	color: var(--lnb-strong-green-color);
    background-color: var(--lnb-green-color-20);
    border: solid 1px var(--lnb-green-color);
}

.widget.ui-resizable {
	max-width: 75%;
	max-height: 90%;
}

.new_com_msg {
	position: absolute; right: 23px; bottom: 92px; font-size: 20px !important;
	color: var(--lnb-orange-color); cursor: pointer;
}

.btn,
#maincontent a:link.btn {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 10px;
    font-size: 13px;
    border-radius: 4px;
    color: #ffffff;
    background-color: var(--lnb-blue-color);
}
.btn-info {
	color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
}
.btn-danger {
	color: #fff !important;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.ui-widget-overlay.ui-front {
	opacity: 0.2;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.label-default {
    background-color: #777;
}
.label-success {
	background-color: #5cb85c;
}

table caption {
	font-weight: bold;
}

#header table td {
	vertical-align: middle;
}

.user {
	display: inline-block;
	padding: .2em .6em .3em;
	font-size: 95%;
	background-color: #eee;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
.user + .user {
	margin-left: 1ex;
}

.user-light {
	display: inline-block;
	white-space: nowrap;
}
.user-light + .user-light:before {
	content: "  — ";
}
table.table {
	box-sizing: border-box;
	border-spacing: 0;
	border-collapse: collapse;
}
.team-settings table {
	margin: 2ex auto;
}
.table td {
	border-top: thin solid #ddd;
	padding: 6px 8px;
}
#teamchoice-teams table {
	margin: 2ex 0;
}
#teamchoice-teams td {
	border-top: thin solid white;
}
#teamchoice-teams table .members {
	background-color: #dce6f2;
	max-width: 75vh;
}
#teamchoice-teams .team-open:hover > * {
	cursor: pointer;
}
#teamchoice-teams .my-team {
	font-weight: bold;
}

@media (max-width: 768px) {
	.hidden-xs {
		display: none;
	}
}
/* for touch screens */
@media (pointer:coarse) {
	#teamchoice-teams table {
		border-collapse: separate; 
		border-spacing: 0 1em;
	}
}

/***********************************************************************************/
/* JQUERY-UI - POPUP  ---------------------------------------------------- */

.ui-dialog-titlebar {display: none;}
.popup:not(.graphic-tools) {min-width : 500px; z-index:101; font-size: 13px; display: none;  box-shadow: unset}
#confirmation-popup.popup.cgu {min-width: unset; max-width: unset}
.popup .popup-cancel { margin-left: 6px; }
.popup .popup-delete { margin-left: 6px; }
.popup:not(.graphic-tools) header {background-color : var(--lnb-blue-color); color : white; font-size : 16px; padding : 5px 10px;cursor : all-scroll}
.popup:not(.graphic-tools) header a { color : white; }
.popup:not(.graphic-tools) header .actions {float: right}
.popup:not(.graphic-tools) header .actions i {cursor : pointer}
.popup:not(.graphic-tools) section {background-color: #eaebf3; padding : 12px 8px; border : 2px solid var(--lnb-blue-color);}
.popup:not(.graphic-tools) legend { font-size: 14px ; padding: 0 5px; }
.popup:not(.graphic-tools) fieldset { margin-top: 10px; padding: 6px; }
.popup:not(.graphic-tools) input[type="text"], .popup input[type="email"], .popup input[type="password"] { width: 150px; padding: 2px 4px; margin-top: 3px ; }
.popup:not(.graphic-tools) input[type='date'], .popup input[type='time'] {
	padding: 2px;
	margin-top: 3px;
	max-width: 140px;
}
.popup:not(.graphic-tools) input[type='number'] { width: 50px; padding: 1px 0 1px 4px;  margin-top: 1px ;}
.popup:not(.graphic-tools) select {
	margin-top: 3px ;
	padding: 2px;
}
.popup-subtitle {display : inline-block; border-bottom : 1px solid grey; margin : 17px 10px 7px; width : 90%; font-size: 14px;}
.popup:not(.graphic-tools)  .fa,.popup:not(.graphic-tools)  .far { font-size: 16px ; cursor: pointer; }
.ui-widget-overlay {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #aaaaaa;opacity: .3;z-index:100}
.ui-widget-content {background: unset !important;}
.nodisplay{display : none!important;}
#confirmation-popup {
	max-width: 140px;
}
/*quick-hack*/
.ui-resizable{background-color: rgba(0,0,0,0); }
.ui-widget.ui-widget-content, .ui-widget-content { border: none !important; }

/*======================================================================================*/
/* Modal account and cgu and PDF                                                        */

/*legacy*/
#lb_modal_cover {
	position: absolute;
	z-index: 250;
	display: none;
	background-color: white;
	opacity: 0.4;
}

/*new*/
.account-info {
	text-align: center;
	font-style: italic;
	color: var(--lnb-charcoal-grey-color);
	margin: 0 6px;
}
.account-info:not(:last-child) {
	padding-bottom: 15px;
}
.modal-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9998; /*adjust this with z-index tooltip*/
	background-color: rgba(0,0,0,0.3);
}
.modal-container.modal-fixed {
	position: fixed;
}
.modal-container.modal-absolute {
	position: absolute;
}
.modal-content {
	margin: 25px auto;
	max-width: 500px;
	border: 1px solid var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-light-grey-color);
	border-radius: var(--lnb-strong-border-radius);
}
.modal-content .modal-header {
	text-align: center;
	padding: 12px;
	background-color: var(--lnb-charcoal-grey-color);
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
}
.modal-content .modal-header .modal-title {
	font-weight: bold;
	color: var(--lnb-white-color);
	font-size: 1.2rem;
}
.modal-content .modal-alert-message {
	text-align: center;
	padding: 0 5px;
	background-color: var(--lnb-danger-color-background);
}
.modal-container.modal-fixed .modal-main {
	max-height: calc(100vh - 2 * 25px - 100px);
	overflow-y: auto;
}
.modal-content .modal-main form,
.modal-content .modal-main .modal-description{
	padding: 10px 15px 20px;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}
.modal-content .modal-main fieldset {
	border-radius: var(--lnb-strong-border-radius);
	padding: 10px;
}
.modal-content .modal-main legend {
	padding: 0 5px;
}
.modal-content .modal-main .field-line {
	display: flex;
	padding: 0 10px;
	align-items: center;
	gap: 10px;
}
.my-account-item-name {
	display: inline-block;
	width: 25%;
	text-align: right;
	flex-shrink: 0;
}
.modal-content .modal-main .field-line input,
.modal-content .modal-main .field-line select{
	width: 100%;
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: var(--lnb-strong-border-radius);
	font-size: 1rem;
	font-family: inherit;
	color: var(--lnb-charcoal-grey-color);
	border: 1px solid var(--lnb-white-color);
	background-color: var(--lnb-white-color);
}
.modal-content .modal-main .field-line input:disabled {
	background-color: var(--lnb-light-grey-color);
}
.modal-content .modal-main .field-line input[type='checkbox'],
.modal-content .modal-main .field-line input[type='radio']{
	max-width: 20px !important;
	margin: 0 !important;
	padding: 0 !important;
}
.modal-content .modal-main .field-line select {
	cursor: pointer;
}
.modal-content .modal-main .field-line button {
	border: none;
	background: transparent;
	cursor: pointer;
}
.modal-content .modal-main .field-line button.disabled {
	opacity: 0.4;
}
.modal-content .modal-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 15px;
}
.modal-content .modal-buttons button {
	background: transparent;
	cursor: pointer;
	padding: 5px 10px;
	width: 30%;
	font-size: 20px;
	border-radius: var(--lnb-strong-border-radius);
	border: 1px solid var(--lnb-charcoal-grey-color);
}
.modal-content .modal-buttons button:hover {
	opacity: 0.8;
}
.modal-content .modal-buttons .modal-submit {
	color: var(--lnb-white-color);
	background-color: var(--lnb-charcoal-grey-color);
}
.modal-content .modal-buttons .modal-cancel {
	color: var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-white-color);
}
.modal-content #select_ld_print label {
	width:auto;
	text-align: left;
}
.modal-content #select_ld_print label,
.modal-content #select_ld_print input {
	cursor: pointer;
}
.modal-content #select_ld_print h3 {
	margin: 5px 0;
}

/*======================================================================================*/
/*       Custom select component                                                        */

.lb-custom-select {
	position: relative;
}
.lb-custom-select .lb-custom-select-selector {
	width: 100%;
	padding: 2px 5px;
	border: 1px solid var(--lnb-grey-color);
	background-color: var(--lnb-white-color);
	cursor: pointer;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.lb-custom-select .lb-custom-select-selector .lb-custom-select-text-selector {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 10px - 1.5rem);
}
.lb-custom-select .lb-custom-select-dropdown {
	position: absolute;
	padding: 2px;
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-light-grey-color);
	border-radius: 4px;
	border-collapse: collapse;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	max-height: calc(15 * (1rem + 4px));
	overflow-y: auto;
	width: calc(100% - 6px);
}
.lb-custom-select .lb-custom-select-dropdown-option {
	padding: 2px;
	cursor: pointer;
}
.lb-custom-select .lb-custom-select-dropdown-option:hover {
	background-color: var(--lnb-light-grey-color);
}

/*======================================================================================*/
/*       Tooltip popup                                                                  */

#tooltip_popup { 
	display: none; 
	z-index: 9999; 
	position: absolute; 
	width: 400px; 
	padding: 5px 10px; 
	min-height: 50px;
	border: 1px solid var(--lnb-black-color);
	background-color: var(--lnb-light-grey-color);
	border-radius: var(--lnb-light-border-radius);
	text-align: center; 
	color: #000000;
}
#tooltip_popup p {
	margin: 8px 0;
}
#tooltip_popup h1 {
	margin: 8px 0;
}
#tooltip_popup_title { 
	margin: 0; 
	padding: 0; 
	text-align: center;
	font-size: 14px;
}
#tooltip_popup_comment { 
	text-align: left; 
	font: 12px arial, sans-serif; 
	font-weight: normal;
}
#tooltip_popup button { 
	margin: 15px 5px 5px; 
	padding: 5px; 
	border: solid #888  2px; -moz-border-radius: 6px;
	border-radius: 6px; 
	text-decoration: none; 
	font-family: arial, sans-serif;
	font-size: 12px; 
	background: #ccc; 
	cursor: pointer; 
}

.sizing-bar:hover {
	background: #ddd;
}
.sizing-bar-vertical {
	height: 6px;
	margin-top: 2px;
	cursor: ns-resize;
}
.sizing-bar-horizontal {
	margin-left: 3px;
	width: 6px;
	cursor: ew-resize;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* Select2 specific styles */
.select2-container--default .select2-results > .select2-results__options {
	/* display 15 options with a 6px padding in the dropdown*/
	max-height: min(50vh, calc(15 * 13px + 15 * 2 * 6px)) !important;
}
.select2-results__option--selectable {
	padding-left: 1em !important;
}
/* When dropdown is above we put search input below the dropdown*/
.select2-dropdown--above{
	display: flex !important;
	flex-direction: column;
}
.select2-dropdown--above .select2-search--dropdown{
	order: 2;
}
.select2-dropdown--above .select2-results {
	order: 1;
}

#archive-popup {
	max-width: min(90vw, 550px);
}
.archive-popup-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.archive-popup-form-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 0.5rem;
}
#cl-archive-all-reports {
	margin-left: 21px;
}
.archive-popup-form-row-label {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
.archive-popup-form-row-label-bold {
	font-weight: bold;
}
