@charset "utf-8";

/**********************  balises  **************************************/
body { font-size: 13px; margin: 0 auto; max-width: 900px;}
p { padding-bottom: 7px; }
h1 { font-size: 140%; color: var(--lnb-blue-color); padding-top: 4px;}
h2 { font-size: 120%; color: #73ab44; font-weight: bold; padding: 30px 0 5px 0; }
h3 { font-size: 115%; color: #666; font-weight: bold; margin-bottom: 5px ; }
a { text-decoration: none; }
label{ display: inline-block; width: 100px; text-align: right;}
input { margin: 0 0 5px 3px; padding: 1px 3px; }
/***********************************************************************/	

#lnb-logo { padding: 10px 30px; background-color: #ededed; }
#lnb-logo img { width: 100%; max-width: 682px; }
#content {margin: 0 10px; }
td { vertical-align: top; }
#footer { margin-top: 20px; padding: 8px; background-color: #ededed; }
#footer img { margin-left: 8px; margin-bottom: -8px; }
#footer > h3 { margin-left: 22px; }

#log-in-container { display: flex; flex-wrap: wrap; }
#login-CAS { display: flex; vertical-align: bottom; }
#login-CAS img { padding: 5px 40px 0 20px; margin-bottom: 20px;}

/***************** dialog box account ************************/

#homonymes_list { margin-top: 5px; }
#homonymes_main_content .lb_btn { margin: 20px 0 8px; }