b.diffins, b.diffmod {
	outline: 1px solid #AEAEAE;
	font-weight: normal;
}
ins.diffins, ins.diffmod {
	position:relative;
	background: #F2F2F2;
	text-decoration: none;
}
del{
	text-decoration: line-through;
	opacity: 0.6;
}
/* Image Diffing
------------------------------------------------ */
ins.diffmod.diffimg {
	outline: 1px solid #AEAEAE;
	background: #F2F2F2;
	padding: 7px;
	bottom: 7px;
	display: inline-block;
}
del.diffimg.diffsrc {
	display: inline-block;
	position: relative;
}
del.diffimg.diffsrc:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		to left top,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0) 49.5%,
		rgb(126, 126, 126) 49.5%,
		rgba(126, 126, 126, 1) 50.5%
	), repeating-linear-gradient(
		to left bottom,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0) 49.5%,
		rgba(126, 126, 126, 1) 49.5%,
		rgba(126, 126, 126, 1) 50.5%
	);
}
/* equation Diffing
------------------------------------------------ */
ins.diffmod.diffhref span.katex, ins.diffins span.katex{
	display: inline-block;
	background: #F2F2F2;
	outline: 1px solid #AEAEAE;
}
del.diffmod.diffhref span.katex, del.diffdel span.katex{
	display: inline-block;
	position: relative;
}
del.diffmod.diffhref span.katex:before, del.diffdel span.katex:before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		to left top,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0) 48%,
		rgb(126, 126, 126) 48%,
		rgba(126, 126, 126, 1) 52%
	), repeating-linear-gradient(
		to left bottom,
		rgba(255, 0, 0, 0),
		rgba(255, 0, 0, 0) 48%,
		rgba(126, 126, 126, 1) 48%,
		rgba(126, 126, 126, 1) 52%
	);
}
