.ld_versions_button {
	padding: 0 16px;
	white-space: nowrap;
	cursor: pointer;
	color: var(--lnb-charcoal-grey-color);
}

.ld_versions_button i {
	padding-left: 5px;
}
.ld-versions-title-bar {
	display: flex;
	justify-content: space-between;
}

#ld_versions_name { font-weight: normal; }

#ld_versions {
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid darkgray;
	max-height: 110px;
	margin-top: 3px;
	margin-bottom: 10px;
	padding: 5px 2px 5px 30px;
}

#ld_versions li {
	padding: 4px;
	cursor: pointer;
}

#ld_versions li:hover, #ld_versions li.selected  {
	background-color: var(--lnb-light-grey-color);
}
.ld_version_current { font-weight: 500; }
.ld_versions_content {
	border: 1px solid darkgray;
	margin: 3px 0 20px 0;
	padding: 10px;
	font-size: 12px;
}

#ld_versions_code {
	border: 1px solid darkgray;
	padding: 10px;
	max-height: 150px;
	overflow: hidden;
	overflow-x: auto;
	overflow-y: auto;
}
