@charset "utf-8";
/** 
 * Définition des couleurs 
 * Couleurs logo : 
 * Bleu : #1f8bad
 * Vert : #60a958
 * Orange : #db601f
 *
 * Couleurs sobres : 
 * Bleu : #f2f9fb
 * Vert : #f6faf6
 * Orange : #fcf6f3
 *
 * Couleurs sobres bordures : 
 * Bleu : #a5d0de
 * Vert : #bfdcbc
 * Orange : #f0bfa5
 **/

/** Strong colors **/
/*:root {
	/* Used for section borders...
	--lnb-orange-color: #DB601F;
	--lnb-green-color: #60A958;
	--lnb-blue-color: #1F8BAD;

	/* Used for section background
	--lnb-orange-color-20: #F4DFD4;
	--lnb-green-color-20: #DFEEDE;
	--lnb-blue-color-20: #D2E8EF;

	/* Misc...
	--lnb-charcoal-grey-color: #444444;
	--lnb-white-color: #FFFFFF;
	--lnb-black-color: #000000;
	--lnb-light-grey-color: #efefef;
	--lnb-strong-grey-color: #888888;

	/** Sections
	--lnb-section-font-color: #000000;
	--lnb-blue-section-background-color: #D2E8EF;
	--lnb-orange-section-background-color: #F4DFD4;
	--lnb-green-section-background-color: #DFEEDE;
	--lnb-blue-section-border-color: #1F8BAD;
	--lnb-orange-section-border-color: #DB601F;
	--lnb-green-section-border-color: #60A958;

	/** Sections report
	--lnb-default-font-color: #000000;
	--lnb-section-report-background-color: #D2E8EF;
	--lnb-section-report-border-color: #1F8BAD;
	--lnb-section-report-icon-background-color: #ffffff;
	--lnb-section-report-icon-font-color: #000000;
	--lnb-section-report-title-background-color: #1F8BAD;
	--lnb-section-report-title-font-color: #ffffff;

	/** Orange or blue report header/content colors
	--lnb-report-specific-header-font-color: #FFFFFF;
	--lnb-report-specific-header-background-color: #db601f;
	--lnb-report-specific-header-border-color: #db601f;
	--lnb-report-specific-content-font-color: #000000;
	--lnb-report-specific-content-background-color: #F4DFD4;
	--lnb-report-specific-content-border-color: #db601f;

	/* Used for buttons, light font color, placeholders... */
	/* Blue
	--lnb-blue-button-border-color: #1F8BAD;
	--lnb-blue-button-background-color: #1F8BAD;
	--lnb-blue-button-font-color: #FFFFFF;
	--lnb-blue-button-border-hover-color: #444444;
	--lnb-blue-button-background-hover-color: #444444;
	--lnb-blue-button-font-hover-color: #FFFFFF;
	/* Orange
	--lnb-orange-button-border-color: #DB601F;
	--lnb-orange-button-background-color: #DB601F;
	--lnb-orange-button-font-color: #FFFFFF;
	--lnb-orange-button-border-hover-color: #444444;
	--lnb-orange-button-background-hover-color: #444444;
	--lnb-orange-button-font-hover-color: #FFFFFF;
	/* Green
	--lnb-green-button-border-color: #60A958;
	--lnb-green-button-background-color: #60A958;
	--lnb-green-button-font-color: #FFFFFF;
	--lnb-green-button-border-hover-color: #444444;
	--lnb-green-button-background-hover-color: #444444;
	--lnb-green-button-font-hover-color: #FFFFFF;
	/* Widget
	--lnb-widget-button-border-color: #60A958;
	--lnb-widget-button-background-color: #60A958;
	--lnb-widget-button-font-color: #FFFFFF;
	--lnb-widget-button-border-hover-color: #000000;
	--lnb-widget-button-background-hover-color: #000000;
	--lnb-widget-button-font-hover-color: #FFFFFF;
	--lnb-widget-button-disabled-background-color: #808080;
	
	/* Misc...
	--lnb-strong-border-radius: 30px;
	--lnb-medium-border-radius: 20px;
	--lnb-light-border-radius: 10px;
	--lnb-link-font-color: #444444;
	--lnb-link-font-hover-color: #000000;
	--lnb-popup-default-padding: 15px;

	/* Icons fontawesome
	--lnb-icon-background-color: #FFFFFF;
	--lnb-icon-font-color: #444444;
}
