@charset "utf-8";

:root {
	/* base colors (logo) */
	--lnb-blue-color: #1f8bad;
	--lnb-orange-color: #db601f;
	--lnb-green-color: #60a958;

	/* strong colors - Used for texts... */
	--lnb-strong-blue-color: #005575;
	--lnb-strong-orange-color: #962500;
	--lnb-strong-green-color: #19671b;

	/* 70% - Used for thin borders... */
	--lnb-blue-color-70: #62adc5;
	--lnb-orange-color-70: #e58f62;
	--lnb-green-color-70: #8fc28a;

	/* 40% - Used for wide borders... */
	--lnb-blue-color-40: #A5D0DE;
	--lnb-orange-color-40: #F0BFA5;
	--lnb-green-color-40: #BFDCBC;
	
	/* 20% - Used for backgrounds */
	--lnb-blue-color-20: #F2F9FB;
	--lnb-orange-color-20: #FCF6F3;
	--lnb-green-color-20: #F6FAF6;

	/* Grey scale */
	--lnb-black-color: #000000;
	--lnb-charcoal-grey-color: #444444;
	--lnb-strong-grey-color: #808080;
	--lnb-grey-color: #dddddd;
	--lnb-light-grey-color: #efefef;
	--lnb-white-color: #FFFFFF;

	/* Alerts */
	--lnb-danger-color:var(--lnb-strong-orange-color);
	--lnb-danger-color-background: var(--lnb-orange-color-40);

	/** Fonts */
	--lnb-default-font-color: #000000;
	--lnb-light-font-color: #f1f1f1;
	--lnb-link-font-color: #444444;
	--lnb-link-font-hover-color: #000000;

	/* Radius */
	--lnb-strong-border-radius: 30px;
	--lnb-medium-border-radius: 20px;
	--lnb-light-border-radius: 10px;
	--lnb-xlight-border-radius: 5px;
	--lnb-xxlight-border-radius: 3px;
}
