@charset "utf-8";

/** 
 * CSS spécifique à la page login et joinByCode
 * Template Blade : auth/login.blade.php
 * Template Blade : auth/create-account.blade.php
 **/

/************************************************************************************
*									FORMS											*
*************************************************************************************/

body {max-width: 1150px; }

.lnb-connexion {
	max-width: 600px;
}

.lnb-connexion .lb-h2, .lnb-connexion .lb-h3 {
	margin: 4px 0 4px 0;
}
#by-code .lb-h2 {
	margin-right: 10px;
}
#by-code h2 {
	padding-left: 15px;
}

.lb-login-input {
	display: block;
	margin: 10px auto;
	padding: 12px 18px;
	border-radius: var(--lnb-strong-border-radius);
	width: 80%;
	max-width: 330px;
	font-size: 1rem;
	font-family: inherit;
	color: var(--lnb-charcoal-grey-color);
	border: 1px solid var(--lnb-white-color);
	background-color: var(--lnb-white-color);
}
.lb-login-input-ltl {
	display: block;
	padding: 5px 10px;
	border-radius: var(--lnb-strong-border-radius);
	font-size: 1rem;
	font-family: inherit;
	color: var(--lnb-charcoal-grey-color);
	border: 1px solid var(--lnb-white-color);
	background-color: var(--lnb-white-color);
}

.lb-login-input-submit {
	cursor: pointer;
	color: var(--lnb-white-color);
	border-color: var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-charcoal-grey-color);
}
li {
	list-style: inside '- ';
	text-indent: -10px;
	margin-left: 14px;
}
#login-lnb, #login-CAS, #recover-password-form { margin-top: 20px; }
#lnb-code { margin-top: 10px; }

#recover-password-container i {
	margin-top: 16px;
	margin-left: 4px;
}
#recover-password {
	margin-top: 25px;
	display: none;
}
#recover-password.visible {
	display: block;
}

/************************************************************************************
*							CREATE ACCOUNT BLADE         							*
*************************************************************************************/
#bind_main_content h2 {
	text-align: center;
}
.btn {
	margin-left: 15px;
}
.create-account-option {
	padding: 0 10px 10px 10px;
}
#create-account-content {
	padding-top: 20px;
}
#user_create_validate {
	margin: 0 auto;
	max-width: 330px;
}
.display-option { margin-left: 10px; }

.homonymes {
	display: flex;
	gap: 5px;
	padding: 0 10px 0 15px;
	align-items: flex-start;
	line-height: 28px;
}
.homonymes:not(:last-child) { padding-bottom: 12px; }
.homonymes label { text-align: left; padding-right: 12px; }
.account-checkbox { margin: 7px 10px 0 0; }

@-webkit-keyframes highlight {
	from, to {border: 2px solid}
	50%{border: 2px solid red;}
}
@keyframes highlight {
	from, to {border: 2px solid}
	50%{border: 2px solid red;}
}
.highlight{
	animation: highlight .5s step-end 6 alternate;
}
.info {
	color: grey;
}

.create-account-item {
	padding-bottom: 10px;
}
.create-account-item:first-of-type {
	padding-top: 20px;
}
.create-account-item input {
	margin-left: 10px;
}
.create-account-item .input-large {
	width: 250px;
}
.create-account-item .lb-input-orange:disabled {
	background-color: var(--lnb-orange-color-20);
	border: 1px solid var(--lnb-orange-color-20);
}
.create-account-item label {
	width: 120px;
	text-align: right;
}
.create-account-item .toggle-password {
	border: none;
	background: transparent;
	cursor: pointer;
	margin-left: 10px;
}
#lnb-cgu { margin-bottom: 25px; }
#lnb-cgu input { margin-right: 5px; }
#lnb-cgu a { text-decoration: underline; }
