.annotator-notice,
.annotator-filter,
.annotator-widget {
    display: none;
}

.lb_div_assignment {
    background: transparent !important;
}
.lb_part_title_actions {
    background: #eee;
}

img {
    max-height: 27cm;
}
