@charset "utf-8";

/**
 * Global report layout / See report.blade.php
 * #header 
 * --> #header-content 
 *
 * #maincontent 
 * --> #report_header
 * --> #report_sub_header
 * --> #report_content
 * -- --> #report_column
 * -- --> #widgets_column 
 * -- -- --> #widgets_menu
 *
 * #footer 
 */


/************************************************************************************
*							REPORT - HEADER	 - LAYOUT								*
*************************************************************************************/
#headers_wrapper:not(.pdf) {
	position: sticky;
	top: 0;
	z-index: 200;
}

/************************************************************************************
*							REPORT & EVAL - LAYOUT									*
*************************************************************************************/

#report_content {
	display: grid;
	gap: 0.6rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, opacity 0.5s ease-in;
}
#report_content.initialized {
	opacity: 1;
	visibility: visible;
}
#report_column {
	min-width: 0;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}
.column {
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/************************************************************************************
*								RESPONSIVE											*
*************************************************************************************
 *
 * Flexbox Grid: 
 * 	xs : Extra small (mobile phone)
 * 	sm : Small (tablet) / Min-width: 48em (768px)
 * 	md : Medium (little labtop) / Min-width: 64em (1024px)
 * 	lg : Large (labtop) / Min-width: 75em (1200px)
 * 	xl : Extra large (large screen labtop) / Min-width: 90em (1440px)
 **/

@media (max-width: 768px) {
	
}
