@charset "utf-8";

/** ********** **
 ** Responsive **
 ** ********** **/

@media (max-width: 768px) {
	/** Main layout **/
	.report-choice-layout {
		flex-direction: column;
	}
	/** Footer **/
	#footer #lb_confident {
		text-align: center;
	}

	#footer #div_info {
		text-align: center;
	}
}
@media (min-width: 768px) {
	.report-choice-layout {
		flex-direction: row;
	}
}
@media (min-width: 1024px) {
	#by-code h2 {
		text-align: left;
	}
}
a {
	text-decoration: none;
}

/** Main layout **/

#report_content {
	flex-grow: 1;
}

.report-choice-layout {
	display: flex;
	gap: 0.4rem;
}

/** Top bar **/
#lb_logo {
	padding: 15px 15px 0;
}
#lb_logo img {
	width: 400px;
	max-width: 80vw;
}

.lnb-topbar-button-box {
	column-gap: 20px;
}
.lnb-topbar-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.7rem 3vw;
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-strong-border-radius);
	color: var(--lnb-white-color);
}
#welcome {
	margin: 10px 10px 0 20px;
}

/***** Reports menu - Left ******/

.lb-report-choice-left {
	min-width: 260px;
	flex-shrink: 0;
}

.mission-search {
	position: relative;
	text-align: left;
}
.mission-search .search-input:focus,
.mission-search .search-input:hover {
	outline: 1px solid var(--lnb-blue-color);
}
.mission-search input {
	color: var(--lnb-charcoal-grey-color);
	border: 1px solid var(--lnb-white-color);
	background-color: var(--lnb-white-color);
	border-radius: var(--lnb-light-border-radius);
	padding: 10px 10px 10px 40px;
	width: calc(100% - 50px);
}
.mission-search .fa-search {
	position: absolute;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--lnb-charcoal-grey-color);
	font-size: 16px;
}
.menu_mission {
	margin: 20px auto 0 auto;
	width: 100%;
	color: var(--lnb-charcoal-grey-color);
	text-align: left;
}
.menu_mission .menu_mission_title {
	border-bottom: 1px solid var(--lnb-charcoal-grey-color);
	margin-bottom: 10px;
	cursor: pointer;
}
.menu_mission_title > i {
	float: right;
}
.menu_mission_item {
	font-size: 1.1rem;
}
.menu_mission_item a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
 }
.menu_mission .menu_mission_contents .menu_mission_item .menu-mission-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--lnb-orange-color);
	color: var(--lnb-white-color);
	border-radius: 50%;
	font-size: 0.73rem;
	aspect-ratio: 1;
	min-width: 1.1rem;
	padding: 0.15rem;
}

/***** Reports description - Center ******/

.block-radio {
	display: none;
}
.block-radio.active {
	display: block;
}
.report_header_info {
	text-indent: -20px;
	padding: 0 0 5px 30px;
	text-align: left;
}
.report_header_info_title {
	font-size: 1.15rem;
}

.report_header section.report_header_info .report_header_info_detail.hidden {
	display:none;
}
.mission_code {
	margin-bottom: 20px;
}
.mission_name {
	margin-left: 10px
}
.mission_description {
	margin: 20px 0;
	padding: 10px 20px;
	border-radius: var(--lnb-medium-border-radius);
	border-width: 0;
	font-weight: 300;
	color: var(--lnb-black-color);
	background-color: var(--lnb-white-color);;
	font-size: 1rem;
	text-align: justify;
	max-height: 30vh;
	overflow-y: auto;
}
.mission-choice-btn {
	display: flex;
	justify-content: end;
}
.lb-mission-btn {
	min-width: 200px;
	padding: 10px 40px;
	cursor: pointer;
	color: var(--lnb-white-color);
	border-radius: var(--lnb-strong-border-radius);
	border: 1px solid var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-charcoal-grey-color);
}

/** Footer **/
#footer #lb_confident {
	text-align: left;
	cursor :pointer;
}

#footer #div_info {
	text-align: right;
}
#footer {
	font-size: 12px;
	margin: 10px;
	padding: 3px;
}

#lb_confident_frame {
	position: relative;
	font-size: 9pt;
	width: 600px;
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-light-border-radius);
	display: none;
	z-index: 15000;
	padding: 15px;
	margin-bottom: 10px;
}

#lb_confident_frame i {
	color: var(--lnb-charcoal-grey-color);
	font-size: 16px;
	cursor: pointer;
	position: relative;
	float: right;
	margin: 0 0 10px 20px;
	top: -5px;
	right: -7px;
}

#lb_confident_frame ul {
	padding-left: 10px;
}

#lb_confident_frame li {
	padding-bottom: 5px;
}

#read-cgu {
	text-align: center;
	margin-top: 10px;
}

#div_info p, #div_warning p {
	padding-bottom: 10px;
	font-size: 12px;
}

.lnb-widget-menu-btn i {
	font-size: 18px;
}

/**  Widgets **/
:root {
	--lnb-widget-column-border-color : var(--lnb-green-color-40);
	--lnb-widget-column-border-width : 2px;
}
