@charset "utf-8";

/************************************************************************************
*							REPORT - HEADER - INNER									*
*************************************************************************************/
#headers_wrapper {
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-blue-color);
	border-radius:
			var(--lnb-xxlight-border-radius)
			var(--lnb-xxlight-border-radius)
			var(--lnb-light-border-radius)
			var(--lnb-light-border-radius);
}
#change-report-btn {
	height: calc(1rem + 2 * 8px + 2 * 2px); /*font size + padding + border*/
}
#change-report-btn:hover {
	scale: 1.05;
}
#change-report-btn img {
	max-height: 100%; /* Prevents image from exceeding its container */
	width: auto;    /* Maintains aspect ratio */
	display: block;  /* Removes inline block behavior */
	object-fit: cover; /* Ensures it covers available space if needed */
	border-radius: var(--lnb-light-border-radius);
}
#report_header {
	background-color: var(--lnb-blue-color);
	border-color: var(--lnb-blue-color);
	color: var(--lnb-light-font-color);
	margin: 0;
	padding: 0.5rem 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-width: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media only screen and (max-width: 40em) {
	#report_header {
		align-items: flex-start;
		flex-wrap: wrap;
	}
	#report-header-title {
		order: 1;
		flex: 1 1 100%;
	}
	#report-header-left-btn, #report-header-right-btn {
		flex: 1 0 45%;
	}
}
#report_header .header-btn, .lb-menubar-menu-icon {
	background-color: var(--lnb-white-color);
	color: var(--lnb-blue-color);
	border-radius: var(--lnb-light-border-radius);
	border: 2px solid var(--lnb-white-color);
	padding: 8px 0;
	min-width: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#report_header .header-btn:hover,
#report_header .header-btn.active,
.lb-menubar-menu:hover .lb-menubar-menu-icon,
.lb-menubar-menu.touched .lb-menubar-menu-icon  {
	color: var(--lnb-white-color);
	background-color: var(--lnb-blue-color);
}
#report_header #lb_menubar_print {
	cursor: pointer;
}
#report_header #lb_mission_name,
#report_header #report-header-title {
	text-align: center;
}
#report_header #report-header-title {
	margin: 0 1rem;
	font-size: 1.3rem;
	font-weight: 600;
}
#report_header #lb_mission_name {
	margin-left: 15px;
	font-weight: 400;
}

/************************************************************************************
*							REPORT - SUB HEADER - INNER								*
*************************************************************************************/
#report_sub_header {
	background-color: var(--lnb-blue-color-20);
	border-color: var(--lnb-blue-color);
	color: var(--lnb-default-font-color);
	margin: 0;
	padding: 7px 30px;
	border-radius: var(--lnb-light-border-radius);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-width: 1px;
	font-size: 12px;
	line-height: 18px;
}

/************************************************************************************
*							REPORT - SUB MENU - INNER								*
*************************************************************************************/
#report-header-left-btn, #report-header-right-btn {
	flex-shrink: 0;
	position: relative;
	gap: 10px;
}
#report-header-left-btn {
	padding-left: 1.5rem;
}
#report-header-right-btn {
	padding-right: 1.5rem;
}
.lb-menubar-menu {
	position: relative;
}
.lb-menubar-menu:hover .lb-menubar-submenu,
.lb-menubar-menu.touched .lb-menubar-submenu{
	display: block;
}
.lb-menubar-submenu {
	display:none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 200;
	color: var(--lnb-default-font-color);
	background-color: white;
	border-top: 0.5rem solid var(--lnb-blue-color);
	border-right: 1px solid var(--lnb-blue-color);
	border-left: 1px solid var(--lnb-blue-color);
	border-bottom: 1px solid var(--lnb-blue-color);
	border-bottom-left-radius: var(--lnb-light-border-radius);
	border-bottom-right-radius: var(--lnb-light-border-radius);
}
.lb-menubar-submenu .lb-a:last-child .lb-menubar-submenu-item {
	border-bottom-left-radius: var(--lnb-light-border-radius);
	border-bottom-right-radius: var(--lnb-light-border-radius);
}
.lb-menubar-submenu-item {
	padding: 0.3rem;
	display: flex;
	align-items: center;
	transition: background-color 0.3s;
	gap: 0.8rem;
	min-width: 200px;
}
.lb-menubar-submenu-item:hover {
	background-color: var(--lnb-blue-color-20);
}
.lb-menubar-submenu-icon {
	min-width: 1.5rem;
	font-size: 1.2rem;
	text-align: center;
}
.lb-menubar-submenu-text {
	text-align: left;
}

/**************************************************************************************************
                          Report
****************************************************************************************************/

#maincontent {
	min-height: calc(100vh - 52px);
}

.fa-layers-counter {
	background-color: var(--lnb-orange-color);
	font-style: normal;
}
#page-alerts {
	position: fixed;
	top : 90px;
	max-width: 1420px;
}
#lb_main_container {
	width: 100%;
	max-width: 1400px;
}
#lb_report_container {
	margin: 0;
	padding: 0;
	background-color: var(--lnb-white-color);
	border-color: var(--lnb-white-color);
	color: var(--lnb-default-font-color);
}
#lb_report {
	width: 100%;
}
.lb_part_title_actions {
	background-color: var(--lnb-light-font-color);
	color: var(--lnb-default-font-color);
	font-size: 1.1rem;
	border-radius: var(--lnb-light-border-radius);
	padding: 7px 20px;
	border: 1px solid var(--lnb-grey-color);
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: baseline;
}
.lb_part_title_actions .rp_icon .lb_show_assignment {
	cursor: pointer;
	padding: 0 10px;
	font-size: 0.9rem;
}
.lb_part_title_actions .rp_icon {
	cursor: pointer;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: end;
	padding-top: 2px;
}
.lb_part_title_actions .rp_icon .ld_import_icon {
	display: flex;
	position: relative;
}


/**************************************************************************************************
                          RP
****************************************************************************************************/
.lb_report_part { margin-top: 2px; }
.connectedSortable { min-height: 10px; } /* important for drag and drop */
.connectedSortable { min-height: 10px; }

/* menu for ld_import */
.ld_import_menu {
	position: absolute; 
	right:0; 
	top: 100%; 
	z-index:90;
	background-color: white; width: 280px; text-align: left;
	border: solid 1px #cccccc;
	border-bottom-left-radius: var(--lnb-light-border-radius);
	border-bottom-right-radius: var(--lnb-light-border-radius);
}
.ld_import_menu .header { padding: 6px 6px 2px 6px; font-weight: bold;
	background-color: var(--lnb-light-font-color);
}
.ld_import_menu .header .select_mission { font-weight: normal; margin: 5px 0;}
.ld_import_menu .header .select_mission select { cursor: pointer; background-color: white; padding: 3px 10px 3px 3px; border: none; margin-left: 4px; border-radius: 5px; }
.ld_import_menu .no_lds_msg { white-space: pre-wrap; padding: 5px; }
.ld_import_menu .content {
	display: flex;
	flex-direction: column;
	gap:5px;
}
.ld_import_menu .content .select_ld {
	padding: 3px;
	overflow-y: auto;
	max-height: 150px;
	font-size: 1rem;
}
.ld_import_menu .content .select_ld .ld_to_import {
	cursor: pointer; padding: 3px 3px 3px 6px;
	overflow: clip;
	text-overflow: ellipsis;
	margin-bottom: 2px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.ld_import_menu .content .select_ld .ld_to_import:hover { background-color: #eaeaea; }
.ld_import_menu .content .select_ld .ld_to_import img { padding: 0 4px;}

/*elements related to assignments*/
.lb_assignment { display: none; padding: 4px 10px 4px 13px; border: none; overflow: auto; margin-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--lnb-light-font-color);
	border-radius: var(--lnb-light-border-radius);
}
.lb_assignment p { margin: 7px 0; }
.lb_div_assignment { margin-bottom: 10px; max-height: 250px; }
.labdoc_assignment { margin: 0 20px 10px 15px; max-height: 150px; }
.lb_assignment_close { color: #666; font-size: 16px; cursor: pointer; position: sticky; left: 98%; top: 2px; float: right; }
.fa-layers{
	display: inline;
	cursor: pointer;
}


/**************************************************************************************************
                          LD
****************************************************************************************************/

.ld_name_actions {
	width: 100%;
	font-size: 14px;
	margin-bottom: 5px;
	padding-right: 10px;
}

.ld_name_actions {
	color: var(--lnb-charcoal-grey-color);
	line-height: 16px;
}
.ld_name_actions_header {
	display:flex;
	gap: 10px;
	align-items: baseline;
}

.ld_name_actions .ld-diff-menu {
	display: flex;
	align-items: center;
	gap: 10px;
}
.ld_name_actions .ld-diff-menu .ld-diff-date {
	margin-left: 5px;
}
.ld_name_actions .ld-diff-menu select {
	padding-left: 3px;
}
.ld_name_actions .ld-diff-menu .ld-diff-toggle-button{
	cursor: pointer;
	background: transparent;
	border: none;
}

.ld_name_actions .ld-diff-menu .ld-diff-toggle-button i {
	font-size: 14px;
}

.ld_name_actions .ld-diff-menu .ld-diff-date {
	font-size: 12px;
	color: grey;
}
.ld_icon_name {
	display: flex;
	align-items: baseline;
	gap: 10px;
}
.ld_icon_name.edition {
	width: 95%;
}
.ld_icon_name img { 
	vertical-align: middle; 
}

/*add icon of a labdoc*/
.ld_draft {
	background-color: #f9fcc3;
}

.ui-state-default.labdoc_name{ cursor:move; }
td.ui-state-default{ background : none; border:none; font-weight: bold; color: #00C; }
.labdoc{ margin-bottom: 25px; }

.lb_show_hide_ld { width: 12px; text-align: center; cursor: pointer; }
.lb_move_btn { cursor : move; }
.ld_icon_name .annotator-wrapper {
	display: inline-block;
}
.labdoc_name { font-size: 14px; }
.editable_ld_name {
	width: 100%;
	padding: 2px 8px;
	font-size: 13px;
	border: 1px solid darkgray;
	border-radius: var(--lnb-light-border-radius);
	margin: 0;
}
.editable_ld_name:hover {
	border: 1px solid var(--lnb-orange-color);
}
.editable_ld_name:focus {
	border: 1px solid var(--lnb-orange-color);
	outline: none;
}
.empty-ld-name {
	color: #8C0000;
}
.labdoc_draft {
	padding-left: 8px;
	font-size: 12px;
}

.part_content { margin-top: 20px; }
.part_content > ul, #part_content_0 > ul { padding-left: 0; }
.labdoc_content { margin-bottom: 20px; margin-left: 15px; padding-bottom: 10px; font-size: 13px; font-family:  arial, verdana, sans-serif; }
.labdoc_content.ld_drawing { overflow-x: auto; }
.edited_labdoc_content{ margin-bottom: 16px; font-size: 12px; padding: 5px; font-family:  arial, verdana, sans-serif;}
table.labdoc_content{ font-size: 11px; border-collapse: collapse; }
.lb-ld-button { cursor: pointer; font-size: 16px;}

.comment_icon i.far {
	color: var(--lnb-green-color);
	font-size: 16px;
}

.lnb-ld-validate i {
	font-size: 16px;
}

/************************************************************************************
*								LD DROPDOWN MENU									*
*************************************************************************************/
.lb_ld_menu_btn {
	position: relative;
}
.lb_ld_menu_btn .lb-ld-menu-icon {
	padding: 0 15px 0 5px;
	font-size: 15px;
}
.lb_ld_menu_btn:hover .lb_ld_menu,
.lb_ld_menu_btn.touched .lb_ld_menu{
	display: block;
}
.lb_ld_menu {
	display: none;
	position : absolute;
	top: 0;
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-light-grey-color);
	border-radius: 4px;
	border-collapse: collapse;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-size: 13px;
	z-index: 90;
	overflow: hidden;
}
.lb_ld_menu.left-aligned {
	right: 0;
}
.lb_ld_menu:hover {
	display: block;
}
.lb_ld_menu tr {
	cursor: pointer;
}
.lb_ld_menu tr:hover {
	background-color: var(--lnb-light-grey-color);
}
.lb_ld_menu tr td {
	padding: 3px 7px;
}
.lb_ld_menu i {
	color: #666;
	font-size: 1.1rem;
}

.lnb_undoredo { white-space: nowrap; }
.lnb_undoredo i { color: #666; cursor: pointer; }
.lnb_undoredo .disabled { color: var(--lnb-light-grey-color) !important; cursor: default; }

.edited_ld_text { height: 470px; }
.mce-content-body p { margin: 6px 0; }

/************************************************************************************
*								LD PASTILLE											*
*************************************************************************************/
.icon-with-badge {
	position: relative;
}

.badge {
	position: absolute;
	top: -8px;
	right: -8px;
	width: 16px;
	height: 16px;
	background-color: var(--lnb-orange-color);
	color: var(--lnb-white-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px; /* Ajustez la taille de la police si nécessaire */
	font-weight: normal;
}
.ld_name_actions .badge i {
	color: var(--lnb-white-color) !important;
	font-size: 8px; /* Ajustez la taille de la police si nécessaire */
}
#widgets_column .badge {
	top: -4px;
	right: 2px;
}
#widgets_column.reduced .badge {
	top: -4px;
	right: -8px;
}

/************************************************************************************
*								WIDGETS										*
*************************************************************************************/

:root {
	--lnb-widget-column-border-color : var(--lnb-green-color-70);
	--lnb-widget-column-border-width : 1px;
}
.annotator-wrapper {
	white-space: normal;
}

/************************************************************************************
*								RESPONSIVE											*
*************************************************************************************
 *
 * Flexbox Grid: 
 * 	xs : Extra small (mobile phone)
 * 	sm : Small (tablet) / Min-width: 48em (768px)
 * 	md : Medium (little labtop) / Min-width: 64em (1024px)
 * 	lg : Large (labtop) / Min-width: 75em (1200px)
 * 	xl : Extra large (large screen labtop) / Min-width: 90em (1440px)
 **/

@media (max-width: 768px) {
	.lb_report_part {
		padding-left: 0;
	}
	.lb_part_title_actions {
		padding: 5px;
	}
	.lb_report_part:nth-child(1), 
	.lb_report_part:nth-child(2) {
		 margin-top: 0;
	 }
} 
