/************************************************************************************
*								Fitex										*
*************************************************************************************/

.fx_table td, .fx_table th { white-space: normal; word-wrap: break-word; }
.labdoc_content canvas { max-width: 830px; }
.lb_div_assignment { max-height: unset; }
.labdoc_assignment { max-height: unset; }
#report_header #report-header-title { font-size: 1.15rem; }
.lb_part_title_actions, .lb_assignment{
    border: 1px solid var(--lnb-strong-grey-color);
}
