body {
	max-width: 1150px;
	padding: 0 3vw;
}
h2, h3 {
	margin-bottom: 10px;
}
h2 img {
	margin-right: 20px;
}
.teams {
	margin: 20px 0 10px 15px;
}
.self {
	font-weight: bold;
}
.empty_members {
	font-style: italic;
	color: #757575;
}
.team {
	display: flex;
	gap: 10px;
}
.team_members {
	margin-top: 5px;
}
.team_header {
	padding: 5px 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: var(--lnb-medium-border-radius);
}
.team input {
	width: 15px;
}
.team .pad_radio {
	width: 15px;
}
.button_box .lb_btn {
	margin-left: 10px;
}
.button_box {
	max-width: 350px;
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
.lb-select-team-btn {
	padding: 5px 15px;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-medium-border-radius);
	color: var(--lnb-white-color);
}

