@charset "utf-8";

.widget-column {
	position: fixed;
	margin-top: 15px;
}
.widget-column.not-fixed {
	position: unset;
}

.widget-column.report-choice .widget-wrapper {
	border-bottom-left-radius: var(--lnb-strong-border-radius);
	border-bottom-right-radius: var(--lnb-strong-border-radius);
}
.widget-column.reduced.report-choice .widgets-buttons,
.widget-column.expanded.report-choice .widget-part{
	border-radius: var(--lnb-strong-border-radius);
}

/************************************************************************************
*								WIDGETS - INNER										*
*************************************************************************************/

/************************************************************************************
*							WIDGETS - MINIMIZE EFFECT - INNER						*
*************************************************************************************/
.widget-column.reduced .widgets-buttons {
	padding: 10px 5px;
	border-radius: var(--lnb-light-border-radius);
	border: var(--lnb-widget-column-border-width) solid var(--lnb-widget-column-border-color);
}
.widget-column.reduced .lnb-widget-menu-btn {
	margin: 10px auto;
	padding: 10px;
	text-align: left;
	width: 40px;
}
.widget-column.reduced .lnb-widget-menu-btn .lb-widget-icon {
	font-size: 22px;
}
.widget-column.reduced .lnb-widget-menu-btn .lb-widget-icon.fa-align-left {
	margin-right: 0;
}
.widget-column.reduced.small-screen .widgets-buttons-left-part {
	display: flex;
	justify-content: space-evenly;
}
.widget-column.reduced.small-screen .lnb-widget-menu-btn {
	margin: auto;
}
/************************************************************************************
*								WIDGETS - OPEN EFFECT								*
*************************************************************************************/

.annotator-wrapper {
	white-space: normal;
}
.widget-column.expanded .widget-part {
	width: 100%;
}
.widget-column.expanded .fixed-bottom,
.widget-column.expanded .fixed-right
{
	display: flex;
}
.widget-column.expanded .fixed-right {
	flex-direction: row;
}
.widget-column.expanded .fixed-bottom {
	flex-direction: column;
}
.widget-column.expanded .handle-resize .widget-extend-btn{
	border: none;
	background-color: transparent;
}
.widget-column.expanded .handle-resize:hover .widget-extend-btn{
	background-color: var(--lnb-green-color-70);
	border-radius: var(--lnb-light-border-radius);
}
.widget-column.expanded .handle-resize.left-right {
	cursor: col-resize;
	padding: 0 0.5rem;
}
.widget-column.expanded .handle-resize.left-right .widget-extend-btn {
	width: 3px;
	height: 100%;
	cursor: col-resize;
}
.widget-column.expanded .handle-resize.top-down {
	cursor: row-resize;
	padding: 0 0.5rem;
}
.widget-column.expanded .handle-resize.top-down  .widget-extend-btn{
	height: 3px;
	width: 100%;
	cursor: row-resize;
}

.widget-column.expanded .widget-part {
	border-radius: var(--lnb-light-border-radius);
	border:  var(--lnb-widget-column-border-width) solid var(--lnb-widget-column-border-color);
	background-color: var(--lnb-green-color-20);
}

.widget-column.expanded .widgets-buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid var(--lnb-green-color-40);
	background-color: transparent;
}

.widget-column.expanded .widgets-buttons-left-part {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-right: 0.5rem;
}

.widget-column.expanded .widgets-buttons-right-part {
	display: flex;
	border-left: 1px solid var(--lnb-green-color-70);
	gap: 0.5rem;
	padding-left: 0.5rem;
}

.widget-column.expanded .widgets-buttons button {
	min-width: 32px;
}

.widget-column.expanded .widgets-buttons .lb-widget-icon {
	margin: 0;
	font-size: 16px;
}

/************************************************************************************
*								RESPONSIVE											*
*************************************************************************************/

@media (min-width: 768px) {
}

