/*======================================================================================*/
/*       PAGE GENERAL                                                                   */
.bloc_lb_mission_edit { padding: 0 10px 25px;}
.mi-bloc { padding-top: 20px; }
html, body {  background: #f8f8f8; }
#wrapper-content { max-width: 960px; }
tox-tinymce { height: 470px; }

/*======================================================================================*/
/*       Styles génériques                                                              */

label { font-size:inherit ; color: inherit; }
input, select { font-size: inherit; }
.edit-mission-title { margin-bottom: 12px; margin-left: -15px; font-size: 18px; color: var(--lnb-blue-color); font-style: normal; font-weight: normal; cursor:pointer;}
.report-options { margin: 17px 0;}
.lba_icon_default { color: #4b4b4b; cursor: pointer; font-size: 20px; }
.icon_baseline    { color: #4b4b4b; cursor: pointer; font-size: 20px; vertical-align:baseline; }
.pointer { cursor: pointer; }
.place_holder_text { margin-right: 5px;	font-size: 14px; font-style: italic; color: var(--lnb-strong-grey-color);}

.fa-fa-info { font-size: 12px; }
.selected { background-color: #bbb;}

.menu_list { background-color: #e5e5e5; cursor: pointer;}
.menu_list:hover { background-color: #757d8a;}

.icon_add { width: 18px; height: 18px; cursor: pointer;}
.icon_delete { width: 20px; height: 20px; cursor: pointer;}
.lba_warning { padding: 2px 0 4px ; color: var(--lnb-danger-color); }

.lba_line { display: flex; align-items: center; padding: 5px 10px; }
.lba_line .right_part { margin-left: auto; display: flex; align-items: center;}
/*.lba_line:hover { background-color: #ddd; }*/
.lba_subline { margin-left: 20px;}
.lba_border { border: thin solid #aaa ;}
.lba_border_bot { border-left: thin solid #aaa ; border-right: thin solid #aaa; border-bottom: thin solid #aaa ; }
.lba_border_top { border-left: thin solid #aaa ; border-right: thin solid #aaa; border-top: thin solid #aaa ; }
.lba_line .fa-plus { margin-left: 3px; margin-right: 10px; cursor: pointer;}
.teacher_line { overflow: hidden; }

/* Labdoc import*/
.ldi_line:hover { background-color: #ddd;}
/* jquery accordion */
.ui-state-active {background-color: #aaa; border-color:#aaa;}
.ui-state-hover {background-color: #ddd; border-color:#ddd}

.report-options input { margin-right: 5px; }

/*======================================================================================*/
/*       Bloc de d'ajout et de mise a jour (ressource-partie de rapport-labdocs)        */

.form_edit {  padding: 10px; font-size: 14px; vertical-align: middle; }
.title .fa, .title .far  { margin-left: 5px; cursor: pointer;}
.title { display: block; font-size: 16px; font-weight: bold; padding-bottom: 5px; color: #5a5e6b; }

.fedit_icon { width: 20px; height: 20px;}
.fedit_checkbox { margin-left: 18px; margin-right: 8px; }
.ld_shared_edit_checkbox { margin-right: 8px; }
.ld_shared_tooltip { margin-left: 8px; }
.fedit_radio { margin-left: 15px; }
#bloc_rd_form label { cursor: pointer; }
.form_edit form i { font-size: 12px;  }
.mce_container i { font-size: inherit; margin-left: inherit; font-weight: inherit; color: inherit;  vertical-align: inherit; } /* casse css i sur le plugin tinyMCE*/

/*======================================================================================*/
/*       Mission Parametres                                                             */

#bloc_m_code { display: inline-block; margin-right: 10px;}
#m_code { width: 145px;}
#bloc_m_name { display: inline-block; margin-right: 10px;}
#m_name { width: 500px;}
.teacher_line .lba_icon_default { margin-left: 5px; font-size: 18px; }

#bloc_m_status { display: inline-block;}
#bloc_m_status select { width: 110px;}
#bloc_m_status option { width: 85px; font-size: 14px; line-height: 22px; }
#bloc_m_status option:hover { background-color: #757d8a;}

#bloc_teachers_linked { width: 480px; margin-top: 20px; margin-bottom: 20px;}
#bloc_teachers_linked { display: inline-block;}
#bloc_teachers_linked .lba_line select { width: 100px; padding-right: 5px ; margin-right: 20px; text-align: right; vertical-align: top;}
#bloc_teachers_linked i { vertical-align: top;}
#mi-add-teacher { padding: 2px 4px; font-size: 13px; width: 200px ; }
#mi-add-teacher-check { padding-left: 10px; }

#bloc_tl_add { display: none;}
#bloc_tl_add select { width: 440px; border: thin solid #bababa; font-size: 14px;}
#bloc_tl_add option { padding: 2px 6px; border-bottom: thin solid #bababa; font-size: 14px;}
#bloc_tl_add option:hover { background-color: #9CF;}

#lba_description_read, #lba_assignment_read, .lba_read { padding: 8px 15px; min-height: 60px; cursor: pointer; background-color: white; max-height: 150px; overflow-y: auto; font-size: 13px; }
#bloc_lba_assignment_edit, #bloc_lba_description_edit, .bloc_lba_edit { padding: 10px; box-sizing: content-box; }


/*======================================================================================*/
/*       RESOURCES                                                             */

#lba_file { display: none;}
#lba_assignment_link img { margin-left: 5px;}
#upload_message img { padding-left: 5px;}
#bloc_rd_form > div, .form_edit > div {  padding: 5px; }
#bloc_rd_form input, .form_edit input, #ld_name_edit { padding: 1px 3px; }
#rd_file { cursor:pointer;}
#add_rd_buttons { padding-left: 20px; }
.rd_line { font-size: 14px; width: 100%; padding: 3px; }
.rd_line:hover { background-color: #eaeaea; }
.rd_url { width: 450px; }
.icon_in_line { margin-right: 10px; width: 15px; }
.icon_in_line_ld { margin-right: 10px; vertical-align: top ; margin-top: 2px; width: 16px; }
.fa-folder-open { color: #73ab44 }

/*======================================================================================*/
/*       REPORT                                                                        */

#rp_list > * { box-sizing: initial; }
.rp_ld_title { display: inline-block; word-wrap: break-word; margin: 0 5px; }
.rp_line { background-color: #eaeaea; font-size: 14px; width: 100%; padding: 10px; margin-top: 10px;  }
.rp_line .wrapper_icon_ld {display: flex;}
.rp_line .rp_number {display: flex;}
.rp_line .empty_title {color:red;}
.rp_line .rp_line_title { display: flex; align-items: center; gap:5px; }
.rp_line .wrapper_icon_ld .icon_column {display: flex; flex-direction: column;}
.rp_line .wrapper_icon_ld .icon_column i.fa-times {color: red;}
.rp_line .wrapper_icon_ld .icon_column i.fa-check {color: green;}
.rp_line .icon_in_line_ld {cursor:pointer; }
.rp_line img.icon_in_line_ld { border-bottom: 2px solid #444444;	}
.rp_line img.icon_in_line_ld.inactive { border-bottom: none; }
.at_flex label { float: left; margin-top: 5px; }
.at_flex span { display: block; overflow: hidden; }
.at_flex input{ width: 99%; }
#rp_add .form-edit { display:none; }
.rp_edit .rp_buttons { display: flex; gap: 10px; margin-left: 5px; }
.rp_edit .rp_title_edit {display: inline-block; width: 90%;}
.rp_edit .rp_title_edit input { width: 100%; }
.rp_edit .student_permission .wrapper_icon_ld { margin: 10px 0; display: flex; align-items: center; gap:10px; }
.lb_show_assignment { cursor: pointer; padding: 0 10px; color: #555; font-size: 12px; }
.lba_add_rp { margin-top: 15px; }
.list_ld_part { background-color: #ffffff; }

/*======================================================================================*/
/*       ASSIGNMENTS                                                                    */
.lb_assignment { padding: 6px 8px; border: 1px solid #ccc; overflow: auto; font-size: 13px; background-color: #f3f3f3; }
.lb_assignment p { margin: 3px 10px 3px 0; }
.lb_div_assignment { margin-bottom: 10px; max-height: 250px; }
.labdoc_assignment { margin: 0 20px 10px 15px; }
.labdoc_assignment_readonly { cursor: pointer; max-height: 150px; }
.labdoc_assignment p { margin: 3px 10px 3px 0; }
.lb_assignment_close { color: #666; font-size: 16px; cursor: pointer; position: sticky; left: 98%; top: 0; float: right; }
.edited_labdoc_assignment .lb_btn { margin: 0 0 15px 15px; }

    /*======================================================================================*/
/*       LABDOCS                                                                        */

#labdoc_content * { box-sizing: content-box; }
#labdoc_content { width: 850px; margin: auto; padding: 0; }
.labdoc_content { margin-bottom: 20px; margin-left: 15px; padding-bottom: 10px; font-size: 13px; }
.lnb_tinymce_edit .ld_show_content { height: 460px; }
.lnb_tinymce_edit .ld_show_content.labdoc_assignment { height: unset; }
.edited_ld_dataset .ld_show_content { min-height: 460px; }
.ld_line { padding: 10px; }
.ld_line .empty_title {color:red;}
.ld_edit .student_permission {margin: 0 0 12px 15px;}
.ld_edit .xml_import_menu {margin: 10px;display: flex; gap:10px;}
.ld_edit .ld_name_edit {width: 85%;}
.ld_edit .ld_name_edit input {width: 100%;}
#ld_add { display: none; }
.lba_ld_place { margin-right: 10px; padding-bottom: 8px; vertical-align: middle ;}
#ld_import { display: none; }
.edited_labdoc_content { font-size: 12px; font-family: arial, verdana, sans-serif; color: black; line-height: inherit; }
div.lba_text_edited, div.commentEdited { min-height: 24px; line-height: initial;}
.ld_edit .edit_menu {margin-left: 10px;display: flex; gap: 10px; align-items: center;}
.jstree input { padding: 0; } /* hack pas terrible pour compenser les effets de redéfinition du style de la balise input dans .form_edit*/
.shared_labdoc_alert { font-weight: bold}

.empty_drag_area { min-height: 5px}

/*======================================================================================*/
/*       Grilles                                                                        */
.ru_line:hover { background-color: #eaeaea;}

/*======================================================================================*/
/*       Menu contextuels                                                               */

.lba_line i.show_ld { padding: 2px; font-size: 18px; width: 19px; margin: 0 5px 0 0; }
.lba_line .item_handle { cursor: move; }
.context_menu i.lba_icon_default { margin:0; padding: 2px; font-size: 14px; width: 19px; }
/*.context_menu i.lba_icon_default:hover { color:white; background-color:grey; outline: 1px solid grey; border-radius:2px; }*/
.context_menu .menu_edition_item:hover { background-color:lightgray; cursor: pointer;}
.context_menu .menu_edition_item {  padding: 5px; }
.lba_line .context_menu:hover .hover_menu_edition{ display: flex; flex-direction: column; }
.lba_line .context_menu .hover_menu_edition {display:none; position:absolute; z-index:100; margin-top: -19px; background-color: white;
    border: solid 1px #aaa; }
.lba_line .context_menu .lba_icon_edit_ld {display: flex; cursor:pointer; padding: 0 5px;}
.rd_line .context_menu, .ru_line .context_menu { margin-left:auto; visibility: hidden; }
.ru_line:hover .context_menu, .rd_line:hover .context_menu { visibility: visible; }

/*======================================================================================*/
/*       Menu d'import                                                                  */
.ld_import_menu_mission { position: absolute; right:25px; font-size: 13px; margin-top:-5px; z-index:300; border: 1px solid #cccccc; background-color: white; width: 290px; }
.ld_import_menu_mission .header { padding: 6px 6px 2px 6px; font-weight: bold; margin-bottom: 4px; background-color: #eaeaea; }
.ld_import_menu_mission .header .select_mission { font-weight: normal; margin: 5px 0;}
.ld_import_menu_mission .header .select_mission select { cursor: pointer; background-color: white; padding: 3px 10px 3px 3px; border: none; margin-left: 4px; border-radius: 5px; }
.ld_import_menu_mission .no_lds_msg { white-space: pre-wrap; padding: 5px; }
.ld_import_menu_mission .content { display: flex; flex-direction: column; gap:5px; }
.ld_import_menu_mission .content .select_ld { display: flex; flex-direction: column; gap: 5px; overflow: auto; max-height: 150px; }
.ld_import_menu_mission .content .select_ld .ld_to_import { cursor: pointer; padding: 3px 3px 3px 6px; display: flex; align-items: flex-start; gap:5px; }
.ld_import_menu_mission .content .select_ld .ld_to_import:hover { background-color: #eaeaea; }
.ld_import_menu_mission .content .select_ld .ld_to_import img { padding: 0; margin-top: 1px; }

/*======================================================================================*/
/*       Fenetre Alert                                                                  */

#info_alert { display: none; z-index: 9999; position: absolute; width: 400px; padding: 5px 10px; min-height: 50px; border: solid #bababa 2px;  border-radius: 3px; text-align: center; color: #000000; background: #e7e8d7;}
#info_alert_title { margin: 0; padding: 0; text-align: center;}
#info_alert_comment { text-align: left; font: 12px arial,sans-serif; font-weight: normal;}
#info_alert button { margin: 15px 5px 5px; padding: 5px; border: solid #888  2px; -moz-border-radius: 6px; border-radius: 6px; text-decoration: none;
    font-family: arial, sans-serif; font-size: 12px; background: #ccc; cursor: pointer; }
