.table-base tbody td:nth-child(1), .table-base tbody td:nth-child(2) {
	text-align: left;
}

#mi-outdated-missions { padding-top: 16px !important; }

.mission-diffusion{ padding-top: 4px; }

.description-row .tinyMCE-text td { padding: 1px;  }