option { padding: 1px 3px ; }

.reports-table-caption {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.reports-table-caption .table-caption-part {
	flex-shrink: 0;
}
/* Dim the table while loading */
.table-loading{
	opacity: 0.5;
	pointer-events: none; /* Disable interaction */
}
/* Hide duplicate table header, footer in case of scrollY options is defined */
#reports-table thead,
#reports-table tfoot  { 
	line-height: 0;
}
#reports-table thead tr th,
#reports-table tfoot tr th{
	background: none;
}
#reports-table tbody tr { height: 100% }
#reports-table tr[role] td { vertical-align: text-top; }
#reports-table tbody tr[role="row"] td:nth-child(1) { white-space: nowrap; }
#reports-table tbody td:nth-child(1), .table-base tbody td:nth-child(2) {text-align : left;}
#reports-table tbody td:nth-child(4) { white-space: nowrap; }
#reports-table tbody tr { vertical-align: middle; }
#reports-table tbody tr td:nth-child(7) { padding: 2px; }

#reports-table .report-checkbox-div,
#reports-table .labdoc-follow-div { height: 100%; }
#reports-table a.labdoc-follow { text-decoration: none; color: #1d6ad4; vertical-align: middle; }
#reports-table tr:hover a.labdoc-follow,
#reports-table tr.highlighted a.labdoc-follow { color: white; }
#reports-table input.report-checkbox { margin: 5px 0 4px; }
#reports-table tr td .labdoc-follow-div { white-space: nowrap; }
#reports-table tr td .report-checkbox-div:hover,
#reports-table tr td .labdoc-follow-div:hover {
    background-color: white; color: #1d6ad4;
}
.ms-options-wrap.ms-active {
    position: static;
}
.ms-options-wrap button, .ms-options-wrap button:focus, .ms-options-wrap.ms-active button {
	padding: 1px 20px 1px 5px;
}

#reports-filters {
	margin: auto;
	padding: 4px 0;
}
#reports-filters select {
	padding: 2px;
}
#reports-filters label {
	padding-left: 30px;
}

.display-archives input {
    margin-left: 5px;
}

td.expanded .report-details-wrapper {
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: space-between;
}
td.expanded .details{
    max-width: 420px;
}
td.expanded .dashboard-container {
    max-width: 50%;
    border: solid grey 3px;
    border-radius: 5px;
    padding: 8px 0 0 15px;
    height: 100%;
    min-height: 100px;
    flex-grow: 1;
    border-collapse: separate;
}

td.expanded .dashboard{
    display: table;
    width: 100%;
}

td.expanded .dashboard .indicator {
    display: table-row;
    height: 38px;
}

td.expanded .dashboard .titre {
    display: table-row;
    font-weight: bold;
}

td.expanded .dashboard .titre > p,
td.expanded .dashboard .indicator > div {
    display: table-cell;
    width: 90px;
    max-width: 112px;
    height: auto;
    text-align: center;
    float: none;
    vertical-align: middle;
}
td.expanded .dashboard .titre > p {
    padding: 0 2px;
}
td.expanded .dashboard .titre > p:nth-of-type(2),
td.expanded .dashboard .indicator > div:nth-of-type(2) {
    max-width: 90px;
}

td.expanded .dashboard .titre-left {
	padding-left: 15px;
    padding-right: 10px;
	text-indent: -11px;
}

td.expanded .dashboard .indicator .titre p{
    text-align: left;
}

td.expanded .dashboard #dashboard_details{
    display: block;
}

td.expanded .dashboard #dashboard_details #button_details{
    width: 100%;
}

td.expanded .dashboard.dashboard-loading{
    height: 256px;
}

.simulation-indicator {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding-bottom: 5px;
}
.simulation-indicator .titre {
	font-weight: bold;
	text-indent: -3px;
}

svg{
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.dashboard-title{
    flex: 0 0 100%;
    padding-left: 30px;
}

#dashboard-container{
    display: flex;
    flex-wrap: wrap;
}

#div-bars{
    width: 100%;
}

.db-svg-bars {
    padding-left: 5px !important;
    width: 120px !important;
    max-width: 120px !important;
}

#batch-update-popup section { padding-top: 0;}

/* Loader page raport enseignants*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

.container-spinner{
    display: flex;
    height: 100%;
    align-items: center;
    justify-items: unset;
    justify-content: center;
}
   
.spinner {
    content: '';
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}

.spinner-mini{
    width: 20px !important;
    height: 20px !important;
}

/* Margin on Font Awesome */
.dashboard-icon {
    margin-right: 5px;
}

#number-report-selected {
	color: var(--lnb-blue-color);
	margin-right: 5px;
}

.indicator-value {
    border-radius: 5px;
    border: solid 1px #c2c1c1;
}

/* Heatmap and collab dashboard style */
section#traces-heatmap #heatmap-title, h2.collaborative-dashboard-title{
	margin: 0 0 10px 0;
	width: 1060px;
	text-align: center;
	color: var(--lnb-blue-color);
	font-weight: normal;
}
h2.collaborative-dashboard-title{
	width: 1010px;
}
h2.collaborative-dashboard-title .collaborative-dashboard-tooltip{
	margin-left: 10px;
}
section#traces-heatmap div#heatmap-div {
	width: 1060px;
	margin-bottom: 50px;
	padding: 0;
}
td.expanded div.collaborative-dashboard-container{
	clear: both;
	display: block;
	border: 3px solid grey;
	padding: 10px;
	position: relative;
	top:10px;
	margin-bottom: 10px;
	border-radius: 3px;
}
section#traces-heatmap div#heatmap-div .svg-container, div.collaborative-dashboard-container .svg-container{
	margin:auto;
	overflow-y: hidden;
	overflow-x: auto;
	border: 1px solid rgb(186, 186, 186);
}
section#traces-heatmap div#heatmap-div div.modebar {
	left: 10px;
	top: 14px;
	width: 100px;
}
div.collaborative-dashboard-container div.modebar {
	top: 10px;
	left: 90px;
}
div.collaborative-dashboard-container div.modebar a.modebar-btn svg path{
    fill: rgba(68, 68, 68, 0.3);
}
div.collaborative-dashboard-container .svg-container g.hovertext > path{
	opacity: .9;
}
div.collaborative-dashboard-container div.modebar a.modebar-btn:hover svg path{
    fill: rgba(68, 68, 68, 0.7);
}
section#traces-heatmap div#heatmap-div div.modebar a.modebar-btn, div.collaborative-dashboard-container div.modebar a.modebar-btn{
	display:inline-block;
}
section#traces-heatmap div#heatmap-div div.modebar a.modebar-btn[data-val="zoom"], div.collaborative-dashboard-container div.modebar a.modebar-btn[data-val="zoom"]{
	visibility:hidden;
}
.collaborative-dashboard-button-container {
	display: block;
	margin-top: 40px;
}
.collaborative-dashboard-button-container button {
	cursor: pointer;
	border: none;
	height: 2em;
	padding: 0 10px;
}
.collaborative-dashboard-button-container span {
	padding-right: 15px;
}

.red {
	color: #ff5c5c;
}

.orange {
	color: #ffbd00;
}

.green {
	color: #73ab44;
}

#open-multi-reports-popup p { padding: 2px 0; }
#open-multi-reports-options { display: flex; padding-top: 15px; }
#open-multi-reports-options-title { padding-right: 10px; }

.simulation-class-dashboard {
	background: var(--lnb-light-grey-color);
	padding: 1rem;
	max-width: 1100px;
}
.simulation-class-dashboard-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem; 
	margin-bottom: 0.8rem;
}
.simulation-class-dashboard-title {
	color: var(--lnb-blue-color);
	font-weight: normal;
	font-size: 21px;
}
.simulation-class-dashboard-content,
.simulation-class-dashboard-section,
.simulation-class-dashboard-section-content {
	display: flex;
	flex-direction: column;
}
.simulation-class-dashboard-content {
	gap: 1rem;
}
.simulation-class-dashboard-section,
.simulation-class-dashboard-section-content {
	gap: 0.8rem;
}
.simulation-class-dashboard-section-content {
	line-height: 1.4;
}
.simulation-class-dashboard-section {
	background: var(--lnb-white-color);
	padding: 0.5rem;
}
.simulation-class-dashboard-section-title {
	color: var(--lnb-blue-color);
	font-weight: 800;
}

