.simulation-header,
.simulation-header-buttons{
	display: flex;
	gap: 5px;
	align-items: center;
}

.simulation-header-buttons {
	margin-left: 8%;
}

.simulation-table-wrapper .table-overflow-wrapper {
	max-height: 78vh;
	overflow-y: auto;
	margin-bottom: 10px;
}

.simulation-table-wrapper strong.inactive {
	color: #aaa;
}

.simulation-table-wrapper button,
.simulation-header button {
	cursor: pointer;
	padding: 3px;
	margin: 0;
}
.simulation-table-wrapper button.remove-button {
	cursor: pointer;
	color: var(--lnb-danger-color);
}
.simulation-table-wrapper button.remove-button-rc {
	cursor: pointer;
	color: var(--lnb-danger-color);
	padding: 0;
	border: none;
	background-color: transparent;
}
.simulation-table-wrapper .table-base {
	width: unset;
	margin: 0;
	position: relative;
	font-size: 12px;
}
.simulation-table-wrapper .table-base th {
	position: sticky;
	top: 0; /* Don't forget this, required for the stickiness */
	background-color: var(--lnb-light-grey-color);
}
.simulation-table-wrapper .table-base thead > tr {
	background-color: var(--lnb-light-grey-color);
	font-size: 13px;
}
.simulation-table-wrapper .table-base thead > tr > :first-child {
	border-left: 1px solid #bababa;
}
.simulation-table-wrapper .table-base thead > tr > th{
	border-bottom: 1px solid #bababa;
	border-right: 1px solid #bababa;
	text-align: center;
}
.simulation-table-wrapper .table-base tr > :first-child{
	border-left: 1px solid #bababa;
}
.simulation-table-wrapper .table-base tr > td {
	border-right: 1px solid #bababa;
}
.simulation-table-wrapper .table-base tr:last-child > td {
	border-bottom: 1px solid #bababa;
}
table.dataTable.table-base tbody td {
	padding: 5px;
}

.simulation-table-wrapper .table-base select {
	width: auto;
	font-size: 12px;
}

.simulation-table-wrapper .clickable {
	cursor: pointer;
}
.simulation-table-wrapper .movable {
	cursor: move;
}
.simulation-table-wrapper .small-column {
	padding: 3px;
	width: 30px;
	text-align: center;
}
.simulation-table-wrapper .disabled-cell {
	background-color: var(--lnb-light-grey-color);
}
.simulation-table-wrapper .constraint-key-reduced {
	overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; max-width: 50px;
}
.simulation-table-wrapper .constraint-key-extended {
	display: block;
	width: 180px;
	word-break: break-word;
}
.simulation-table-wrapper .rc-inner-wrapper {
	display: flex;  
	gap: 5px;
	align-items: center;
}
