@charset "utf-8";

/**
 * général
 */
blockquote { margin: 7px 15px; }
#wrapper-content {
	min-width: 1080px;
	min-height: 500px
}
.class-outdated{display : none;}
#cl-search-input{min-width: 150px;}
#classes { margin-right: 10px; }

#wrapper-content {
	white-space: nowrap;
}
#wrapper-content > section {
	white-space: normal;
}

/**
 * tableaux
 */
.table-base tbody td:nth-child(1) { text-align: left; }
#le-table thead th:last-child {
	text-align: center;
}
#le-table thead th:nth-child(5) { width: 40px; }
#le-table tbody td:nth-child(4){text-align : left;}
#le-table tbody td:nth-child(2) { text-align: left; }
.description-row div { padding-bottom: 4px; }
.description-row .right-info { padding-left: 30px; }
.description-row .fa-eye { padding: 0 10px 0 5px; }

/**
 * popup
 */

#add-students.popup.ui-dialog-content{
    overflow: visible;
}
#add-students-method input {
	margin: 3px 5px 3px 0;
	cursor: pointer;
}
#add-students-method label {
	cursor: pointer;
}
#add-students-method {
	margin-bottom: 10px;
}
#le-add-studentnumbers-form textArea {
	padding: 4px;
}
#le-add-studentnumbers-form button {
	padding: 0 5px;
	margin: 5px 0;
	cursor: pointer;
}
#le-add-student-class-code-form {
	max-width: 460px;
}
#le-add-student-class-code-form div {
	text-align: justify;
	padding: 5px;
}

#le-popup , #add-students { min-width : 385px }
#cl-popup { min-width: 460px; max-width: 460px; overflow: visible}
#cl-popup label , .le-fieldset label {
	display: inline-block;
	text-align: right;
}
#cl-add-teacher-or-team { width: 200px; }
#cl-popup label {width: 140px; }
.le-fieldset label {width: 160px; }
#le-add-popup i {font-size: 16px; }
#le-add-popup ul {margin: 5px 0 ; }
#le-add-popup li {margin-bottom: 5px ; }
#cl-popup fieldset { margin-top: 20px; }

#csv-popup {min-width : 900px;}
#csv-popup input[type='file'] { cursor: pointer ; }
#csv-popup table {min-width : 95%; margin : auto}
#csv-popup table thead { font-weight: bold; }
#csv-popup table input[type='text'],
#csv-popup table input[type='email'] {
	width : 92%;
	background : white;
	border: 0;
	padding: 2px 4px;
}
#csv-popup table input[type=text][readonly],
#csv-popup table input[type=email][readonly] {
	background-color: #eee;
}
.csv-option-cell {
	text-align: right;
	white-space: nowrap;
}
.csv-option-cell i {
	font-size: 16px;
	margin: 0 2px;
}
.lb-error { color: red; }
.lb-warning { color : green ; }

#csv-content { padding-bottom: 5px; }

#cl-add-teacher-temp { display: none; }
#cl-teachers-list { margin-bottom: 4px; }
#cl-teacher-teams-list {
	margin-top: 4px;
	margin-bottom: 4px;
}

#le-add-studentnumbers-popup textarea {
	padding: 4px;
	width: 470px;
}
#le-add-studentnumbers-popup button {
	margin: 5px 5px 0 0;
	padding: 2px;
	cursor: pointer;
}
#le-add-studentnumbers-popup-btn {
	text-align: right;
}

#le-add-studentnumbers-form textarea{
	width: 100%;
}

.actions > i.fa.fa-search, .actions > i.far.fa-search {
    margin-right: 50px;
}
#tb-search-class {
	display: none;
	display: inline-block;
	width: 0;
	height: 0;
	position: relative;
	padding: 0;
	margin: 0;
}
#tb-search-class > div {
	position: absolute;
	left: -20px;
	top: 9px;
	text-decoration: none;
	background-color: #e7e8d7;
	border: 1px solid #b8b9a8;
	z-index: 200;
	padding: 0 8px;
}
#tb-search-class .search-input {
	margin: 0px;
	max-width: 132px;
}
.tb-search .fa,
.tb-search .far {
    cursor: pointer; 
}

.class-team-missions {
	margin-right: 1ex;
}

#le-add-checkbox-all { margin-left: 20px; }
#le-add-student-class-students { margin: 10px 0 0 10px; }
#le-add-student-class-students input {margin-right: 6px;}
