.fa-info-circle {
	margin-left: 3px;
	color: var(--lnb-blue-color);;
}

/* User blocks */
.student-item {
	line-height: 1px;
}

.student-item.draggable .tc-user {
	cursor: grab;
}

#tc-popup.popup.ui-dialog-content{
    overflow: visible;
}

#tc-add-exernal-learner .select2 {
	max-width: 200px;
}

.tc-user {
	padding: .2em .4em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	text-align: center;
	border-radius: .25em;
	min-width: 30px;
	max-width: 100px;
	color: #333;
	margin: 2px 0 2px 5px;
	line-height: 15px;
	border: 2px solid #888;
}

.danger {
	color: red;
}

.draggable .tc-user {
	background-color: #f2f3ea;
}
.class-student.not-draggable .tc-user {
	border-color: #ccc;
}
.external-student.not-draggable .tc-user {
	border-color: #e8c88c;
}
.external-student.draggable .tc-user {
	border-color: orange;
}

.tc-user-close {
	display: none;
	position: absolute;
}
.student-item:hover .tc-user-close {
	display: inline;
}

/* Autres CSS */

#tc-popup-submit {
	margin-left: 20px;
}

.left-pane .with-team {
	display: none;
}

#tc-reuse {
	display: none;
}

#tc-future-team-constraints {
	border: 0;
	padding-left: 10px;
	width: 100%;
}
#tc-future-team-constraints input {
	margin-right: 10px;
}
#tc-future-team-constraints td:nth-child(2){
	text-align: center;
	width: 100px;
}
#tc-future-team-constraints td span{
	white-space:nowrap;
	margin-right: 10px;
}

#tc-delete-teaming.disabled {
	background: #999;
	color: #eee;
	cursor: default;
}

#tc-delete-teaming {
	background-color: red;
	margin-left: 20px;
	float: right;
}

#tc-report-prefix {
	width: 70px;
}

#tc-students-options .tc-report-name {
	width: 80px;
	flex: 0 0 80px;
	margin-top: 0px;
	padding: 2px;
}

#student-without-placeholder, .placeholder-drop-zone {
	text-align: center;
	font-style: italic;
	margin: 5px;
}

#tc-students-without-team-label{
	text-align: center;
	font-style: italic;
}
#tc-popup{
	max-width: 900px;
	line-height: 20px;
}

#tc-team-constraints-panel > input{
	width: 40px;
}
#tc-students-without-team {
	width: 100%;
	text-align: initial;
	margin-bottom: 2px;
}

.tc-student-drop-zone{
	border: 1px dashed gray;
	color: gray;
	width: 100%;
	padding-right: 3px;
}

div[data-team-index] > div.team{
	margin-top: 2px;
}

div[data-team-index]{
	display: flex;
	align-items: center;
	justify-content: center;
}

#tc-messaging-options{
	padding-left: 10px;
}

#tc-messaging-options td {
	padding-right: 5px;
}

.tc-label {
	font-weight: bold;
	display: inline;
	line-height: 2em;
}

.tc-label-toggle {
	cursor: pointer;
}

.tc-info-label {
	color: grey;
	margin-left: 5px;
	font-style: italic;
}

.tc-student-label {
	display: block;
	text-align: center;
	font-weight: bold;
	margin: 10px 0 5px;
}

.tc-student-label-top { margin-top: 0; }

.tc-info {
	color: grey;
}

#tc-messaging-options select {
	width: 180px;
}

#tc-popup > section {
	padding: 10px 12px 0;
}

#tc-popup > section > div{
	margin-bottom: 14px;
}

.subsection-content {
	border: 1px solid var(--lnb-blue-color);
	padding: 5px;
}

#tc-email {
	/* padding: 5px;*/
	margin-top: 2px;
}

#tc-students-options {
	padding-left: 5px;
	width: 100%;
	min-width: 800px;
}

#tc-students-options-header {
	text-align: center;
	margin-bottom: 15px;
}

#tc-student-without-team-panel {
	border-right: 1px solid #bbb;
}

#tc-students-options > div > fieldset {
	height: fit-content;
}

.tc-reports {
	margin-top: 5px;
	display: flex;
}

#tc-do-random-assignment{
	margin-left: 20px;
}

@media only screen and (max-width: 48em) {
}

#tc-external-student-panel {
	text-align: center;
}

#tc-external-student-panel input {
	margin: 0;
}

#tc-external-student-panel span.select2 {
	min-width: 180px;
}

#tc-future-students-options {
	min-width: 840px;
}
