.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

zwibbler {
    width: 100%;
    height: 465px;
    position: relative;
}

.wrap {
    flex-wrap: wrap;
    align-content: flex-start;
}

.flex-col {
    display: flex;
    flex-flow: column;    
}

.stretch {
    flex: 1 1 auto;
}

.scroll-y {
    overflow-y: auto;
}

.full {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.toolbar {
    background: #eee;
}

.toolbar button {
    border: none;
    border-radius: 4px;
    background: transparent;
    margin: 3px;
    border: 2px solid transparent;
    width: 32px;
    height: 32px;
    padding: 0;
    flex: 0 0 auto;
}

.toolbar button i {
    font-size: 21px;
    color: #808080;
}

.toolbar .fa-folder-open-o { font-size: 23px; }

.toolbar .zoom button i {
    font-size: 15px;
}

.toolbar .zoom  {
    margin-left: auto;
}

.toolbar button:hover, .toolbar button.selected {
    background: #ccc;
}

.toolbar button img {
    padding-top: 1px;
}

.toolbar button.selected {
    border: 2px solid orange;
}

.toolbar button[disabled] {
    opacity: 0.5;
}

.toolbar.collapsed {
    overflow: hidden;
    height: 60px;
}

.show-toolbar {
    display: none;
}

.hide-toolbar {
    display: initial;
}

.collapsed .show-toolbar {
    display: initial;
}

.collapsed .hide-toolbar {
    display: none;
}

.image-library {
    max-height: 400px;
    width: 550px;
}

[z-popup="library"] select {
    padding: 3px; /* TODO 10px */
    flex: 1 1 auto;
}

.image-library img {
    max-height: 60px; /* 80 px */ 
    max-width: 60px;/* 80 px */
}

.image-backing {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 80px;
    height: 80px;
    margin: 4px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    transition: background-color 200ms;
	position: relative;
}

.image-backing:hover {
    background: orange;
}

.remove-library-button {
	position: absolute;
	right: 3px;
	top: 3px;
	border: 0;
	border-radius: 3px;
	padding: 10px;
}

[z-popup], .popup {
    background: #eee;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    min-width: auto;
    box-sizing: unset;
}

.graphic-tools {
    width: 155px;
    position: absolute;
    right: 20px;
    top: 10px;
    font-family: sans-serif;
}

.graphic-tools button {
    border: none;
    padding: 0;
    margin: 3px;
    line-height:0;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
}

.graphic-tools.hidden {
    visibility: hidden;
}

[z-popup="palette"] button {
    width: 64px;
    height: 45px;
    border: 1px solid black;
}

.symbol-popup a {
    padding: 5px;
    border: 1px solid black;
    background: white;
    width: 22px;
    text-align: center;
    cursor: pointer;
    transition: background-color 200ms;
}

.symbol-popup a:hover {
    background: orange;
}

.symbol-popup a {
    padding: 5px;
    margin: 2px;
}

.zwibbler-canvas-holder {
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

.library-buttons {
    margin-top: 10px;
    width: 100%;
}

.library-buttons button {
	flex: 1 1 auto;
	padding: 5px;
	margin: 5px;
}

.hint-text {
	position: absolute;
	opacity: 50%;
	font: 12px sans-serif;
	pointer-events: none;
    margin: 3px;
    background-color: white;
}
