@charset "utf-8";

/**
 * général
 */
blockquote { margin: 7px 15px; }

.width-medium {
	width: 650px;
	display: inline-block;
}
#wrapper-content {
	min-width: 1080px;
	min-height: 500px
}
.class-outdated{display : none;}
#tt-search-input{min-width: 150px;}
#teachers { display: inline-block; }
#teacherTeams { margin-right: 10px; }

#wrapper-content > div { margin-bottom: 20px; }
#t-search-teacher { padding: 1px; font-size: 13px; }

/**
 * tableaux
 */
.table-base tbody td:nth-child(1) { text-align: left; }
.description-row div { padding-bottom: 4px; }
.description-row .right-info { padding-left: 30px; }
.description-row .fa-eye { padding: 0 10px 0 5px; }

/**
 * popup
 */
#tt-popup {min-width : 400px; max-width: 400px; overflow: visible;}
#tt-popup label {
	display: inline-block;
	text-align: right;
}
#tt-popup label {width: 140px; }

#tt-add-popup { max-width: 600px; }
#tt-add-popup div { margin-bottom: 8px; }
#tt-add-popup-btn { text-align: center; margin: 14px 0 0 !important; }
#tt-add-popup-btn button { margin: 0 4px; }

#t-add-popup i {font-size: 16px; }
#t-add-popup ul {margin: 5px 0 ; }
#t-add-popup li {margin-bottom: 5px ; }
#tt-popup fieldset { margin-top: 20px; }

.tt-add-popup-emphase { font-weight: bold; }
.lb-error { color: red; }
.lb-warning { color : green ; }

#tt-add-teacher-temp { display: none; }
#tt-teachers-list { margin-bottom: 4px; }


.actions > i.fa.fa-search {
    margin-right: 50px;
}
#tb-search-class {
	display: none;
	display: inline-block;
	width: 0;
	height: 0;
	position: relative;
	padding: 0;
	margin: 0;
}
#tb-search-class > div {
	position: absolute;
	left: -20px;
	top: 9px;
	text-decoration: none;
	background-color: #ededed;
	border: 1px solid #b8b9a8;
	z-index: 200;
	padding: 0 8px;
}
#tb-search-class .search-input {
	margin: 0px;
	max-width: 132px;
}
.tb-search .fa,
.tb-search .far {
    cursor: pointer; 
}

/*
Teacher management
 */
#t-teacher-results {
	margin-top: 4px;
	margin-left: 10px;
	padding: 4px;
	border: solid 1px #aaa;
	max-height: 200px ; 
	overflow: auto;
}
#t-teacher-results .fa,
#t-teacher-results .far {
	cursor: pointer;
	color: #666666;
}
#t-teacher-results a{
	color: blue;
}
#t-teacher-close-result { float: right; }

.remove-status-disabled{
	color : #808080;
}
.remove-status-enable{
	color : var(--lnb-blue-color);
}
