@charset "utf-8";

body { max-width: 1100px; }

#fxstd_header { font-size: 14px; margin: 0 5px; }
#fxstd_header h1 { font-size: 1.3em; padding: 0.67em 0; font-weight: normal; text-align: center; }
#fxstd_header p { margin-top: 1em; margin-bottom: 1em; }

#labdoc_content_1 { margin: 0 5px; }

/* buttons */
.fxstd_btn { cursor: pointer; }
.fxstd_btn:hover { background-color: #b7d3a2; }
#fxstd_header .fa { font-size: 20px; }
#fxstd_main_menu .fa-cloud-upload { vertical-align: middle; }
.fxstd_menu_item .fa { padding: 2px 4px; }

#page-alerts { position: absolute; top: 0px; margin-bottom: 5px;}

#fxstd_info { float: right; text-align: center; }

#fxstd_main_menu { border-collapse: collapse; width: 460px; }
.fxstd_menu_item { line-height: 20px; padding: 3px 6px; background-color: #dfdfdf ; white-space: nowrap; }
.fxstd_open_menu { display: none; }
.fxstd_open_menu td { padding-left: 25px; }
#fxstd_code { padding-left: 2px; }
.fxstd_current_code { line-height: 20px; padding: 5px; }
#fxstd_current_code { display: none; }

#fxstd_help {
    position: absolute;
    display: none;
    padding: 0 8px;
    background-color: #e1edd8;
    border: solid 1px #4b7b3c;
    z-index: 10;
}