@charset "utf-8";
/* CSS BONNES PRATIQUES */
/* Attention à la porté=propagation et aux poids des sélecteurs : http://css.sutterlity.fr/les-bases-css/poids-selecteurs-css */
/* éviter les CSS sur élèments direct type div, imput, etc... sans limitation de propagation comme les + ou > */
/* Pour les pages hôtes : préfixer si possible les CSS */
/* Pour les pages et équipes d'éléments qui peuvent être chargé sur plusieurs pages : préfixer les CSS et si possible mettre les attributs styles directement dans les éléments */


#wrapper { min-width: 1050px;}
#wrapper-content { max-width: inherit; }
#wrapper-content > div { margin-bottom: 20px; margin-right: 15px; vertical-align: top;}

/***********************************************************************************/
/* BLOC D'OPTIONS  --------------------------------------------------------------- */
/* group options      : go- */

.bloc-options { display: none; width: 650px; height: 620px;}
#institutions { margin-right: 10px; }

/***********************************************************************************/
/* BLOC TEACHER LIST --------------------------------------------------------------- */

#teacher-list { display: inline-block; width: 320px;}
#teacher-list table { width: 298px;}
#teacher-list table .fa,#teacher-list table .far { cursor: pointer;}
#teacher-list  td:nth-child(1) { width: 200px; border-right: thin solid #bababa;}
#teacher-list  td:nth-child(2) { width: 118px;}
#teacher-list .table-list td:nth-child(1) { text-align: left;}
#teacher-list .table-list td:nth-child(2) { text-align: center;}


/***********************************************************************************/
/* BLOC GROUP INFO --------------------------------------------------------------- */

#teacher-info input { border: thin solid; border-color: #cfcfcf; background-color: #efefef;}
#teacher-info fieldset { background-color: inherit;}
#teacher-info form { cursor: default;}


/***********************************************************************************/
/* BLOC GROUP EDITION ------------------------------------------------------------ */

#teacher-edit .go-mission-code { border: thin solid; border-color: #cfcfcf; background-color: #efefef;}
#user-role label {
	width: initial;
	text-align: left;
	padding: 0 0 0 3px;
}
#user-role select {
	margin-top: 0;
}
#superpower { margin-top: 10px; }

/***********************************************************************************/
/* Institutions list ------------------------------------------------------------- */

.actions-inactive > .single-action,
.actions-inactive > .batch-action
{
	color: #808080;
	opacity: .4;
    cursor: default;
}

.popup label {
	display: inline-block;
}

.table-base tbody tr.description-row.large-row > td{
	text-align: left;
	font-size: small;
}

table.minitable {
	border-collapse: collapse;
	margin-bottom: 10px;
}

table.minitable thead tr th {
	font-size: small;
	color: #000;
	text-align: left !important;
	padding: 2px 4px;
}
table.minitable tbody tr td {
	font-size: small;
	padding: 1px 4px;
	vertical-align: top;
}

h2 {
	color: rgb(73, 112, 1);
	margin: 10px 0px 10px 0px;
}

h4 {
	margin: 8px 0px 8px 0px;
}

.platform-info {
	font-size: medium;
}
.platform-info, #debug {
	margin-left: 15px;
}
.platform-info ul {
	list-style-type: none;
	padding-left: 0px;
}
.platform-info li {
	padding-left: 15px;
}
.platform-info .fa,
.platform-info .far {
	color: #444;
}
.platform-info li:before {
    font-family: 'FontAwesome';
    margin:0 5px 0 -15px;
}
.platform-info li.success:before {
    content: '\f058'; /* fa-check-circle */
    color: #4b4;
}
.platform-info li.warn:before {
    content: '\f06a'; /* fa-exclamation-circle */
    color: #fa0;
}
.platform-info li.err:before {
    content: '\f057'; /* fa-times-circle */
    color: #f44;
}
.platform-info li.err {
	font-weight:bold;
}
.platform-info .fa,
.platform-info .far {
    color: #444;
}
#debug, #send-test-email {
	margin-bottom: 10px;
}
#debug p { margin: 3px 0; }
