#calendar .fc .fc-toolbar-title {
	font-size: 1.1em;
}

#calendar .fc .fc-button {
	font-size: 0.9em;
}

#calendar .fc-more-popover{
	top:0 !important;
	left:0 !important;
	width:100%;
}

.fc-toolbar{
	margin-bottom: 0 !important;
}

.fc-daygrid-day-number{
	padding:0px !important;
	font-size: 9px;
}

.fc-daygrid-block-event{
	font-size: 10px;
	margin:0;
	padding:0;
}

.fc-daygrid-dot-event{
	padding:0;
	margin:0;
}

.fc-col-header-cell-cushion{
	font-size:11px;
}

.fc-button-primary{
	padding:0.2em 0.325em !important;
}

a.fc-event.fc-event-start.fc-event-end {
	cursor: pointer;
}
