@charset "utf-8";

.comment-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: space-between;
}
.comment-ld-select.lb-custom-select{
	width: 50%;
	max-width: 200px;
	outline: none;
	background-color: var(--lnb-white-color);
	cursor: pointer;
}
.comment-ld-select .lb-custom-select-selector {
	border: 1px solid var(--lnb-green-color-70);
	border-radius: var(--lnb-xlight-border-radius);
}
.comment-ld-select .lb-custom-select-selector span {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.comment-ld-select .lb-custom-select-dropdown-option {
	display: flex;
	align-items: baseline;
	gap: 0.3rem;
}
.comment-ld-select .lb-custom-select-highlighted-option {
	color: var(--lnb-orange-color);
}
.comment-ld-select .lb-custom-select-option-icon{
	font-size: 0.5rem;
	transform: translateY(-25%);
}
/***** Style de conteneur des differentes page (messages, conversations ..) *****/
#comment_wrapper { display: flex; flex-direction: column; position: relative; }
#comment_messages { overflow-x: hidden; overflow-y: auto; resize: none; margin: 0 0.4rem 0.4rem; flex-grow: 1; }
.comment_warning { color:grey; font-style: italic; padding: 5px; }
.comment_msg {  margin: 6px 2px 0 2px; }
.comment_msg .widg-btn-box { 
	float: right;
	padding: 3px 4px 0 5px;
}
.comment_msg:hover .widg-btn-box { visibility: visible; }
.comment_sender{ color:var(--lnb-green-color); font-weight: 500; }
.comment_time{ color:var(--lnb-green-color); margin-right: 9px; font-size: 8pt; }
.comment-text { font-family: Arial, Helvetica, sans-serif; }

.widget-comment-send-wrapper {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	height: 7rem;
	background-color: var(--lnb-white-color);
	padding: 0.3rem;
}
.widget-comment-send-wrapper-left {
	flex-grow: 1;
}
.widget-comment-send-btn {
	font-size: 1.5rem;
	color: var(--lnb-green-color);
	padding: 0.3rem;
	border: none;
	background: none;
}
.widget-comment-send-btn:hover {
	scale: 1.15;
}
.widget-comment-send-textarea {
	width: 100%;
	height: calc(100% - 2 * 0.3rem);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Grey shadow */
	resize: none;
	padding: 3px;
	font-family: arial, verdana, sans-serif;
	font-size: inherit;
}
.widget-comment-send-textarea:focus {
	outline: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* Stronger shadow on focus */
}
.trash_deleted_ld .widg-btn-box {
	float: right;
}
