@charset "utf-8";

/************************************************************************************
*							TEACHER             									*
*************************************************************************************/

/* pour adapter à l'outil auteur : remise de balises à la valeur initiale */
#messagerie.teacher * { box-sizing: content-box; }
#messagerie.teacher p { display: block; }
#messagerie.teacher {
	position: fixed !important;
	background-color: white;
	min-width: 370px;
	min-height: 270px;
	border-radius: 3px;
	box-shadow: 0 0 3px #000;
	overflow: hidden;
	font-size: 10pt;
}
#messagerie.teacher #msg_menu_conversations {
	justify-content: end;
	gap: 0;
	padding-top: 3px;
}
#messagerie.teacher #search_conversation {
	padding-right: 10px;
	flex-grow: unset;
}
#messagerie.teacher #msg_menu_conversations_add {
	padding-right: 5px;
}
#messagerie.teacher #msg_menu_conversations_add button {
	font-size: 1.3rem;
}
#messagerie.teacher #drag_msg  {
	background-color: var(--lnb-green-color);
	cursor: move;
}
#messagerie.teacher #msg_participants {
	display: none;
	margin: 0;
	border-radius: 0;
	height: calc(100% - 35px);
}
#messagerie.teacher #msg_participants_list {
	max-height: unset;
	overflow-y: unset;
}
#messagerie.teacher .msg_scroll {
	overflow-y: auto; resize: none;
}
#messagerie.teacher #msg_conversations {
	position: absolute;
	top: 50px; bottom: 15px; right: 0; left: 0;
}
#messagerie.teacher #widg_msg_title {
	font-size: 15px;
	margin-left: 10px;
	line-height: 25px;
	color: #fff;
}
#messagerie.teacher #close_widgmsg {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 4px;
}
#messagerie.teacher #msg_menu_messages .widget-message-btn {
	float: left;
	color: var(--lnb-green-color);
	padding: 0 5px 0 0;
}

#messagerie.teacher #msg_messages { position: absolute; top: 25px; left: 0; right: 0; bottom: 0; }

/************************************************************************************
*							STUDENT				             						*
*************************************************************************************/
#messagerie.student {
	position: relative;
}
#messagerie.student #msg_menu_messages {
	top: 30px;
}

/************************************************************************************
*									COMMON											*
*************************************************************************************/

#lb_menubar_messagerie.authoring_menu_div .fa-layers-counter { height: 150%; }
.msg_scroll { padding: 0 0.4rem; }
.msg_conversation .new-msg { color: var(--lnb-orange-color); }
.msg_conversation .fa-circle { font-size: 7px; vertical-align: middle; }
.conv_icons { width: 11px; cursor: pointer; }
.conv_main {
	margin: 6px 2px 2px;
	display: flex;
	align-items: baseline;
	gap: 5px;
}
.conv-content { flex: 1; }
.conv_title, .conv_timesnap { cursor: pointer; }
.conv_timesnap {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.conv_title { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.conv_snapshot {
	padding-left: 8px;
	font-family: arial, verdana, sans-serif;
}
.conv_time { color: var(--lnb-green-color); font-size: 8pt; }
.msg_conversation .widg-btn-box { float: right; padding: 3px 4px 0 5px; }
.msg_conversation:hover .widg-btn-box i { visibility: visible; }

#msg_menu_messages {
	position: sticky;
	background-color: var(--lnb-green-color-20);
	padding: 0.5rem;
	border-bottom: 1px solid var(--lnb-green-color-70);
}
#msg_send { 
	position: sticky; bottom:0; 
}

/********  Participants   *************/
#msg_participants {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	padding: 0.3rem;
	margin: 0.3rem;
	background-color: var(--lnb-green-color-20);
	border: 1px solid var(--lnb-green-color-70);
	border-radius: var(--lnb-xlight-border-radius);
}
#msg_participants_list {
	max-height: 8rem;
	overflow-y: auto;
}
.msg_participants_list_title { font-weight: 600; }
.msg_add_participants {
	padding-left: 1rem;
}
.msg_participants_list_action {
	margin-top: 0.3rem;
}
#msg_add_participants_class_select select {
	padding: 3px 5px;
}
#msg_div_title {
	display: flex;
	flex-direction: row;
	gap: 5px;
}
#msg_conv_title {
	width: 100%;
	max-width: 250px;
	padding: 1px 3px;
}
/********  Messages   *************/
#msg_messages { display: none; flex-direction: column; }
#msg_menu_messages { max-height: 36px ; }
#msg_menu_messages .fa, #msg_menu_messages .far  { color: var(--lnb-default-font-color); font-size: 16px; cursor: pointer; }
#msg_menu_messages i { margin: 2px 2px 0; }
#msg_menu_msg_participants {
	margin: 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 5px;
}
#msg_menu_msg_participants { color: var(--lnb-default-font-color); line-height: 17px; min-height: 20px; max-height: 36px; overflow: hidden; text-overflow: ellipsis; }
#msg_menu_msg_participants_text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: 1px;
}
#msg_menu_msg_right_icons i {
	font-size: 1.15rem;
}
#msg_msg_code, .conv_title_mcode { font-weight: 600; padding-right: 3px; }

.msg_msg {
	padding: 0.3rem;
	display: flex;
	align-items: baseline;
	gap: 0.3rem;
}
#msg_msg_messages { overflow-x: hidden; overflow-y: auto; resize: none; margin: 2px 0; flex-grow: 1; }
.msg_msg_save {
	width: calc(100% - 40px);
	border: solid 1px var(--lnb-green-color);
	background-color: var(--lnb-green-color-20);
	border-radius: var(--lnb-xlight-border-radius);
}
.msg_sender{ color: var(--lnb-green-color); font-weight: 500; }
.msg_text {
	font-family: arial, verdana, sans-serif;
}
.msg_time{ 
	color:var(--lnb-green-color);
	font-size: 8pt;
	flex-shrink: 0;
	flex-basis: 25px;
}
#ld_to_attach {
	padding: 1px 4px;
	max-width: 270px;
}
.attached_ld{ cursor:pointer; color: var(--lnb-default-font-color); font-family: arial, verdana, sans-serif; }
.attached_ld:hover {
	color: var(--lnb-green-color);
}
.allow_save_ld{
	padding:0 10px 4px 30px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.allow_save_ld .lb-a {
	cursor: pointer;
}
.widget-message-select {
	max-width: 60%;
	padding: 1px 4px;
}

.widget-message-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.widget-message-header-menu {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.widget-message-header-menu .widget-message-header-menu-right-part {
	flex-grow: 1;
}
.widget-message-header-menu .widget-message-search-input {
	border: 1px solid var(--lnb-green-color-40);
	border-radius: var(--lnb-xlight-border-radius);
	padding: 0.2rem 0.4rem;
}
.widget-message-search-input:hover {
	border: 1px solid var(--lnb-green-color);
}
.widget-message-search-input:focus {
	border: 1px solid var(--lnb-green-color);
	outline: none;
}
.widget-message-send-wrapper {
	position: sticky;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	height: 7rem;
	background-color: var(--lnb-white-color);
	padding: 0.3rem;
}
.msg_send_wrapper_left{
	flex-grow: 1;
}
.msg_send_wrapper_right {
	display: flex;
	flex-direction: column;
}

.widget-message-btn {
	padding: 0 0.3rem;
	font-size: 1.4rem;
	color: var(--lnb-green-color);
	border: none;
	background: none;
	cursor: pointer;
}
.widget-message-btn:hover {
	scale: 1.15;
}
.widget-message-send-textarea {
	width: 100%;
	height: calc(100% - 2 * 0.3rem);
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Grey shadow */
	resize: none;
	padding: 3px;
	font-family: arial, verdana, sans-serif;
	font-size: inherit;
}
.widget-message-send-textarea:focus {
	outline: none;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* Stronger shadow on focus */
}
