@charset "utf-8";

/*********** Contenu *****************/
.widg-res-content {
	position: relative;
	padding: 0 0.4rem;
}
.widg-res-section {
	padding: 8px 0;
	border-bottom: solid 1px var(--lnb-green-color-70);
}
#widg-res-learner-docs {
	border-bottom: none;
}
.widg-res-toggle-section:hover {
	opacity: 0.8;
	cursor: pointer;
}
.widg-res-short-assignment {
	padding: 0 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.widg-res-title {
	padding-bottom: 4px; 
}
.widg-res-icon {
	color: var(--lnb-charcoal-grey-color);
	font-size: 0.5rem;
	padding-top: 7px;
}
.widg-res-icon.new-resource {
	color: var(--lnb-orange-color);
}
.widg-res-link {
	display: flex;
	gap: 0.4rem;
	cursor: pointer; 
	text-decoration: none;
	color: var(--lnb-charcoal-grey-color);
}
.widg-res-link:hover {
	color: var(--lnb-link-font-hover-color);
}
.widg-res-learner-doc {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}
.widg-res-learner-doc .widg-res-link,
.widg-res-learner-doc .widg-res-input-name{
	flex-grow: 1;
}
.widg-res-learner-doc:hover .widg-btn-box,
.widg-res-edit-doc .widg-btn-box{
	visibility: visible;
}

.widg-res-bottom-section {
	position: sticky;
	bottom: 0.3rem;
}
.widg-res-add-form-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 4px;
}
.widg-res-input-text{
	flex-grow: 1;
}
.widg-res-label {
	flex-shrink: 0;
	flex-basis: 4.5rem;
	text-align: right;
}
.widg-res-add-button {
	margin-left: 0.5rem;
	cursor: pointer;
	background-color: var(--lnb-white-color);
}
.widg-res-add-button i {
	font-size: 1.4rem;
	margin-right: 4px;
	color: var(--lnb-green-color);
}
.widg-res-add-button:hover i {
	scale: 1.15;
}
.widg-res-add-button span {
	color: var(--lnb-charcoal-grey-color);
}
.widg-res-add-button:hover span {
	color: var(--lnb-link-font-hover-color);
}
.widg-res-add-form {
	padding: 4px;
	background-color: var(--lnb-green-color-20);
	border: 1px solid var(--lnb-green-color-70);
	border-radius: var(--lnb-xlight-border-radius);
}
.widg-res-add-form input {
	max-width: 300px;
}
.widg-res-add-form table tr:nth-child(1) td:nth-child(1) {
	vertical-align: top;
	min-width: 48px;
}
.widg-res-add-form table tr:nth-child(1) td:nth-child(2) {
	padding-bottom: 3px;
}
.widg-res-add-form table label {
	cursor: pointer;
}
.widg-res-add-form-btn {
	cursor: pointer;
	font-size: 1.25rem;
}
