@charset "utf-8";

:root {
	--assessment-group-background: var(--lnb-green-color);
	--assessment-first-and-last-column-background: var(--lnb-light-grey-color);
	--assessment-border-color: var(--lnb-green-color);
	--assessment-icons-and-hover-outline: var(--lnb-strong-grey-color);
	--assessment-selected-descrob: var(--lnb-blue-color-40);
	--assessment-checkbox-color: var(--lnb-green-color);
	--assessment-neutralized-descrob-text: var(--lnb-strong-grey-color);
	--assessment-neutralized-criterion-text: var(--lnb-strong-grey-color);
	--assessment-neutralized-descrob-background: white;
}

/************************************************************************************
*								SCORING IS NOW A SECTION							*
*************************************************************************************/
/* Containers and general global styling */
/*#scoring a { text-decoration: none; }
#scoring a:link { color: black; }
#scoring a:visited { color: black; }
#scoring a:hover { background-color: #E2EFD4; }*/
#scoring .lb_btn { padding: 5px; margin: 0; }

#scoring input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { display: none; }
#scoring input[type=number] { -moz-appearance: textfield; /* Firefox */ }
#assessment { font-family: Arial, Verdana, Helvetica, sans-serif; }

#widg-scoring-content .assessment-status-wrapper i { color: white; }
#widg-scoring-content .assessment-auto-textarea { 
	font-size: 0.9rem !important; 
	background-color: var(--lnb-white-color);
	line-height: 1 !important;
}
#scoring .lb_btn_danger { background-color: var(--lnb-danger-color); color: var(--lnb-white-color); }
#scoring .lb_btn_danger:hover { color: var(--lnb-danger-color); background-color: var(--lnb-white-color); }
#scoring .lb_btn_danger:hover i { color: var(--lnb-danger-color); }
#scoring .lba_icon_default { color: #4b4b4b; cursor: pointer; font-size: 20px; top: 2px; position: relative;}
#scoring label {
	width: auto;
}

.assessment-header {
	display: flex;
	align-items: center;
	gap: 5px;
	width: calc(100% - 10px);
}
.assessment-header .buttonbox {
	display: flex;
	gap: 5px;
	margin-left: auto;
}
.assessment-status-wrapper .assessment-header-label { 
	font-style: italic;
	flex-shrink: 0;
	margin-right: 5px;
}
.assessment-missing-student-wrapper .assessment-header-label {
	font-weight: 500;
}
 .assessment-header .assessment-status-wrapper .assessment-published-wrapper {
	display: flex;
	align-items: baseline;
}
.assessment-header .assessment-status-wrapper .assessment-reinit-button-wrapper { 
	margin: 0; 
	padding: 0; 
}
.assessment-header .assessment-status-wrapper .assessment-reinit-button-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-shrink: 0;
	gap: 5px;
}
.assessment-header .assessment-header-btn {
	cursor: pointer;
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-green-color);
	color: var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-light-border-radius);
	padding: 0 6px;
}
.assessment-header .assessment-header-btn:hover {
	background-color: var(--lnb-green-color-40);
}
.assessment-header .assessment-header-btn.danger {
	background-color: var(--lnb-orange-color);
	color: var(--lnb-white-color);
	border: 1px solid var(--lnb-orange-color);
}
.assessment-header .assessment-header-btn.danger:hover {
	color: var(--lnb-orange-color);
	background-color: var(--lnb-white-color);
	border: 1px solid var(--lnb-orange-color);
}
.assessment-missing-student-wrapper { 
	width: calc(100% - 10px);
	padding: 5px;
}
.assessment-missing-student-wrapper .students-list-wrapper,
.assessment-missing-student-wrapper .students-checkboxes-wrapper {
	margin-left: 10px;
}
.assessment-missing-student-wrapper div.student-wrapper,
.assessment-missing-student-wrapper div.student-checkbox-wrapper,
.assessment-missing-student-wrapper div.student-wrapper::after,
.assessment-missing-student-wrapper div.student-checkbox-wrapper::after {
	display: inline-block;
}
.assessment-missing-student-wrapper div.student-wrapper::after,
.assessment-missing-student-wrapper div.student-checkbox-wrapper::after {
	content: ',\00a0';
}
.assessment-missing-student-wrapper .student-wrapper:nth-last-of-type(1)::after,
.assessment-missing-student-wrapper .student-checkbox-wrapper:nth-last-of-type(1)::after {
	content: '';
}
.assessment-missing-student-wrapper div.student-checkbox-wrapper label {
	cursor: pointer;
}
/* Assessment table */
#assessment { 
	border-collapse: collapse; 
	margin: 0; 
	height: 1px;
}
#assessment tr, 
#assessment tr td { 
	padding: 0; 
	position: relative;
	border: 1px solid var(--assessment-border-color);
	height: 100%;
}
#assessment tr td div { 
	margin: 5px; 
	font-size: 13px; 
}
#assessment .criterion-score {
	min-width: 100px;
}
#assessment .individual-bonus-malus-add td, #assessment .individual-bonus-malus-add {
	border-width: 0;
}
#assessment .individual-bonus-malus-add td {
	background-color: white;
}

/* Cursor */
#assessment tr,
#assessment tr td,
#assessment tr td div,
#assessment tr td label {
	cursor: default;
}
#assessment.corrector span.btn_pointer ,
#assessment.corrector div.delete-individual-bonus-malus ,
#assessment.corrector div.neutralize-criterion,
#assessment.corrector div.criterion-descrob-wrapper,
#assessment.corrector div.criterion-descrob-wrapper div.hidden-checkbox,
#assessment.corrector td.descrob span,
#assessment.corrector td.descrob label,
#assessment.corrector div.two-descriptors-selection,
#assessment.corrector div.criterion-comment,
#assessment.corrector td.bonus-malus-comment div,
#assessment.corrector td.bonus-malus-comment div span,
#assessment.corrector td.bonus-malus-score div,
#assessment.corrector td.bonus-malus-score div span,
#assessment.corrector div.final-assessment-comment-content,
#assessment.corrector div.final-assessment-comment-content span {
	cursor: pointer;
}

/* Margin and padding for div */
#assessment tr.group div {
	margin: 5px 10px;
}
#assessment tr.criterion td.criterion-score div.criterion-grade,
#assessment tr.criterion td.criterion-score div.criterion-comment {
	margin: 1px auto;
}
#assessment tr.criterion td.criterion-score div.criterion-comment,
#assessment tr.bonus-malus td.bonus-malus-score div.bonus-malus-score-content,
#assessment div.bonus-malus-comment-content,
#assessment tr.final-assessment td.final-assessment-comment div.final-assessment-comment-content {
	padding: 3px;
	margin: 1px;
	width: calc(100% - 6px);
}
#assessment div.criterion-description-wrapper,
#assessment.corrector div.description-wrapper,
#assessment div.criterion-weight,
#assessment div.criterion-descrob-wrapper,
#assessment div.descrob-weight,
#assessment.corrector  div.two-descriptors-selection,
#assessment div.criterion-score-wrapper,
#assessment.corrector  div.criterion-comment-editor,
#assessment.corrector div.bonus-malus-score-editor,
#assessment.corrector div.bonus-malus-comment-editor,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-editor {
	margin: 0;
	padding: 0;
}

/* Centering */
#assessment tr.group td.group-score div,
#assessment tr.criterion td.criterion-score div.criterion-score-wrapper,
#assessment tr.criterion.observable td.descrob,
#assessment tr.criterion td.descrob div,
#assessment tr.criterion td.criterion-score div.criterion-grade,
#assessment tr.bonus-malus td.bonus-malus-comment div,
#assessment tr.bonus-malus td.bonus-malus-score div,
#assessment tr.final-assessment td.final-assessment-comment div,
#assessment tr.final-assessment td.final-assessment-score div {
	text-align: center;
}
#assessment tr.criterion.observable td.descrob label {
	text-align: left;
}

/* Backgrounds and colors */
#assessment tr.group {
	background-color: var(--assessment-group-background);
}
#assessment tr.criterion td.criterion-description,
#assessment tr.criterion td.criterion-score,
#assessment tr.bonus-malus td.bonus-malus-title,
#assessment tr.bonus-malus td.bonus-malus-score,
#assessment tr.bonus-malus td.final-assessment-score,
#assessment td.bonus-malus-comment,
#assessment tr.final-assessment td {
	background-color: var(--assessment-first-and-last-column-background);
}
#assessment tr.separator {
	background-color: transparent;
}
#assessment.corrector tr.bonus-malus td.bonus-malus-title:hover div.delete-individual-bonus-malus ,
#assessment.corrector tr.criterion td.criterion-description:hover div.neutralize-criterion {
	background-color: var(--assessment-first-and-last-column-background);
}
#assessment.corrector tr.bonus-malus td.bonus-malus-title div.delete-individual-bonus-malus:hover ,
#assessment.corrector tr.criterion td.criterion-description div.neutralize-criterion:hover,
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-score div.bonus-malus-score-content:hover,
#assessment.corrector tr.bonus-malus.assessment-editable div.bonus-malus-comment-content:hover,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-content:hover {
	background-color: var(--lnb-grey-color);
}
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-comment div.bonus-malus-comment-content:hover,
#assessment.corrector tr.criterion.assessment-editable.criterion-activated td.criterion-score div.criterion-comment:hover,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-content:hover {
	background-color: white;
}
#assessment tr.criterion.descriptor td.descrob.selected,
#assessment.corrector tr.criterion.descriptor.assessment-editable.criterion-activated td.descrob div.two-descriptors-selection:hover div.two-descriptors-selection span.fa-stack {
	background-color: var(--assessment-selected-descrob);
}
#assessment.corrector tr.criterion.descriptor.criterion-neutralized td.descrob.selected {
    background-color: var(--assessment-neutralized-descrob-background);
}
#assessment tr.group div,
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection span.fa-stack i.fas.fa-circle {
	color: white;
}
#assessment.corrector tr.bonus-malus td.bonus-malus-title div.delete-individual-bonus-malus ,
#assessment.corrector tr.criterion td.criterion-description div.neutralize-criterion i {
	color: var(--assessment-icons-and-hover-outline);
}
#assessment.corrector tr.criterion.criterion-neutralized td.criterion-description span,
#assessment.corrector tr.criterion.criterion-neutralized td.criterion-score span {
	color: var(--assessment-neutralized-criterion-text);
}
#assessment.corrector tr.criterion.descriptor.criterion-neutralized td.descrob span,
#assessment.corrector tr.criterion.observable.criterion-neutralized td.descrob label {
	color: var(--assessment-neutralized-descrob-text);
}
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection span.fa-stack i.far.fa-circle {
	color: var(--assessment-group-background);
}
#assessment.corrector tr.criterion.descriptor.assessment-editable.criterion-activated td.descrob div.two-descriptors-selection:hover span.fa-stack i.fas.fa-circle,
#assessment.corrector tr.criterion.descriptor.criterion-activated td.descrob div.two-descriptors-selection.selected span.fa-stack i.fas.fa-circle {
	color: var(--assessment-selected-descrob);
}
#assessment.corrector tr.criterion.descriptor.criterion-neutralized td.descrob div.two-descriptors-selection.selected span.fa-stack i.fas.fa-circle {
	color: var(--assessment-neutralized-descrob-background);
}

/* Flex display for all cell divs containing more than one element */
#assessment tr.criterion td.criterion-description div.criterion-description-wrapper,
#assessment tr.criterion td.descrob div.criterion-descrob-wrapper,
#assessment tr.criterion td.criterion-score div.criterion-score-wrapper {
	display: flex;
	align-items: center;
	height: calc(100% - 6px);
	gap: 5px;
	padding: 3px;
}
#assessment tr.criterion td.criterion-description div.criterion-description-wrapper {
	flex-direction: row;
	justify-content: left;
}
#assessment tr.criterion td.descrob div.criterion-descrob-wrapper {
	flex-direction: row;
	justify-content: center;
	margin-right: 3px;
}
#assessment tr.criterion td.criterion-score div.criterion-score-wrapper {
	flex-direction: column;
	justify-content: center;
	gap: 0;
}

/* Inputs and text-areas but checkboxes */
#assessment.corrector tr.criterion.assessment-editable.criterion-activated td.criterion-score div.criterion-comment-editor textarea,
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-score div.bonus-malus-score-editor input,
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-comment div.bonus-malus-comment-editor textarea,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-editor textarea {
	font-size: 12px;
	border: 1px solid var(--assessment-icons-and-hover-outline);
	border-radius: 2px;
	padding: 1px;
}
#assessment.corrector tr.criterion.assessment-editable.criterion-activated td.criterion-score div.criterion-comment-editor textarea {
	width: calc(100% - 6px);
}
#assessment.corrector tr.criterion.assessment-editable.criterion-activated td.criterion-score div.criterion-comment-editor {
	width: 100%;
}
#assessment tr.criterion td.criterion-score div.criterion-comment span,
#assessment tr.bonus-malus td.bonus-malus-comment div.bonus-malus-comment-content span,
#assessment tr.final-assessment td.final-assessment-comment div.final-assessment-comment-content span {
	white-space: pre-wrap;
}
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-score div.bonus-malus-score-editor input {
	width: 4em;
	font-size: 13px;
}

#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-comment div.bonus-malus-comment-editor textarea,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-editor textarea {
	font-size: 13px;
	width: calc(100% - 6px);
}

/* Checkboxes */
#assessment tr.criterion.observable td.descrob div.hidden-checkbox-wrapper,
#assessment tr.criterion.observable td.descrob div.hidden-checkbox,
#assessment tr.criterion.observable td.descrob input {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#assessment tr.criterion.observable td.descrob input {
	display: none;
}
#assessment tr.criterion.observable td.descrob label {
	max-width: calc(100% - 20px);
}
#assessment tr.criterion.observable td.descrob div.hidden-checkbox-wrapper {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid var(--assessment-icons-and-hover-outline);
	border-radius: 2px;
	height: 10px;
	width: 10px;
	margin-bottom: 0;
}
#assessment tr.criterion.observable.criterion-neutralized td.descrob div.hidden-checkbox-wrapper {
	border: 2px solid var(--assessment-neutralized-descrob-text);
}
#assessment tr.criterion.observable td.descrob div.hidden-checkbox:before {
	content:'';
	appearance: none;
	-webkit-appearance: none;
	margin: 0 0 2px 0;
	padding: 0;
	height: 10px;
	width: 10px;
	display: inline-block;
	position: relative;
	background-color: transparent;
}
#assessment tr.criterion.observable td.descrob input:checked + div.hidden-checkbox-wrapper {
	background-color: var(--assessment-checkbox-color);
	border: 2px solid var(--assessment-checkbox-color);
}
#assessment tr.criterion.observable.criterion-neutralized td.descrob input:checked + div.hidden-checkbox-wrapper {
	background-color: var(--assessment-neutralized-descrob-background);
	border: 2px solid var(--assessment-neutralized-descrob-background);
}
#assessment tr.criterion.observable td.descrob input:checked + div.hidden-checkbox-wrapper div.hidden-checkbox:before {
	transform-origin: bottom left;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	background-color: white;
}

/* Button neutralize */
#assessment.corrector tr.bonus-malus td.bonus-malus-title div.delete-individual-bonus-malus ,
#assessment.corrector tr.criterion td.criterion-description div.neutralize-criterion {
	visibility: hidden;
	padding: 2px;
	display: inline;
	position: absolute;
	top: 0;
	right: 0;
}
#assessment.corrector tr.bonus-malus td.bonus-malus-title:hover div.delete-individual-bonus-malus ,
#assessment.corrector tr.criterion td.criterion-description:hover div.neutralize-criterion {
	visibility: visible;
	outline : 1px solid var(--assessment-icons-and-hover-outline);
}

/* Buttons */
#assessment.corrector tr.bonus-malus td.bonus-malus-title div.delete-individual-bonus-malus:hover,
#assessment.corrector tr.criterion td.criterion-description div.neutralize-criterion:hover,
#assessment.corrector tr.criterion.assessment-editable.criterion-activated td.criterion-score div.criterion-comment:hover,
#assessment.corrector tr.bonus-malus.assessment-editable td.bonus-malus-score div.bonus-malus-score-content:hover,
#assessment.corrector tr.bonus-malus.assessment-editable div.bonus-malus-comment-content:hover,
#assessment.corrector tr.final-assessment.assessment-editable td.final-assessment-comment div.final-assessment-comment-content:hover {
	outline: 1px solid var(--assessment-icons-and-hover-outline);
	border-bottom: 1px solid transparent;
}

/* Neutralization special features */
#assessment.corrector tr.criterion.criterion-neutralized td {
	border-left: 1px solid var(--assessment-neutralized-criterion-text);
	border-right: 1px solid var(--assessment-neutralized-criterion-text);
}
#assessment.corrector tr.criterion.criterion-neutralized td.criterion-description {
	border-left: 1px solid var(--assessment-border-color);
}
#assessment.corrector tr.criterion.criterion-neutralized td.criterion-score {
	border-right: 1px solid var(--assessment-border-color);
}
#assessment.corrector tr.criterion.observable.criterion-neutralized td.descrob {
	border-left: none;
	border-right: none;
}

/* Two-selection special features */
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection {
	position: absolute;
	overflow: visible;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%);
	z-index: 2;
	height: 33.333334%;
	width: 2.5em;
	background: none;
	display: inline-flex;
	align-items: center;
}
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection span.fa-stack {
	font-size: 12px;
	display: none;
}
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection span.fa-stack i.fas.fa-circle {
	font-size: 12px;
}
#assessment.corrector tr.criterion.descriptor td.descrob div.two-descriptors-selection span.fa-stack i.far.fa-circle {
	font-size: 12px;
}
#assessment.corrector tr.criterion.descriptor.assessment-editable.criterion-activated td.descrob div.two-descriptors-selection:hover span.fa-stack {
	display: inline-block;
}

/* Weights special features */
#assessment tr.criterion td.criterion-description div.criterion-weight,
#assessment tr.criterion td.descrob div.descrob-weight,
#assessment tr.group td.group-description div.group-weight {
	position: absolute;
	bottom: 1px;
	right: 1px;
	display: none;
	padding: 2px;
	color: var(--assessment-icons-and-hover-outline);
}
#assessment tr.group td.group-description div.group-weight {
	margin: 2px 0;
	color: white;
}
#assessment tr.criterion td.criterion-description div.criterion-weight {
	background-color: var(--assessment-first-and-last-column-background);
}
#assessment tr.criterion td.descrob div.descrob-weight {
	background-color: white;
}
#assessment tr.criterion.descriptor td.descrob.selected div.descrob-weight {
	background-color: var(--assessment-selected-descrob);
}
#assessment tr.group td.group-description div.group-weight {
	background-color: var(--assessment-group-background);
}
#assessment tr.criterion td.criterion-description div.criterion-weight i, 
#assessment tr.criterion td.descrob div.descrob-weight i {
	margin-right: 2px;
	color: var(--assessment-icons-and-hover-outline);
}
#assessment tr.group td.group-description div.group-weight i {
	color: white;
}
#assessment tr.criterion.criterion-activated td.criterion-description:hover div.criterion-weight,
#assessment tr.criterion.criterion-activated td.descrob:hover div.descrob-weight,
#assessment tr.group td.group-description:hover div.group-weight {
	display: block;
}
#assessment tr.group td.group-description:hover div.group-weight i,
#assessment tr.group td.group-description:hover div.group-weight span {
	display: inline;
}

/* Criteria-groups special features */
#assessment tr.group div span {
	max-height: 36px;
	font-size: 14px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Criteria special features */
#assessment tr.criterion {
	height: 50px;
}
#assessment tr.criterion td.criterion-description div.criterion-description-wrapper span,
#assessment tr.criterion td.descrob div.criterion-descrob-wrapper span,
#assessment tr.criterion td.descrob div.criterion-descrob-wrapper label,
#assessment tr.criterion td.criterion-score div.criterion-score-wrapper div.criterion-comment {
	display: -webkit-box;
	-webkit-line-clamp: 7;
	line-clamp: 7;
	-webkit-box-orient: vertical;
	max-height: 110px;
	overflow: hidden;
}
#assessment tr.criterion td.criterion-score div.criterion-comment span,
#assessment tr.criterion td.descrob div,
#assessment tr.criterion td.descrob span {
	font-size: 12px;
}
#assessment tr.criterion td.criterion-score div.criterion-comment {
	border-bottom: 1px solid #aeaeae;
}
#assessment tr.criterion.observable td.descrob {
	border-width: 0;
}

/* Separator special features */
#assessment tr.separator {
	height: 12px;
	border-top: 1px solid var(--assessment-border-color);
	border-bottom: 1px solid var(--assessment-border-color);
}

/* Final assessment special features */
#assessment tr.final-assessment {
	height: 50px;
}
#assessment tr.final-assessment td.final-assessment-score div span {
	font-size: 16px;
}
