@charset "utf-8";

/********** Variables *****************/

:root {
	--task-input-content-hover: lightgrey;
}

/****** Utils ***********/

.task-border {
	border: 1px solid var(--lnb-green-color-40);
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
}

.flex-justify-left {
	justify-content: flex-start !important;
}

.w-5p {
	width: 5%;
}

.w-10p {
	width: 10%;
}

.w-15p {
	width: 15%;
}

.w-20p {
	width: 20%;
}

.w-25p {
	width: 25%;
}

.w-100p {
	width: 100%;
}

.w-15px {
	width: 15px;
	min-width: 15px;
}

.w-20px {
	width: 20px;
	min-width: 20px;
}

.w-30px {
	width: 30px;
	min-width: 30px;
}

.w-60px {
	width: 60px;
	min-width: 60px;
}

.w-70px {
	width: 70px;
	min-width: 70px;
}

.w-80px {
	width: 80px;
	min-width: 80px;
}

.w-100px {
	width: 100px;
	min-width: 100px;
}

.w-120px {
	width: 100px;
	min-width: 100px;
}

.small-avatar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--lnb-orange-color);
	color: white;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
}

.fs-small {
	font-size: 10px !important;
}

.text-align-center {
	text-align: center;
}

.relative {
	position: relative;
}
