@charset "utf-8";

/********** Lien *****************/
#tasks a {
	text-decoration: none;
}

#tasks a:link {
	color: black;
}

#tasks a:visited {
	color: black;
}

#tasks a:hover {
	background-color: #E2EFD4;
}

/***** Cadre principal *****/
#tasks {
	font-size: 12px;
}

/***** Bandeau supérieur *****/
.widget-header.task-sub-header {
	border-bottom: none;
	padding: 3px 0;
}
.widget-header.task-sub-header .widget-title-wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0 0 3px 5px;
}
.widget-header.task-sub-header .widget-title-wrapper .widget-title {
	max-width: 50%;
}
.task-header-search {
	flex-grow: 1;
	gap: 5px;
	padding: 0 5px;
}
.task-header-search .task-input, .task-footer .task-input {
	border: 1px solid var(--lnb-green-color-40);
	border-radius: var(--lnb-xlight-border-radius);
	padding: 0.2rem 0.4rem;
}
.task-header-search .task-input {
	max-width: 250px;
	margin-left: auto;
}
.task-footer .task-input {
	width: 100%;
	max-width: unset;
}
.task-header-search .task-input:hover, .task-footer .task-input:hover {
	border: 1px solid var(--lnb-green-color);
}
.task-header-search .task-input:focus, .task-footer .task-input:focus{
	border: 1px solid var(--lnb-green-color);
	outline: none;
}

.widg_task_title {
	font-size: 15px;
	margin-left: 10px;
	line-height: 25px;
}

#close_task {
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 4px;
}

.task-selector {
	float: right;
	margin-right: 20px;
	margin-top: 2px;
}

/*********** Contenu *****************/
.task-order{
	background-color: var(--lnb-green-color);
	padding:1px;
	margin:1px;
	border-radius: var(--lnb-light-border-radius);
	border:solid 1px white;
	cursor: pointer;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}

.task-order:hover, .task-order:focus{
	color:var(--lnb-green-color);
	background-color:white;
}

.task-order-active{
	background-color:var(--lnb-green-color);
}

.task-content{
	position: relative;
}

.task_rp_title {
	font-weight: bold;
	padding-top: 2px;
}

.task_deleted_ld {
	display: block;
	padding: 3px 2px;
	margin: 2px;
}

.task_deleted_ts {
	color: #555;
	font-size: 10px;
}

.task_deleted_ld:hover {
	background-color: #eee;
}

.task_deleted_ld .fa,
.task_deleted_ld .far {
	visibility: hidden;
	font-size: 16px;
	cursor: pointer;
	margin: 0 3px;
	color: #535353;
}

.task_deleted_ld:hover .fa, .task_deleted_ld:hover .far {
	visibility: visible;
}

.task_main {
	margin: 0 22px 0 0;
}

.task_right {
	float: right;
}

.task_left {
	float: left;
	width: 17px;
}

.task_name {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 23px;
}

.task_clickable{
	cursor:pointer;
}

#create-task-input {
	margin-left: 5px;
	margin-right: 10px;
}

/*********** Position of contents (header, list, footer ) *****************/
.task_content {
	display: flex;
	flex-direction: column;
}

.task-header {
	position: sticky;
	top: 0;
	background-color: var(--lnb-green-color); /* même que pour les messages */
	padding: 3px 10px;
	color: var(--lnb-white-color);
}

.task-list {
	background-color: white;
}

.task-all-reports-list {
	background-color: white;
}

/* Used to set task read only */
.task-all-reports-list {
	pointer-events: none;
}


.task-footer {
	position: sticky !important;
	bottom: 0;
	left: 0;
	z-index: 500; /* Ensure it stays above the content */
	border-top: 1px solid var(--lnb-green-color);
	background-color: white;
}

.task-add-button {
	font-size: 1.5rem;
	color: var(--lnb-green-color);
	padding: 0 0 0.3rem;
}

/*****************************************
*** Tasks input and element)
 ************************************/

.task-input-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 3px;
	justify-content: center;
}

#tasks .flex-list-input {
	display: flex;
	flex-direction: row;
}

#tasks .flex-list-input > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.task-header .flex-list-input > div {
	display: block !important;
	margin:auto;
	text-align: center;
}

.task-priority {
	padding: 2px;
	margin: 2px;
}

.task-priority.low {
	color: green;
}

.task-priority.medium {
	color: orange;
}

.task-priority.high {
	color: red;
}

.task-priority.none {
	color: lightgrey;
}

#tasks .draggable {
	cursor: move;
}

.task-completed {
	background-color: var(--lnb-green-color-20);
}

#tasks .dropdown-item {
	padding: 8px;
	cursor: pointer;
}

#tasks .dropdown-item input {
	display: inline;
}

#tasks .dropdown-item:hover {
	background-color: #f1f1f1;
}

#tasks .input-editor {
	z-index: 1000;
}

/***************************************
     Sub tasks
 **************************************/

.task-child, .subtask {
	margin: 5px 0 5px 30px;
}

.task-child {
	border-radius: 5px;
	border: lightgrey 1px solid;
	padding-left: 5px;
}

.task-child:hover {
	background-color: var(--lnb-light-grey-color) !important;
}

#tasks .nested>div.task-completed{
	background-color: transparent;
}

#tasks .nested>div.task-completed .task-child{
	background-color: var(--lnb-green-color-20);
}

#tasks .nested>div:not(.task-completed) .task-child{
	background-color: white;
}

.subtask {
	border: 1px dashed;
	padding: 5px;
}

.task-container.hover {
	font-weight: bold !important;
}

#tasks .dragging {
	opacity: 0.1;
	background-color: lightgrey;
}


.task-drop-zone {
	border: blue 1px dashed;
	background-color: lightgrey;
	min-height: 30px;
}

#tasks .task-input-wrapper.top .dropdown-menu {
	top: 100%;
	bottom: auto;
}
#tasks .task-input-wrapper .dropdown-menu {
	display: block;
	position: absolute;
	bottom: 100%;
	top: auto;
	right: 0;
	overflow-y: auto;
}

/* TODO quick dev */
.task-header > input {
	display: inline;
	width: 100px;
}

.task-new > .dropdown-menu {
	position: absolute;
}

span.task_report_weight {
	color: black;
	font-size: small;
}

#tasks .drag_popup .drag_popup_header .dropdown-item {
	color: black;
}
