.textarea-wrapper {
	display: grid;
}
.textarea-wrapper:hover {
	outline: 1px solid var(--lnb-light-grey-color);
}
.textarea-wrapper .textarea-content {
	overflow: hidden;
	resize: none;
}
.textarea-wrapper .div-target {
	white-space: pre-wrap;
	visibility: hidden;
}
.textarea-wrapper .textarea-content,
.textarea-wrapper .div-target {
	grid-area: 1 / 1 / 2 / 2;
	border: none;
	padding: 2px;
	font: inherit;
	background-color: transparent;
}
