@charset "utf-8";

/*********** Contenu *****************/
#trash_content {
	height: 100%;
	margin: 0.3rem 0.4rem;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.trash_rp_title {
	padding: 0.3rem 0 0.5rem;
}
.trash_deleted_ld {
	display: flex;
	gap: 0.5rem;
	align-items: flex-start;
	padding-left: 0.5rem;
}
.trash_name {
	color: var(--lnb-charcoal-grey-color);
	flex: 1;
}
.trash_deleted_ts {
	font-size: 10px;
}
.trash_deleted_ld img {
	padding-top: 0.2rem;
}
.trash_deleted_ld .widg-btn-box {
	padding: 3px 4px 0 5px;
	float: right;
}
.trash_deleted_ld:hover .widg-btn-box {
	visibility: visible;
}
