.widget-part input {
	font-size: 1rem;
}
.widget-wrapper {
	background-color: var(--lnb-white-color);
	border-bottom-left-radius: var(--lnb-light-border-radius);
	border-bottom-right-radius: var(--lnb-light-border-radius);
	height: 100%;
	overflow-y: auto;
	position: relative;
}
.widget-header {
	border-bottom: 1px solid var(--lnb-green-color-70);
	background-color: var(--lnb-white-color);
	padding: 3px 8px;
	position: sticky;
	top: 0;
	z-index: 10;
}
.widget-title {
	font-size: 15px;
	color: var(--lnb-green-color);
	font-weight: 500;
}
.widget-form-title {
	text-align: center;
	font-size: 1.05rem;
}

/************************************************************************************
*                              Widget button                                        *
************************************************************************************/

.widg-btn-box {
	display: flex;
	gap: 0.8rem;
	visibility: hidden;
	font-size: 1.2rem;
}
.widget-part button {
	cursor: pointer;
}
.widget-header button {
	border: none;
	background: none;
}
.lnb-widget-menu-btn {
	background-color: var(--lnb-green-color-20);
	outline: none;
	border: none;
	color: var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-light-border-radius);
	margin: 0;
	padding: 8px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.lnb-widget-menu-btn.widget-action-btn {
	color: var(--lnb-strong-grey-color);
}
.lnb-widget-menu-btn .lb-widget-icon {
	font-size: 22px;
}
.lnb-widget-menu-btn:disabled {
	opacity: 0.4;
	background-color: var(--lnb-strong-grey-color);
	outline: none;
	color: var(--lnb-white-color);
}
.lnb-widget-menu-btn:not(.active):not(.widget-action-btn):hover:enabled {
	outline: 2px solid var(--lnb-green-color-40);
}
.lnb-widget-menu-btn.active {
	background-color: var(--lnb-green-color);
	outline: none;
	color: var(--lnb-white-color);
}
.lnb-widget-menu-btn.active .lb-widget-icon {
	background-color: var(--lnb-green-color);
	outline: none;
	color: var(--lnb-white-color);
}

.widget-form-buttons {
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	padding: 0.8rem 0 0.5rem;
}
.widget-form-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding: 0.4rem;
	cursor: pointer;
	width: 25%;
	border-radius: var(--lnb-strong-border-radius);
	border: 1px solid var(--lnb-charcoal-grey-color);
}
.widget-form-button.widget-submit {
	color: var(--lnb-white-color);
	background-color: var(--lnb-charcoal-grey-color);
}
.widget-form-button.widget-cancel {
	color: var(--lnb-charcoal-grey-color);
	background-color: var(--lnb-white-color);
}
.widget-form-button:hover {
	opacity: 0.8;
}
