.popup.scoring {
	max-width: 70vw;
}

.scf_btn_actions {
	margin-top: 15px;
	margin-bottom: 10px;
}

.scf_btn_actions > a.lb_btn{
	min-width: 50px;
	margin-left: 25px;
	padding-top: 2px;
}

table#scoring_eval td, table#scoring_eval th {
	font-size: 13px;
}

tr.scoring_eval_main_head {
	background: var(--lnb-blue-color);
	color: white;
}
tr.scoring_eval_main_head th {
	font-weight: 500;
}
tr.scoring_eval_overview {
	background: #d9dbd5;
}
tr.odd_even:nth-child(even) td,  tr.odd_even:nth-child(even) th {
	background-color: #CCC
}
tr.odd_even:nth-child(odd) td, tr.odd_even:nth-child(odd) th {
	background-color: #E7E7E7
}

table#scoring_eval tr.scoring_eval_overview td:nth-child(1) {
	text-align: right;
}

table#scoring_eval tr.odd_even td:nth-child(1), table#scoring_eval tr.odd_even td:nth-child(2) {
	text-align: left;
}

table#scoring_eval th:nth-child(1) {
	min-width: 150px;
}

table#scoring_eval th, table#scoring_eval td {
	text-align: center;
	padding: 5px 7px;
}

table#scoring_eval th div {
	max-height: 4em;
	max-width: 10em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}
table#scoring_eval td {
	min-width: 65px;
}

.bg_0 {
	background-color: rgba(215, 25, 28, 0.1) !important;
}
.bg_25 {
	background-color: rgba(253, 174, 97, 0.1) !important;
}
.bg_50 {
	background-color: rgba(255,255, 91, 0.1) !important;
}
.bg_75 {
	background-color: rgba(166,217,106, 0.1) !important;
}
.bg_100 {
	background-color: rgba(26, 150, 65, 0.1) !important;
}

.no-pointer {
	cursor: default !important;
}
