/* General settings */
:root {
	--assessment-group-background: var(--lnb-green-color);
	--assessment-first-and-last-column-background: var(--lnb-light-grey-color);
	--assessment-icons-and-hover-outline: var(--lnb-strong-grey-color);
}
.rubric-creation-separator {
	margin: 10px 10px 10px 0;
}
.save-or-cancel {
	margin: 10px 0 10px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	justify-content: flex-end;
}
.save-or-cancel i {
	color: var(--lnb-danger-color);
	cursor: pointer;
}
.existing-assessments {
	margin-bottom: 10px;
	color: var(--lnb-danger-color);
}
.name-description div input {
	width: 300px;
}
.name-description div.rubric-invalid-name-text input {
	border: 1px solid var(--lnb-danger-color);
}
.name-description span.label_small.valid-name {
	color: transparent;
}
.name-description div.rubric-invalid-name-text span.warning-name {
	color: var(--lnb-danger-color);
}
/* Hide spin arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield; /* Firefox */
}
table.rubric button[type=button]:hover {
	background-color: var(--assessment-group-background);
}
table.rubric { 
	border-collapse: collapse;
	margin: 10px 0 0 0;
	height: 1px;
	font-size: 12px;
}
table.rubric tr,
table.rubric tr td { 
	padding: 0; 
	border: 1px solid var(--assessment-group-background);
	position: relative;
	background-clip: padding-box;
	height: 100%;
}
table.rubric thead tr {
	border: none;
}
table.rubric thead tr th {
	text-align: right;
	padding-bottom: 2px;
}
table.rubric tr td div { 
	margin: 5px; 
	font-size: 13px; 
}

/* Cursor */
table.rubric tr.group td.group-header div.description-wrapper div.description-content,
table.rubric tr.group td.group-header div.description-wrapper div.description-editor i,
table.rubric tr.group td.group-header div.controls-wrapper i,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-editor i:first-of-type,
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-content,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-editor i,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-editor i:first-of-type,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-editor i,
table.rubric tr.criterion td.descrob div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-content,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-editor i:first-of-type,
table.rubric  .bonus-malus-min-score-content,
table.rubric  div.bonus-malus-max-score-content,
table.rubric  div.bonus-malus-min-score-editor i,
table.rubric  div.bonus-malus-max-score-editor i,
table.rubric td.final-assessment-score div.final-assessment-content,
table.rubric td.final-assessment-score div.final-assessment-editor i {
	cursor: pointer;
}

/* Margin and padding for all wrappers */
table.rubric tr.group td.group-header div.group-header-wrapper,
table.rubric tr.group td.group-header div.controls-and-weight-wrapper,
table.rubric tr.group td.group-header div.description-wrapper div.description-content,
table.rubric tr.group td.group-header div.description-wrapper div.description-editor,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-editor,
table.rubric tr.criterion td.criterion-description div.criterion-description-wrapper,
table.rubric tr.criterion td.criterion-description div.controls-wrapper,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-content,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-editor,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-editor,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper,
table.rubric tr.criterion td.descrob div.controls-wrapper,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-content,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-editor,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-editor,
table.rubric tr.criterion td.criterion-score div.criterion-score-wrapper,
table.rubric tr.criterion td.criterion-score div.criterion-comment-content,
table.rubric tr.criterion td.criterion-score div.criterion-grade,
table.rubric  .bonus-malus-score-wrapper,
table.rubric  .bonus-malus-min-score-wrapper,
table.rubric  div.bonus-malus-max-score-wrapper,
table.rubric  .bonus-malus-min-score-content,
table.rubric  div.bonus-malus-min-score-editor,
table.rubric  div.bonus-malus-max-score-content,
table.rubric  div.bonus-malus-max-score-editor,
table.rubric .final-assessment-wrapper,
table.rubric .final-assessment-content,
table.rubric .final-assessment-editor {
	padding: 0;
	margin: 0;
}
table.rubric div.bonus-malus-max-score-content,
table.rubric div.final-assessment-content {
	padding: 3px;
	margin: 1px;
}
table.rubric  .bonus-malus-min-score-content,
table.rubric  div.bonus-malus-min-score-editor {
	padding: 3px;
	margin-left: 5px;
}
table.rubric tr.criterion td.criterion-score div.criterion-comment-content {
	padding: 3px;
	margin: 0 5px;
}
table.rubric tr.criterion td.criterion-score div.criterion-grade {
	margin: 1px;
}

/* Centering */
table.rubric tr.group td.group-score div,
table.rubric tr.criterion td.criterion-score div.criterion-comment-content,
table.rubric tr.criterion td.criterion-score div.criterion-grade,
table.rubric .final-assessment div {
	text-align: center;
}

/* Backgrounds */
table.rubric td.bonus-malus-score,
table.rubric tr.criterion td.criterion-description,
table.rubric tr.criterion td.criterion-score,
table.rubric .add-criterion td {
	background-color: var(--assessment-first-and-last-column-background);
}
table.rubric tr.criterion td.add-descrob,
table.rubric tr.criterion td.descrob {
	background-color: white;
}
table.rubric tr.add-group {
	background-color: var(--assessment-group-background);
}
table.rubric tr.add-group td .place_holder_text, table.rubric tr.add-group td i.fa-plus.lba_icon_default {
	color: white;
}
/* Flex display for all cell divs containing more than one element */
table.rubric tr.group td.group-header div.group-header-wrapper,
table.rubric tr.group td.group-header div.description-wrapper div.description-content,
table.rubric tr.group td.group-header div.description-wrapper div.description-editor,
table.rubric tr.group td.group-header div.controls-wrapper,
table.rubric tr.group td.group-header div.controls-and-weight-wrapper,
table.rubric tr.group td.group-header div.weight-wrapper,
table.rubric tr.group td.group-header div.weight-content,
table.rubric tr.group td.group-header div.weight-editor,
table.rubric tr.criterion td.criterion-description div.controls-wrapper,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-content,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-editor,
table.rubric tr.criterion td.criterion-description div.weight-content,
table.rubric tr.criterion td.descrob div.controls-wrapper,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-content,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-editor,
table.rubric tr.criterion td.descrob div.weight-content,
table.rubric  .bonus-malus-score-wrapper,
table.rubric  .bonus-malus-min-score-wrapper,
table.rubric  div.bonus-malus-max-score-wrapper,
table.rubric  .bonus-malus-score-wrapper div.bonus-malus-min-score-editor,
table.rubric  .bonus-malus-score-wrapper div.bonus-malus-max-score-editor,
table.rubric .final-assessment-wrapper,
table.rubric .final-assessment-editor {
	display: flex;
	flex-direction: row;
	align-items: center;
}
table.rubric tr.criterion td.criterion-description div.criterion-description-wrapper,
table.rubric tr.criterion td.criterion-score div.criterion-score-wrapper,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
table.rubric tr.criterion.descriptor td.descrob div.description-wrapper div.description-content,
table.rubric tr.criterion td.criterion-score div.criterion-score-wrapper,
table.rubric .final-assessment-wrapper {
	justify-content: center;
}
table.rubric tr.group td.group-header div.controls-and-weight-wrapper,
table.rubric tr.criterion td.criterion-description div.controls-wrapper,
table.rubric tr.criterion td.descrob div.controls-wrapper {
	margin: 0 5px 0 auto;
}
table.rubric tr.criterion td.criterion-description div.description-wrapper,
table.rubric tr.criterion td.descrob div.description-wrapper {
	margin: auto auto auto 5px;
}
table.rubric tr.criterion td.criterion-description div.weight-wrapper,
table.rubric tr.criterion td.descrob div.weight-wrapper {
	margin: auto 5px 2px auto;
}

/* Inputs and textareas */
table.rubric tr.group td.group-header div.description-wrapper div.description-editor textarea,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-editor input,
table.rubric tr.criterion td.criterion-description div.description-editor textarea,
table.rubric tr.criterion td.criterion-description div.weight-editor input,
table.rubric tr.criterion td.descrob div.description-editor textarea,
table.rubric tr.criterion td.descrob div.weight-editor input,
table.rubric div.bonus-malus-min-score-editor input,
table.rubric div.bonus-malus-max-score-editor input,
table.rubric .final-assessment-editor input {
	font-family: arial, verdana, sans-serif;
	font-size: 13px;
	border: 1px solid var(--assessment-icons-and-hover-outline);
	border-radius: 2px;
	padding: 1px;
}
table.rubric tr.criterion td.descrob div.description-editor textarea {
	margin-bottom: 2px;
}
table.rubric tr.group td.group-header div.description-wrapper,
table.rubric tr.criterion td.criterion-description div.description-wrapper,
table.rubric tr.criterion td.descrob div.description-wrapper {
	width: calc(100% - 10px);
}
table.rubric tr.group td.group-header div.description-wrapper div.description-editor textarea,
table.rubric tr.criterion td.criterion-description div.description-editor textarea,
table.rubric tr.criterion td.descrob div.description-editor textarea {
	width: 100%;
}
table.rubric tr.group td.group-header div.description-wrapper div.description-editor textarea {
	font-size: 14px;
}
table.rubric tr.group td.group-header div.weight-wrapper div.weight-editor input,
table.rubric tr.criterion td.criterion-description div.weight-editor input,
table.rubric tr.criterion td.descrob div.weight-editor input,
table.rubric .final-assessment-editor input {
	width: 3em;
}
table.rubric  div.bonus-malus-min-score-editor input,
table.rubric  div.bonus-malus-max-score-editor input {
	width: 2.8em;
}

/* Hiding/Displaying buttons */
table.rubric tr.group td.group-header div.controls-wrapper,
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.controls-wrapper i {
	visibility: hidden;
}
table.rubric tr.group td.group-header div.group-header-wrapper:hover div.controls-wrapper,
table.rubric tr.group td.group-header div.group-header-wrapper:hover div.weight-wrapper i:first-child,
table.rubric tr.criterion td.criterion-description div.criterion-description-wrapper:hover div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.criterion-description-wrapper:hover div.weight-wrapper i:first-child,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper:hover div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper:hover div.weight-wrapper i:first-child {
	visibility: visible;
}

/* Buttons position */
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content i,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content span,
table.rubric tr.group td.group-header div.description-wrapper div.description-content span,
table.rubric tr.group td.group-header div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-content span,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content i,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content span,
table.rubric tr.criterion td.descrob div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-content span,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content i,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content span {
	padding: 3px;
}
table.rubric tr.criterion td.descrob div.description-content i {
	padding-left: 2px;
}
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content i,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content {
	padding-right: 0;
}
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content span,
table.rubric tr.criterion td.criterion-description div.weight-wrapper div.weight-content span,
table.rubric tr.criterion td.descrob div.weight-wrapper div.weight-content span {
	padding-left: 0;
}
table.rubric tr.criterion td.criterion-description div.controls-wrapper,
table.rubric tr.criterion td.descrob div.controls-wrapper {
	margin-right: 5px;
}
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.controls-wrapper i {
	margin-top: 2px;
}
table.rubric tr.group td.group-header div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.controls-wrapper i {
	font-size: 16px;
}
table.rubric tr.criterion td.add-descrob.right-stacked div.lba_line {
	margin: 5px;
	padding: 6px;
}
table.rubric tr.criterion td.add-descrob.right-stacked i {
	padding: 0;
	margin: 0
}

/* Buttons color */
table.rubric tr.criterion td.criterion-description div.controls-wrapper i,
table.rubric tr.criterion td.criterion-description div.weight-wrapper i,
table.rubric tr.criterion td.descrob div.controls-wrapper i,
table.rubric tr.criterion td.descrob div.weight-wrapper i {
	color: var(--assessment-icons-and-hover-outline);
}

/* Hover highlights */
table.rubric tr.group td.group-header div.description-wrapper:hover,
table.rubric tr.group td.group-header div.controls-wrapper i:hover,
table.rubric tr.group td.group-header div.weight-content:hover {
	background-color: white;
	color: var(--lnb-charcoal-grey-color);
}
table.rubric tr.group td.group-header div.description-wrapper.rubric-invalid-group-text:hover,
table.rubric tr.group td.group-header div.controls-wrapper.rubric-invalid-group-text i:hover {
	background-color: var(--assessment-group-background);
	color: white;
	outline: none;
}
table.rubric tr.criterion td.criterion-description div.controls-wrapper i:hover,
table.rubric tr.criterion td.criterion-description div.description-content:hover,
table.rubric tr.criterion td.criterion-description div.weight-content:hover,
table.rubric tr.criterion td.descrob div.controls-wrapper i:hover,
table.rubric tr.criterion td.descrob div.description-content:hover,
table.rubric tr.criterion td.descrob div.weight-content:hover,
table.rubric .bonus-malus-min-score-content:hover,
table.rubric div.bonus-malus-max-score-content:hover,
table.rubric .final-assessment-content:hover {
	background-color: var(--lnb-grey-color);
	outline: 1px solid var(--assessment-icons-and-hover-outline);
}

/* Placeholders "Comments area" */
table.rubric tr.criterion td.criterion-score div.criterion-comment-content span,
table.rubric td.bonus-malus-score div span {
	white-space: pre-wrap;
	font-style: italic;
	color: var(--assessment-icons-and-hover-outline);
}

/* Drag and drop */
table.rubric tr.criterion.observable td.descrob i.handle { 
	cursor: move; 
}
/* sortable-chosen is the default class for sortablejs target placeholder */
table.rubric tr.criterion td.descrob.sortable-chosen,
table.rubric tr.criterion.sortable-chosen td,
table.rubric tbody.sortable-chosen tr.criterion td.criterion-description,
table.rubric tbody.sortable-chosen tr.criterion td.descrob,
table.rubric tbody.sortable-chosen tr.criterion td.criterion-score {
	color: black;
	background-color: var(--assessment-neutralized-descrob-background);
}

/* Inline errors */
table.rubric tr.group td.group-header div.weight-wrapper.rubric-invalid-group-value div.weight-editor i,
table.rubric tr.group td.group-header div.description-wrapper.rubric-invalid-group-text div.description-editor i {
	color: var(--lnb-danger-color-background);
}
table.rubric tr.group td.group-header div.weight-wrapper.rubric-invalid-group-value div.weight-editor input::placeholder,
table.rubric tr.group td.group-header div.weight-wrapper.rubric-invalid-group-value div.weight-editor input,
table.rubric tr.group td.group-header div.description-wrapper.rubric-invalid-group-text div.description-editor textarea::placeholder,
table.rubric tr.criterion td.criterion-description div.description-wrapper.rubric-invalid-criterion-text div.description-editor i,
table.rubric tr.criterion td.criterion-description div.description-wrapper.rubric-invalid-criterion-text div.description-editor textarea::placeholder,
table.rubric tr.criterion td.criterion-description div.weight-wrapper.rubric-invalid-criterion-value div.weight-editor i,
table.rubric tr.criterion td.criterion-description div.weight-wrapper.rubric-invalid-criterion-value div.weight-editor input::placeholder,
table.rubric tr.criterion td.criterion-description div.weight-wrapper.rubric-invalid-criterion-value div.weight-editor input,
table.rubric tr.criterion td.descrob div.weight-wrapper.rubric-invalid-descrob-value div.weight-editor i,
table.rubric tr.criterion td.descrob div.weight-wrapper.rubric-invalid-descrob-value div.weight-editor input::placeholder,
table.rubric tr.criterion td.descrob div.weight-wrapper.rubric-invalid-descrob-value div.weight-editor input,
table.rubric tr.criterion td.descrob div.description-wrapper.rubric-invalid-descrob-text div.description-editor i,
table.rubric tr.criterion td.descrob div.description-wrapper.rubric-invalid-descrob-text div.description-editor textarea::placeholder,
table.rubric  .bonus-malus-min-score-wrapper.rubric-invalid-min-bonus-value div.bonus-malus-min-score-editor i,
table.rubric  .bonus-malus-min-score-wrapper.rubric-invalid-min-bonus-value div.bonus-malus-min-score-editor input::placeholder,
table.rubric  .bonus-malus-min-score-wrapper.rubric-invalid-min-bonus-value div.bonus-malus-min-score-editor input,
table.rubric  div.bonus-malus-max-score-wrapper.rubric-invalid-max-bonus-value div.bonus-malus-max-score-editor i,
table.rubric  div.bonus-malus-max-score-wrapper.rubric-invalid-max-bonus-value div.bonus-malus-max-score-editor input::placeholder,
table.rubric  div.bonus-malus-max-score-wrapper.rubric-invalid-max-bonus-value div.bonus-malus-max-score-editor input,
table.rubric .final-assessment-wrapper.rubric-invalid-grading-value div.final-assessment-editor i,
table.rubric .final-assessment-wrapper.rubric-invalid-grading-value div.final-assessment-editor input::placeholder,
table.rubric .final-assessment-wrapper.rubric-invalid-grading-value div.final-assessment-editor input {
	color: var(--lnb-danger-color);
}
table.rubric tr.group td.group-header div.weight-wrapper.rubric-invalid-group-value div.weight-editor input,
table.rubric tr.group td.group-header div.description-wrapper.rubric-invalid-group-text div.description-editor textarea,
table.rubric tr.criterion td.criterion-description div.weight-wrapper.rubric-invalid-criterion-value div.weight-editor input,
table.rubric tr.criterion td.criterion-description div.description-wrapper.rubric-invalid-criterion-text div.description-editor textarea,
table.rubric tr.criterion td.descrob div.weight-wrapper.rubric-invalid-descrob-value div.weight-editor input,
table.rubric tr.criterion td.descrob div.description-wrapper.rubric-invalid-descrob-text div.description-editor textarea,
table.rubric .bonus-malus-min-score-wrapper.rubric-invalid-min-bonus-value div.bonus-malus-min-score-editor input,
table.rubric div.bonus-malus-max-score-wrapper.rubric-invalid-max-bonus-value div.bonus-malus-max-score-editor input ,
table.rubric .final-assessment-wrapper.rubric-invalid-gradingù-value div.final-assessment-editor input {
	border: 1px solid var(--lnb-danger-color);
}

/* Criteria-groups special features */
table.rubric tr.group { 
	background-color: var(--assessment-group-background);
	height: 35px;
}
table.rubric tr.group td {
	color: white;
}
table.rubric tr.group td.group-header div.description-wrapper div.description-content,
table.rubric tr.group td.group-header div.description-wrapper div.description-editor {
	font-size: 14px;
}
table.rubric tr.group td.group-header div.description-wrapper div.description-content,
table.rubric tr.group td.group-header div.description-wrapper div.description-editor,
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content,
table.rubric tr.group td.group-header div.weight-editor {
	gap: 5px;
}
table.rubric tr.group td.group-header div.controls-wrapper,
table.rubric tr.group td.group-header div.controls-and-weight-wrapper {
	gap: 10px;
}
table.rubric tr.group td.group-header div.description-wrapper div.description-content span {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 36px;
	overflow: hidden;
	white-space: pre-wrap;
}
table.rubric tr.group td.group-header div.weight-wrapper div.weight-content span {
	white-space: nowrap;
}

/* Criteria special features */
table.rubric tr.criterion { 
	height: 70px; 
}
table.rubric tr.criterion.empty-group {
	height: 0;
}
table.rubric tr.criterion td.criterion-description div.criterion-description-wrapper,
table.rubric tr.criterion td.descrob div.criterion-descrob-wrapper,
table.rubric tr.criterion td.criterion-score div.criterion-score-wrapper {
	gap: 0;
}
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-editor,
table.rubric tr.criterion td.criterion-description div.controls-wrapper,
table.rubric tr.criterion td.descrob div.controls-wrapper,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-editor {
	gap: 5px;
}
table.rubric tr.criterion td.criterion-description div.description-wrapper div.description-content span,
table.rubric tr.criterion td.descrob div.description-wrapper div.description-content span {
	display: -webkit-box;
	-webkit-line-clamp: 7;
	line-clamp: 7;
	-webkit-box-orient: vertical;
	max-height: 110px;
	overflow: hidden;
	white-space: pre-wrap;
}
table.rubric tr.criterion td.criterion-score div.criterion-comment-content { 
	border-bottom: 1px solid #aeaeae; 
}
table.rubric tr.criterion td.criterion-score div.criterion-comment-content span {
	font-size: 12px;
}

/* Separator special features */
table.rubric tr.separator {
	height: 12px;
	background-color: transparent;
	border-top: 1px solid var(--assessment-group-background);
	border-bottom: 1px solid var(--assessment-group-background);
	border-left-width: 0;
	border-right-width: 0;
}
table.rubric tr.separator td {
	border: none;
}

/* Bonus-malus special features */
table.rubric .bonus-malus-score-wrapper div.bonus-malus-min-score-editor,
table.rubric .bonus-malus-score-wrapper div.bonus-malus-max-score-editor {
	gap: 5px;
}
table.rubric .bonus-malus-score-wrapper {
	justify-content: center;
}

/* Final assessment special features */
table.rubric .final-assessment-editor {
	gap: 5px;
}
table.rubric tr.final-assessment { 
	height: 50px; 
}
table.rubric tr.final-assessment td {
	background-color: white;
}
table.rubric .final-assessment-score div span {
	font-size: 16px; 
}
.lnb-rubric-save {
	cursor: pointer;
	border: 1px solid var(--lnb-green-color);
	color: var(--lnb-charcoal-grey-color);
	border-radius: var(--lnb-light-border-radius);
	padding: 4px 8px;
}
.lnb-rubric-save:hover {
	background-color: var(--lnb-green-color-40);
}
