.protocol .display-div.dosage-spectro {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
	margin-top: 20px;
	position: relative;
}

.protocol .bg-spectro {
	background-image: url( '/tool_copex/v2_json/dosage-spectro/images/spectro.svg' );
	background-repeat: no-repeat;
	background-size: contain;
	--width-img: 780px;
	width: var(--width-img);
	height: calc(var(--width-img) * 284 / 396);
}

.protocol .bg-spectro span {
	font-size: 25px;
	font-family: "Courier New", Courier, monospace;
	display: block;
	padding-bottom: 10px;
	padding-left: 25%;
}
.protocol .bg-spectro span:first-child {
	padding-top: 25%;
}

.protocol .control-buttons {
	margin: 15px auto 0 -550px;
	color: var(--primary-color);
	position: absolute;
	display: flex;
	gap: 1rem;
}

.protocol .control-button i {
	font-size: 25px;
	color: var(--primary-color);
}

.protocol .control-button:disabled i {
	color: lightgray;
}

.protocol .control-button:disabled:hover {
	cursor: default;
}

.protocol .control-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background-color: white;
	border: none;
	border-radius: 50%;
	position: relative;
	z-index: 10;
	aspect-ratio: 1;
}

.protocol .control-button:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	.protocol .bg-spectro {
		--width-img: 400px;
		width: var(--width-img);
		height: calc(var(--width-img) * 284 / 396);
	}
	.protocol .control-buttons {
		margin: 5px auto 0 -250px;
	}
	.protocol .control-button {
		padding: 0.4rem;
	}
	.protocol .control-button i {
		font-size: 15px;
	}
	.protocol .display-div {
		height: 300px;
	}
}
