.edited_ld_procedure { padding: 7px; border: 1px solid darkgray;  }
.upload-image-process {
	display: none;
}
.btn_pointer{ cursor: pointer; }
.QHPM_icon { width: 22px; font-size:22px; color: #703270; margin-right: 8px; float: left; text-align:center; }
.protocol_part_title{ color: #666; font-size: 12px; font-weight: bold; }
.comment{ color: #546F9E; }
.commentLabel, .displayMaterialLabel { color:#666; font-style:italic; margin-top: 5px; }
.commentLabel{ display: none;}
.txtEdited, .commentEdited{ background-color: #FFF; border: thin solid #ccc; margin-bottom: 5px; padding: 2px 4px; cursor:text; }
.commentEdited{ display:block; color: #546F9E; margin-bottom: 0px;}
.cx_button { border: 1px solid #999; background-color: #DDD; padding: 2px 6px 2px 6px; margin-right: 12px; cursor: pointer; }
.divButtons { display: none; text-align: center; padding-top: 6px; padding-bottom: 3px; }
.edited_ld_procedure div[contenteditable="true"] { min-height: 15px; cursor: text;}

/* =============================================
   input numérique avec incréments / décréments
/* ============================================= */
.cx_int_field { width: 20px; margin-left: 4px !important; padding: 0; height: 15px; text-align:center; background-color: #eee; border: 1px solid #aaa; }
.cx_int_increment { display:inline; position:relative; vertical-align:top; cursor: pointer; }
.cx_int_increment i {
	position: absolute;
	line-height: 7px;
	border: solid 1px #aaa;
	padding: 0 2px;
	font-style: normal;
	font-size: 14px !important;
	margin: 0 !important;
}
.cx_int_minus { top:8px; }

/* ============================ */
/*  CSS pour les parties QHPM   */
/* ============================ */
.QHPM { padding-bottom: 12px; }
.QHPM:hover span.QHPMEditable{ background:#e7f4f9; border:1px solid #d8f0fa; padding:6px 4px 6px 0;}
.QHPMContent{ margin-top: 6px; }
.defaultQHPContent { color: #666; font-style:italic; }
.QHPMEditable { cursor: pointer; }
.QHPMEdited { background-color: #eee; border: thin solid #aaa; padding: 5px; margin-top: 10px; }
.QHPMEdited > div.defaultQHPContent { cursor: default; }

/* ============================= */
/*  CSS pour la partie Materiel  */
/* ============================= */
.display_ML { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; -webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; -moz-column-rule: 1px solid #ccc; -webkit-column-rule: 1px solid #ccc;  column-rule: 1px solid #ccc; }
.editML{ display: none; }
.selectMaterial{ float: left; width: 480px; max-height: 150px; min-height: 50px; border: 1px solid #999; overflow:auto; padding: 2px; }
.selectMaterial input { margin: 2px; }
.displayMaterial{ display: none; margin-left: 480px; padding-left: 15px; }
.spacer{ clear: both; visibility: hidden; }
  
.searchAddMaterial{ padding-bottom: 4px; margin-bottom: 3px; }
.searchAddMaterial input{ border: 1px solid #ccc; width: 200px; padding: 2px; margin-left: 4px; margin-right: 1px; }
.addMaterial{ display: none; padding: 3px; }
.divButtonsML{ width: 150px; margin-left: auto; margin-right: auto; padding-top: 10px; padding-bottom: 3px; }

.imageMaterial{ float: right ; height: 90px; width: 90px; border: 1px solid #DDD; margin-left: 3px; vertical-align:middle; text-align:center; }
.selectedMaterialSpan{ background: none repeat scroll 0 0 #E8EFF7; border: 1px solid #AECFF7; border-radius: 2px; }
.isSelectedMat{ font-style: normal; }
.materialNameEdited { background-color: #FFF; border: thin solid #ccc; padding: 2px 4px; cursor:text; margin-right: 20px; }
.editML .fa { font-size: 18px; cursor: pointer; margin-left: 6px; color: #595959; }
.editML .fa-trash { float: right; margin: 0 6px;}
.txtAfterButtonsIncrementing {margin-left: 15px;}

/* =============================== */
/*  CSS pour la partie Procedure   */
/* =============================== */
.cx_proc_root { margin-bottom: 4px; }
.cx_image_uploaded { margin-right:20px;}
.nodeEdited .cx_image_uploaded { margin:10px 10px 0 20px;}
.cx_bloc_uploaded > .cx_image_uploaded { display:inline-block;  max-width:80px;}
.cx_button_upload_image{ background: no-repeat url('../tool_copex/v1_xml/images/cx_add_img.png'); cursor:pointer; height: 20px;width: 25px; margin-top: 8px; display: block; float: left;}
.cx_bloc_uploaded span > img { cursor:pointer;}
.commentLabelEdit { display:none;}
.JSTreeRoot a:hover { background:#e7f4f9; border:1px solid #d8f0fa; padding:6px 4px 6px 0; cursor: pointer;}
.JSTreeRoot a { height: auto; }
.edited_ld_procedure .jstree-leaf[structured="content"] > a > name,
    .ld_procedure .jstree-leaf[structured="content"] > a > name
	{ display: none; }

/*.jstree { padding-left: 7px; }*/
commentLabel{ display:none;}

/*menus contextuels (2) */
.JSTreeRootContextMenu { position: absolute ; display: none ; margin: -2px 0 0 1px ; padding:0; background: #F0F0F0; border: 1px solid #979797; box-shadow: 1px 1px 2px #999; width: 175px; cursor: pointer; font-size: 11px;}
.JSTreeRootContextMenu ul {margin: 0 ; padding: 0 }
.JSTreeRootContextMenu li {list-style-type:none; display:block; line-height:20px; min-height:20px; position:relative; padding:0px;}
.JSTreeRootContextMenu li a { color:black; padding:1px 6px; line-height:17px; display:block; text-decoration:none; margin:1px 1px 0 1px; } 
.JSTreeRootContextMenu li a:hover { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; border-radius:2px;} 
.JSTreeRootContextMenu > ul > li > ins { float:left; width:16px; height:16px; text-decoration:none; width: 23px ; margin-left: 7px; margin-right: 3px ;}
.action-sub-nav { display: none; position: absolute; left: 100%; top: 0; margin: -2px 0 0 1px ; padding:0; background: #F0F0F0; border: 1px solid #979797; box-shadow: 1px 1px 2px #999; z-index: 1;}
.action-sub-nav ins { width : 0; }
.action-sub-nav a { white-space: nowrap; padding: 0 12px !important; }
.action-item:hover .action-sub-nav { display: block; }
#vakata-contextmenu > ul > li > ins { width: 23px !important ; margin-left: 7px; margin-right: 3px !important ;}
#vakata-contextmenu { font-size: 11px;}
#vakata-contextmenu a { white-space: nowrap; padding: 0 12px !important; }
#vakata-contextmenu a + ul > li > ins { width : 0; }
#vakata-contextmenu a + ul { z-index: 1; }

/* Etapes et actions de l'arbre */
.jstree-default a { margin-right: 21px !important ;} 
.jstree-default li > ins { vertical-align:top; }
.nodeEdited { border: thin solid #aaa !important; background-color: #eee !important ; float: right; padding: 5px; line-height: normal; cursor: auto; min-width: 600px; }
.contentStructured input, .contentStructured select { font-size: 11px; padding: 1px; margin: 1px; }
.contentStructured input { text-align:center; }
.errorInput{ border:1px solid red;}
.errorTd{background-color:#F78181 !important;}
li[rel="step"] > a > content, li[rel="step_iter"] > a > content { font-weight: bold; }

/* Etapes iteratives*/
.stepIteration{ display:inline;}
.stepIteration span{ color:#666; }
.txtStepAfterInput{margin-left: 18px;}
.stepParameters{display:none;}
.jstree table { border-collapse: collapse; }
.jstree table th {border: thin solid #999; padding: 2px 4px; text-align: center; min-width: 25px; background-color:white; line-height:normal; }
.jstree table td {border: thin solid #999; padding: 2px 4px; text-align: center; min-width: 25px; background-color:white; line-height:normal; height: 14px; }
#tableIter{display:none; max-width:90%;}
.nodeEdited table { max-width:90%; margin:5px; margin-left: auto; margin-right: auto;}
.nodeEdited table th { background-color:#eee; }
.hoverSelectParameter { color: #FFB100; background: none repeat scroll 0 0 #F2F5A9; border-radius: 2px; border:1px solid #FFB100; }
.editOption { margin: 1px 0; padding: 1px;}
.nodeEdited option { margin-left: 2px; }

/* Actions de l'arbre */
.jstree name { margin-right: 2px; }
.jstree comment{ color: #546F9E; margin-left: 8px;}
.jstree li a > comment:after {  content: '\A';  white-space:pre; } 
.jstree li a > img { vertical-align: top; max-width: 100%;} 
.jstree content span { color: #703270; font-weight: bold; padding: 0 4px;}
.jstree .contentStructured span { font-weight:bold }
.jstree content value { margin-right: 3px;}
.jstree .contentStructured unit { font-weight:bold; }
.cx_action_img { min-height: 28px; }
.cx_bloc_uploaded .fa { font-size: 18px; cursor: pointer; color: #595959; margin-bottom: 10px ; }
.edited_ld_procedure content span { display: inline-block; min-width: 20px; border: 1px solid #c8abc8; padding: 0 2px; text-align: center; font-weight: normal; }
.edited_ld_procedure content span:empty:before { content: "\00a0"; } /* set the height of the span */
.structured_action_name { font-style: italic; }
