/***
 * Annotator Categories Plugin CSS.
 ***/

.annotator-categories {
    border-top: solid 1px #eee;
}
.annotator-annotation>.annotator-category { display: none !important; }
.annotator-category:hover {
    cursor: pointer;
}

.annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
}

.annotator-viewer ul li .annotator-category {
    text-align: center;
    width: 33%;
}

.annotator-category {
    padding: 7px;
    margin: 1px 1px 0px 4px;
    border-radius: 6px 6px 6px 6px;
    color: black;
	font-size: 0;
    display: inline-block;
    background-color: rgba(255, 255, 10, .3);
	border: 1px solid #ccc;
}

.annotator-outer .annotator-controls {
    background-color:#f2f2f2;
}
.annotator-viewer .annotator-controls {
    background-color : transparent;
}
.annotator-viewer  { text-indent: 0; }
#legendeAnnotation { 
	padding:5px;
	font-style: italic;
}

/* For different color categories, set different color values here */
/* JAUNE */
.annotator-category-0
{
    background-color: rgba(255, 246, 0, 0.3);
}
/* VERT */
.annotator-category-1
{
    background-color: rgba(87, 222, 46, 0.3);
}
/* BlEU*/
.annotator-category-2
{
    background-color: rgba(102, 204, 255, 0.3);
}
/* ROUGE */
.annotator-category-3
{
    background-color: rgba(198, 44, 44, 0.2);
}
.annotator-category-4,
.annotator-category-5,
.annotator-category-6,
.annotator-category-7
{
    background-color: rgba(22,147,165, .2);
}

.annotator-category-selected 
{
	border: 2px solid LightSlateGray;
}
.annotator-viewer > .annotator-widget{
    max-width:400px;
}
.annotator-viewer > .annotator-widget::after
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: rgba(60, 60, 60,0.3) transparent transparent transparent;
    z-index:10;
}

.annotator-viewer > .annotator-widget > .annotator-item > div{
    overflow-x: hidden;
}

.annotator-widget .previous-annotations
{
    border: 1px solid #777;
    margin: 10px 10px 0px 10px;
    font-size: 12px;
    /*max-height:80px;*/
    /*min-height:140px;*/
    overflow-y:scroll;
    display:block;
}

.annotator-widget .previous-annotations > .previous-annotation-container{
    border-bottom: solid 1px gray;
}

.annotator-widget .previous-annotations > .previous-annotation-container:hover{
    border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: #888;
}

.annotator-widget .previous-annotations > .previous-annotation-container > .previous-annotation:hover
{
    cursor:pointer;
    color: #222;
}
.annotator-widget .previous-annotations > .previous-annotation-container > .previous-annotation{
	color: #555;
    padding: 5px;
    overflow-x: hidden;
    flex: 1 90%;
}

.annotator-widget .previous-annotations .previous-annotation-back-down{
    flex: 1 10%;
    text-align:right;
	color: #888;
    font-size: 11px !important;
    padding: 5px;
    cursor:pointer;

}

.annotator-widget .previous-annotations .previous-annotation-back-down:hover{
    color:#363636
}
