.annotator-widget,
.annotator-listing{
    display: flex;
    flex-direction: column;
}

.annotator-widget-reverse,
.annotator-listing-reverse{
    flex-direction:column-reverse;
}

.annotator-listing-reverse .annotator-header{
    padding-bottom:3px;
}

.annotator-header{
    display:flex;
    align-items: center;
    border-radius:4px !important;
}

.annotator-header .annotator-category{
    height: fit-content;
}

.annotator-header .annotator-submit.annotator-save{
    align-self: flex-end;
    margin: 0px 4px 0px auto;
}

.annotator-header .annotator-submit.annotator-cancel{
    margin: 0px 4px 0px 0px;
}

.annotator-header .annotator-submit.annotator-save,
.annotator-header .annotator-submit.annotator-cancel{
    display: flex;
    border:none;
    padding: 5px 10px;
}

.annotator-header .annotator-submit.annotator-save:hover,
.annotator-header .annotator-submit.annotator-cancel:hover{
    background-color: var(--lnb-blue-color);
    background-color: var(--lnb-blue-color);
    background-image: none;
    text-shadow: none;
}

.annotator-header .annotator-submit.annotator-save:hover i,
.annotator-header .annotator-submit.annotator-cancel:hover i,
.annotator-header .annotator-submit.annotator-cancel:focus i,
.annotator-header .annotator-submit.annotator-cancel:focus i{
    color:#FFFFFF;
}

.annotator-header .annotator-submit.annotator-save::after,
.annotator-header .annotator-submit.annotator-cancel::after{
    display: none;
}

.annotator-header .annotator-submit i{
    font:normal normal normal 14px/1 FontAwesome !important;
    color:#4b4b4b;
}

.annotator-editor .annotator-controls,
.annotator-editor.annotator-invert-y .annotator-controls
{
    border-radius:5px;
}
