
#icon-textarea-resize {
    font:normal normal normal 14px/1 FontAwesome !important;
}

#annotator-field-0{
    overflow-y:scroll;
}

#annotator-widget{
    height: 100% !important;
}

.ui-icon-gripsmall-diagonal-ne{
    background-position: -68px -228px;
    transform: rotate(-90deg);
}

.annotator-editor .annotator-controls{
    padding-bottom: 12px;
}
