:root {
	--keycap-shift-font-size: 13px;
	--keycap-small-font-size: 14px;
}
/* editors */
#mathlive-editors math-field {
	display: block;
	font-size: 18px;
}
#mathlive-editors #mathlive-latex-formula-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	margin: 10px 0 10px 0;
}
#mathlive-editors #mathlive-latex-formula-wrapper #mathlive-latex-logo img{
	width: 60px;
}
#mathlive-editors #mathlive-latex-formula-wrapper #mathlive-latex-formula {
	width: 679px;
	margin-left: auto;
	height: 50px;
}
#mathlive-editors math-field::part(virtual-keyboard-toggle)::after {
	left: revert;
	right: 0;
	top: 35px;
}
#mathlive-editors math-field::part(menu-toggle) {
	display: none;
}

/* footer */
#mathlive-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#mathlive-footer #mathlive-result-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}
#mathlive-footer #mathlive-result,
#mathlive-footer #mathlive-insert-calculator-result {
	visibility: hidden;
}
#mathlive-footer input#mathlive-calculator {
	width:20px;
}
#mathlive-footer input#mathlive-insert-calculator-result {
	width: 20px;
}
#mathlive-footer #mathlive-result.is-visible,
#mathlive-footer #mathlive-insert-calculator-result.is-visible {
	visibility: visible;
}
#mathlive-footer #mathlive-options {
	margin-left: auto;
}
